[2020-10-29 14:51] #2975 closed

[2020-10-29 14:52] BraisGabin commented on #3184
You will need to create a config file and add this:

[code]

Should we add a flag in the gradle plugin to overwrite this directly... something like `ignoreFailures` in [ktlint-gradle](https://github.com/JLLeitschuh/ktlint-gradle#configuration)?

[2020-10-29 19:10] schalkms commented on #3184
In addition to Brais comment I'd like to give more information by mentioning this link.
https://detekt.github.io/detekt/failonbuild.html

[2020-10-29 19:12] schalkms commented on #3184
I wouldn't do it, since it was a clear decision which settings to move into the config section and which into the CLI or Gradle plugin. Perhaps this creates even more confusion than it brings to the table at the end of the day.

[2020-10-29 19:42] cortinico commented on #3184
We happen to already have an `ignoreFailure` flag:

[code]

From https://detekt.github.io/detekt/gradle.html

[2020-10-29 20:18] cortinico commented on #3130
Turned out to be a bug in the way how we register the `detektBaseline` task in the project. Here the fix: https://github.com/detekt/detekt/pull/3185

[2020-10-29 21:53] #3184 closed

[2020-10-29 21:55] #3130 closed

[2020-10-31 08:49] BraisGabin opened #3189 "MissingWhenCase false negative with nulls"
## Expected Behavior
`MissingWhenCase` should check for null case if the enum or sealed can be `null`

## Observed Behavior
It doesn't check that.

## Steps to Reproduce
[code]

## Your Environment
* Version of detekt used: `master` (`1.14.2`)

[2020-10-31 09:34] BraisGabin opened #3190 "Make kotlinc adapted rule comments internal"
Some of our rules are adaptations from other rules in the kotlin compiler or other sources. We usually add a comment in the code poiting this out and that's good. This way we give credit and in case of bug we can check the source to see if they fixed it already.

But those comments are appearing in our documentation, for example: https://detekt.github.io/detekt/style.html#uselesscallonnotnull or h

[2020-10-31 18:38] schalkms opened #3191 "compileAndLint doesn't compile code if additionalContents are passed"
The compileAndLint() function in test code does not work correctly if `additionalContents` are passed.
The passed code should be compiled no matter if `additionalContents` are present.
Please take a look at the following investigation below.

------

@BraisGabin Yes, I do. Please take a look at the following lines and closely check line number 68.

https://github.com/detekt/detekt/blob/da6259a15c9

[2020-11-01 02:57] chao2zhang commented on #3183
Based on my own understanding, there are two approaches to solve this particular issue
- In the `ValidateConfig` phase, the default `DefaultPropertiesConfigValidator` only checks for the name of each entry in YAML, but does not validate the value type. We can extend the config validation by verifying the type.
- In the `Analyzer` phase, errors are printed out through `LoggingAware` error instead o

[2020-11-01 09:38] BraisGabin commented on #3183
I agree, the second is the way to go.

[2020-11-01 09:39] BraisGabin commented on #3183
I agree, the second is the way to go.

[2020-11-01 18:32] #3131 closed

[2020-11-01 18:33] #3176 closed

[2020-11-01 18:34] schalkms commented on #3190
That’s actually a very good idea. Please go ahead.

[2020-11-01 18:58] TWiStErRob commented on #3176
Awesome collaboration here👏, thank you @sowmyav24 for doing the heavy lifting.

[2020-11-02 10:43] #3190 closed

[2020-11-02 12:55] arturbosch commented on #3183
For the first proposal a yaml json scheme would be really helpful as @3flex mentioned.

[2020-11-02 18:11] arturbosch commented on #2892
Closing as can't reproduce for now.

[2020-11-02 18:11] #2892 closed

[2020-11-02 18:36] arturbosch commented on #3123
Linking https://github.com/detekt/detekt/pull/3084 for further information.

[2020-11-02 18:48] arturbosch commented on #3137
Closing this as detekt 1.14+ needs Kotlin 1.4.

[2020-11-02 18:48] #3137 closed

[2020-11-02 19:00] schalkms commented on #3189
Closed due to the arguments made in the referenced PR.
- https://github.com/detekt/detekt/pull/3194#issuecomment-720625803
- https://github.com/detekt/detekt/pull/3194#issuecomment-720635060

[2020-11-02 19:11] BraisGabin commented on #3189
Should we create a tag "require smart cast" or something similar to track this issues? I mean, even if we close it to find them if we eventually implement it. Or if we want ro evaluate if it's worth it to implement it.

[2020-11-02 19:48] schalkms commented on #3189
An available smart cast detection alone won't solve the problem here. You'll need more sophisticated analysis than that.

[2020-11-02 20:52] t-kameyama opened #3196 "False negatives in NullableToStringCall"
[code]

[2020-11-02 20:54] t-kameyama commented on #3196
I'm working on this issue.

[2020-11-02 21:14] rwqwr opened #3197 "Return value in finally block try-catch-finally expression"
Detekt doesn't check unaffected finally block in try-catch-finally expression on result value.
See: https://kotlinlang.org/docs/reference/exceptions.html#try-is-an-expression
## Noncompliant Code
[code]
## Compliant Code
[code]

[2020-11-02 21:20] schalkms commented on #3197
Thanks for submitting this issue. I suppose **ReturnFromFinally.kt** does not report this snippet.

[2020-11-02 23:22] BraisGabin commented on #3189
🤔 why not?

[2020-11-04 11:08] #3196 closed

[2020-11-04 11:09] #2840 closed

[2020-11-04 12:05] rwqwr commented on #3197
You are right. ReturnFromFinally.kt does not report this snippet.
Can I implement this case?

[2020-11-04 12:09] cortinico commented on #3197
Sure feel free. I'm assigning this issue to you 👍

[2020-11-04 13:17] BraisGabin commented on #2300
@RajatVaryani I'm unassigning you from this issue. If you are still interested in this issue you can open a PR anyway :)

[2020-11-04 13:21] BraisGabin commented on #2259
How is the status of this issue? We did some improvements already in our documentation in this regard. Should we update the tasks that should be done so we can close this issue?

[2020-11-04 13:44] cortinico commented on #2259
I have a draft for this page. I'd love to pick it up and send it out for review in the next days (unless someone else wants to pick it up).

[2020-11-04 16:35] BraisGabin commented on #2259
Sure, go for it!

[2020-11-04 19:28] schalkms commented on #3189
I didn't know that we already have dataflow analysis as part of the `bindingContext`. Great. Thanks for bringing this up.
This issue can be reopened.

https://github.com/detekt/detekt/blob/b1269b58dc704c096ed402f91c9962942989a18a/detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt#L66-L78

[2020-11-04 19:31] schalkms commented on #3189
By the way, this has nothing to do with smart casts per se. The enabler here is data flow analysis as part of the Kotlin compiler. With the help of data flow analysis we can detect whether null checks or the necessary casts have been made before the `when` clause.

[2020-11-04 19:35] schalkms commented on #2259
Sorry for the inconvenience. This one is on me.
It's a pity, but I haven't had the chance to tackle this issue and write the blog post.
However, I created the initial page in the corresponding homepage section.
Please feel free to go for it. I'll happily review the PR.

https://detekt.github.io/detekt/type-resolution.html

[2020-11-05 22:53] yogurtearl opened #3200 "Warn about all CAPS acronym/initialisms in names"
## Expected Behavior of the rule

Various `*Naming` rules should warn about violations of this advice:

https://kotlinlang.org/docs/reference/coding-conventions.html#choosing-good-names
[code]

## Context

Don't want to have to manually watch for this. :)

[2020-11-06 08:23] BraisGabin commented on #3200
So, a list of acronyms and check that those string of chars never appear together and all CAPS. That list should be configurable. We can list some acronyms to be added as default values in that list:

- http
- url
- uri

[2020-11-06 17:52] yogurtearl commented on #3200
More the 4 capital letters in a row is generally violating this rule, so could be as simple as just warning on 4 capital letters in a row? and then maybe having an configuable allowlist of exceptions to the rule?

Normally `ABCThingy` would trigger a warning, but if I put `"ABC"` on my allowlist, then it wouldn't be a warning.

[2020-11-08 00:33] t-kameyama opened #3211 "False negative in NullableToStringCall"
[code]

Related: https://github.com/detekt/detekt/issues/3196

[2020-11-08 00:34] t-kameyama commented on #3211
I'm working on this issue.

[2020-11-08 02:09] kenyee opened #3212 "default config has configuration options that don't exist"
## Expected Behavior
default config should pass

## Observed Behavior
[code]

## Steps to Reproduce
Create a default config or copy the default config from detekt-core in source control

## Context
Mildly annoying to new users

## Your Environment* Version of detekt used: 1.14.2
* Version of Gradle used (if applicable): 6.7
* Operating System and version: Windows 10

[2020-11-08 10:04] BraisGabin commented on #3212
You can not use the config file in master and use it in the last version of detekt because master is ahead of the last version and it could have not released rules. And this is the problem. The cli and the gradle plugin have flags/tasks to get the default configuration.

What could we improve on our documentation to avoid this problem? Is there any misleading documentation/blog that could be fixed

[2020-11-08 10:20] #3211 closed

[2020-11-08 15:35] arkivanov opened #3215 "LibraryCodeMustSpecifyReturnType and LibraryEntitiesShouldNotBePublic do not work"
## Expected Behavior
Both LibraryCodeMustSpecifyReturnType and LibraryEntitiesShouldNotBePublic should detect non-compliant code.

## Observed Behavior
LibraryCodeMustSpecifyReturnType and LibraryEntitiesShouldNotBePublic do not fail on non-compliant code:

[code]

## Steps to Reproduce
Please see the attached archive with Android project. Run `./gradlew detekt` to reproduce the bug. It fails with

[2020-11-08 16:52] schalkms commented on #3215
Hello!
The mentioned rules in the title require type and symbol solving. Did you enable that?
Here's a sample for an Android configuration.

#2259

[2020-11-08 16:56] #3189 closed

[2020-11-08 17:05] schalkms commented on #3200
@yogurtearl
What did you find missing in the standard configuration that allows regular expressions achieving exactly this?

@BraisGabin
I'm honestly not a fan of introducing new configuration blocks for this edge cases, when it could be solved with existing functionality.
As I see it, we shouldn't over-complicate the naming regular expression by trying to cover every edge case.

[2020-11-08 17:29] arkivanov commented on #3215
Probably it is not enabled. From the linked issue #2259 it is not clear to me how to enable. Could you please help?

[2020-11-08 17:58] schalkms commented on #3215
Sure.
`classpath` and `jvmTarget` are the necessary attributes.

https://detekt.github.io/detekt/gradle.html#using-type-resolution

[2020-11-08 18:24] arkivanov commented on #3215
I have set `tasks.detekt.jvmTarget = "1.8"`, but not sure how to set the `classpath` attribute. My config is now as follows:

Root build.gradle:
[code]

App build.gradle:
[code]

[2020-11-08 18:40] arkivanov commented on #3215
The following is mentioned in the doc:

I'm using the predefined `detekt` task, so I assume this should out of the box. But I set `jvmTarget` property as you suggested.

[2020-11-08 19:35] schalkms commented on #3215
Sorry, I overlooked that.
Type resolution is used for the detekt tasks based on source sets (e.g. detektMain or detektTest).
Did you try it with the `detektMain` task?

https://detekt.github.io/detekt/gradle.html#available-plugin-tasks

[2020-11-08 19:35] kenyee commented on #3212
Ahhh...good point.  Didn't think the one in master was so far ahead.
One thing you could do is at the top of this file, mention which version of Detekt it's for.  New parameters should probably cause a minor version bump so if Detekt is currently 1.14.2, say "this is the default config for 1.15.x"

[2020-11-08 19:35] #3212 closed

[2020-11-08 20:49] arkivanov commented on #3215
`detektMain` task passes as well.

[2020-11-08 23:19] schalkms commented on #3215
Here is my config for instance.

`build.gradle project`

[code]

`build.gradle app`

[code]

You can now execute `./gradlew detektCustom`.
With the `UnsafeCast` rule, which requires type and symbol solving, set to `true`, the following code gets flagged.

[code]

[2020-11-09 00:05] arkivanov commented on #3215
Thanks! The `UnsafeCast` rule gets flagged, but not the `LibraryCodeMustSpecifyReturnType`. I have it enabled and the following code is not flagged:
[code]

[2020-11-09 01:07] t-kameyama opened #3219 "False negatives in UnreachableCode rule"
1.
[code]

2.
[code]

3.
[code]

[2020-11-09 11:18] schalkms commented on #3215
Okay, that’s good to know.
Since I’m on mobile, I can’t check.
Did you include the sources in the specific rule config with **includes = []**?
Do you have strict mode enabled in your build script?
Maybe @t-kameyama, who thankfully contributed this rule, has further ad-hoc suggestions.

[2020-11-09 11:41] arkivanov commented on #3215
Thanks for your time!
I don't have `includes = []` for this rule. What is strict mode here? Probably it is not enabled.
I have updated the reproducer link in the description. Running `./gradlew :app:detektMain` flags the `UnsafeCast` but not `LibraryCodeMustSpecifyReturnType`.

[2020-11-09 17:18] schalkms commented on #3215
Sorry for the inconvenience. I should have been more precise. So please let me elaborate what I meant.

I meant the strict mode for library authors. You can declare this in the Gradle file. Please take a look at the Kotlin docs for more info.
https://kotlinlang.org/docs/reference/whatsnew14.html#explicit-api-mode-for-library-authors

The **includes** filter can be declared in the detekt yml config

[2020-11-09 17:33] arkivanov commented on #3215
Thanks for clarification. I don't have the strict mode enabled. Also don't have the `includes` filter.

[2020-11-09 21:46] schalkms commented on #2838
@BraisGabin I think we should do this before v2.0. What do you think?

[2020-11-09 21:59] BraisGabin commented on #2838
I think that we have some real good and non controversial rules that we should enable by default for the new users.

We should balance good defaults and changes that could boder some current users that already cherry pick all that they want.

If I read it properly, we don't enable no battle tested rules by default. But after some versions we should be safe to enable them.

Maybe we could document

[2020-11-10 07:38] BraisGabin commented on #3200
I don't see this as an edge case. This is even pointed out by the coding convention that we know it has a lot of grey areas where they don't define all the cases.

I agree that adding a new configuration is probably not the best way. And I know that we have bigger issues in the naming implementation: #3150

I think that we could implement the idea proposed by @yogurtearl with regex:
`[a-z][a-z0-9]

[2020-11-10 11:20] #3219 closed

[2020-11-10 14:22] #3183 closed

[2020-11-11 00:33] t-kameyama opened #3222 "False positive in ThrowsCount rule"
[code]

`foo` at line 3 should not be reported as well as ReturnCount rule.

[2020-11-11 11:04] #3222 closed

[2020-11-12 11:20] schalkms commented on #3200
That’s exactly the problem I see. This is for sure on of the controversial points in the guideline.

[a-z][a-z0-9]*([A-Z]{1,3}[a-z0-9]+)*[A-Z]{0,3} (I didn't check it so be careful if you use this regex)

@yogurtearl can you please try that out for your use case?

Furthermore, the change for the default config would be kind of breaking, since exisiting code would get flagged with the new default c

[2020-11-12 22:00] arturbosch commented on #2838
I'm not sure if we wanted to enable all of these but these rules are only enabled in our analysis but not by default:

https://github.com/detekt/detekt/blob/d0734523bb133d429e465573706c2c1398ca33aa/config/detekt/detekt.yml#L136-L160

[2020-11-12 22:28] arturbosch commented on #2680
Hey @BraisGabin , sorry for the late response!
Many of our rules have this scheme:

[code]

Even so we are only visiting function the whole KtFile and all it's nodes need to be traversed.
So in the end we have x-visits for y-rules (x * y).

One possible improvement would be:

[code]

The rules need to be immutable so we can parallelize the `file.visit`. Note this is pseudocode and should need some

[2020-11-15 20:53] arturbosch commented on #3045
Hi @lgolding

I've found time to get back to this and incorporated all your feedback; thanks for that!

All default values now get stripped. The online validation passes and the vscode-viewer allows to jump to that issue and marks it red.

We do not have the access to the `fullDescription` of our rules programmatically, so I just added a `shortDescription` to the `reportingDescriptors`. This shoul

[2020-11-16 15:50] lgolding commented on #3045
Hi Artur, this looks really good!

In the [online validator](http://sarifweb.azurewebsites.net/Validation), you can check "Additional suggestions" to see more ways you can make your SARIF more useful, and also to conform to certain conventions we recommend.

[2020-11-16 21:58] fr373969 opened #3240 "Confusing Detekt gradle tasks"
## Expected Behavior

`./gradlew :feature:myFeature:detekt` should reveal violations from `./gradlew :feature:myFeature:detektdebug` and `./gradlew :feature:myFeature:detektRelease`

## Current Behavior

`./gradlew :feature:myFeature:detekt` will not reveal violations locally and show build success

## Context

I found detekt variant and gradle variant are not compatible, for example, in my repo's

[2020-11-18 15:24] sowmyav24 commented on #2300
I had a look at the IDEA inspection rule. They also do a `ReferencesSearch` for the function under inspection which we would need to determine the if the function can be private.
I did not find any existing rule, which requires referencing across the files during analysis. Do correct me if there is any such rule is already present.

[2020-11-18 19:12] BraisGabin commented on #2680
Which is the slow part? The visit or calling a lot of empty functions? The problem of your approuch are the subtypes. What do you think about this:

[code]

This way in your rule you can do something like:

[code]

And in the core we would do something like:

[code]

As in your example, this is not final code, is just to illustrate the concept.

[2020-11-18 19:59] cortinico commented on #3240
Those tasks that you're linking are different as far as it concerns type resolution: https://detekt.github.io/detekt/gradle.html#available-plugin-tasks

So `:detekt` has TR disabled while `:detektDebug` and `:detektRelease` have it enabled.
You're probably looking for the task `:detektMain`

[2020-11-18 20:24] BraisGabin commented on #3240
What @cortinico say is correct.

I think that, once we move to detekt 2.0 we will change this. And detekt will run detektDebug and detektRelease the same way that test runs testDebug and testRelease

[2020-11-19 03:14] sowmyav24 commented on #1340
How would  the configuration for this look like ? Would it make sense to have a property `IgnoreClass` with a list of `IGNORE_ON_CLASSES_PATTERN` that would be checked for all the rules configured. Or would it make sense to have this property at RuleSet level, For eg: `comments`, `complexity` etc

[2020-11-19 07:28] BraisGabin commented on #1340
Can't this be archived with exclude?

[2020-11-19 09:00] comdiv opened #3241 "HtmlReport error in rule: SpacingAroundColon"
I found an error in the html report:
- Rule: SpacingAroundColon
- Detekt version: 1.15.0-RC1
- Stacktrace:
[code]
- How to reproduce it: <WRITE HERE HOW TO REPRODUCE THIS ISSUE. A CODE SNIPPET IS THE BEST WAY.>

[2020-11-19 11:01] #3197 closed

[2020-11-19 11:02] cortinico commented on #3241
Are you able to provide the steps to reproduce this?

[2020-11-19 12:29] sowmyav24 commented on #1340
Exclude is present at individual rules if I am not wrong. My understanding of the issue was, having a global exclude.

[2020-11-19 23:31] schalkms commented on #3133
Closed due to the issue in ktlint's repo.

[2020-11-19 23:31] #3133 closed

[2020-11-19 23:32] schalkms commented on #3146
Closed because of not being able to reproduce this.

[2020-11-19 23:32] #3146 closed

[2020-11-19 23:36] schalkms commented on #3024
Are there any efforts to drive this forward?
Are there any definitive decisions?
Otherwise, we should close this, I think.

[2020-11-19 23:38] schalkms commented on #2414
I think this issue is done, right?

[2020-11-19 23:42] schalkms commented on #2560
@BraisGabin do you still actively work on this project? I think it's a hidden gem, which should gain more visibility in the detekt ecosystem. 🙂

[2020-11-19 23:44] schalkms commented on #2081
Since there were no efforts to move this to another repository as well as no further feedback, I'll close this for.
If you have contradicting opinions to mine, please feel to reopen this issue.

[2020-11-19 23:44] #2081 closed

[2020-11-19 23:45] schalkms commented on #1687
Since there were no efforts to rename the rules as well as no further feedback, I'll close this for now.
If you have contradicting opinions to mine, please feel to reach out or reopen this issue.

[2020-11-19 23:45] #1687 closed

[2020-11-19 23:47] schalkms commented on #39
Puhh, this issue is very old. We've done a lot to improve the performance of detekt.
@arturbosch Is this issue still up-to-date in your opinion? Otherwise, I'd like to close this.

[2020-11-20 07:22] BraisGabin commented on #2560
No really. I still think about it but I didn't implement anything new in 8 months.

[2020-11-20 07:37] BraisGabin commented on #2081
I'm OK about closing this for now. I still think that we should move it to other repository but I think that the first step is to remove formatting from the default configuration. I'm going to open a new issue to do that.

[2020-11-20 08:11] BraisGabin opened #3242 "Implement ConfigPropertiesProvider"
## Expected Behavior
If I autogenerate the detekt config file without the formatting plugin, the generated file will not contain any reference about the formatting ruleset.

## Current Behavior
It appears

## Context
This was a comment in #2081 and Artur propose an interesting solution:

https://github.com/detekt/detekt/issues/2081#issuecomment-568305348

[2020-11-20 08:17] BraisGabin commented on #1340
The detekt gradle plugin has options to include/exclude files so they are not part of the analysis so maybe that's a way to accomplish that. A bit offtopic but maybe we have problems with this. Because right now the list of files to review and the list of files that we use to generate our `BindingContext` is the same... and probably they should not be the same.

[2020-11-20 08:51] 3flex commented on #2414
Not exactly, since the detekt Gradle plugin is built with Gradle 6.7 (as is the rest of the project). But since the detekt Gradle plugin supports Gradle 5.4 and up, it should be built with Gradle 5.4, not 6.7.

That said unless the build setup changes back to being a composite build, or the whole project is built with Gradle 5.4, it's not possible to resolve this, so maybe close as won't fix...

[2020-11-20 18:42] #2414 closed

[2020-11-20 18:43] #3191 closed

[2020-11-20 19:11] arturbosch commented on #39
Yep, a compiler is the way to go which also brings the desired performance boost.

[2020-11-20 19:11] #39 closed

[2020-11-20 19:24] rHlushan opened #3243 "java.lang.IllegalStateException: Analyzing"
[linters.gradle.txt](https://github.com/detekt/detekt/files/5575667/linters.gradle.txt)

## Steps to Reproduce
after upgrade from verion 1.13.1 to 1.15.0-RC1

## Context
Execution failed for task ':detekt'.

  The original exception message was: kotlin.KotlinNullPointerException
  Running detekt '1.15.0-RC1' on Java '1.8.0_242-release-1644-b3-6915495' on OS 'Mac OS X'
  If the exception message do

[2020-11-20 20:23] schalkms commented on #39
I didn't think about the compiler-plugin. Yes, this will sky-rocket the performance level. 😃

[2020-11-21 11:34] egorikftp commented on #3243
The same for me, today started crashes without any changes.

Version 1.14.1

[2020-11-21 13:52] BraisGabin commented on #3243
Do detekt print a full stack trace? Could you share it?

[2020-11-21 16:51] #2259 closed

[2020-11-21 21:08] rHlushan commented on #3243
Sorry, that is full slack.
Also tyied with --info, --debug but was no more info.

[2020-11-21 21:09] cortinico commented on #2259
The page is now available here: https://detekt.github.io/detekt/type-resolution.html

Feel free to contribute, open issues & give suggestions 👌

[2020-11-23 13:27] Whathecode opened #3244 "Documentation on KDoc attributes."
I don't know in which release, but at some point in the past after upgrading my custom rules were no longer `active` by default. I only just noticed now they no longer run.

I found the following in the [extending detekt documentation](https://detekt.github.io/detekt/extensions.html#pitfalls):

However, even when adding `@active` in the Rule's documentation I still need to set the specific rules t

[2020-11-23 17:00] adamkobor opened #3245 "ExplicitItLambdaParameter rule is not working"
Hey there, I'm experiencing a weird bug with the `ExplicitItLambdaParameter` rule. I've enabled it in my config.yml, but it definitely doesn't trigger any rule violation.

## Expected Behavior
It should trigger a rule violation for multi-line lambdas with implicit `it` parameters.

## Observed Behavior
It doesn't trigger a rule violation in the cases described above.

## Steps to Reproduce
Write a

[2020-11-24 07:38] vladimirfx commented on #3131
I've try detekt 1.15.0-RC1 - issue fixed

[2020-11-24 07:47] vladimirfx opened #3246 "UnusedImports false positive for annotation used in another annotation attributes (with type resolution)"
## Expected Behavior
When an annotation used in another annotation attributes that annotation import should not marked as unused.

## Steps to Reproduce

[code]

In such code `import somepkg.AnnotationA` is reported as unused.
## Context

## Your Environment
* Version of detekt used: 1.15.0-RC1
* Version of Gradle used (if applicable): 6.7.1

[2020-11-25 10:38] VladislavSumin opened #3248 "Detekt parallel crash"
## Observed Behavior
 Detekt crashes when executed in a project with multiple modules and enabled org.gradle.parallel with java.lang.ClassNotFoundException: kotlin.ExceptionsKt

The problem is reproducible with 100 percent probability.
I found similar closed issue #2629

<details>
  <summary>Detekt configuration</summary>

[code]

</details>

<details>
  <summary>Full stack trace</summary>

[2020-

[2020-11-25 21:15] SaezChristopher opened #3250 "Detekt crash on autoCorrect property"
## Expected Behavior
I expect autocorrect is reformatting source code

## Observed Behavior
<details><summary>Detekt crashed (click here)</summary>

[code]

</details>

## Steps to Reproduce

the file that detekt failed on:
[code]

## Context

## Your Environment
my detekt config:
[code]
The default config remained unchanged and detekt crsah even with no defaut config

[2020-11-27 08:32] arturbosch commented on #3250
Hm, seems to happen when converting offsets to line numbers and related to the workaround I removed for 1.15.0

[2020-11-27 08:34] arturbosch commented on #3248
Thanks for reporting this.
Have you already updated Kotlin to 1.4.20?
Does this crash even with Kotlin 1.4.10?
I assume you restarted the Gradle daemon when updating detekt?

[2020-11-27 13:25] sanogueralorenzo opened #3251 "LongMethod excludes functionality or global excludes config rule definition"
Hello everyone 👋 , creating an issue here to encapsulate the global ignore / exclude functionality.

I found a specific use case for it (but I could imagine how it can be applied in many other rules).

The initial discussion happened in kotlinlang detekt slack which you can read [here](https://kotlinlang.slack.com/archives/C88E12QH4/p1603884469024100)

## Context
In short, it would be nice to have

[2020-11-27 13:29] vladimirfx commented on #3251
In first rule that needs exludes do:
[code]

In other places do:

[code]

[2020-11-27 18:09] SaezChristopher commented on #3250
👍 Honestly, Detekt is so huge that i had to report it :)

[2020-11-27 21:31] sanogueralorenzo commented on #3251
Does this exclude work for any rule?

How would that look for excluding LongMethod on specific method names like `getEpoxyController`?

[2020-11-28 10:08] BraisGabin commented on #3251
There are a lot of options here: function name, class name, file name (already covered), package, source set, with annotation...

I agree that we need to unify the way to add exceptions to a rule but I don't see how to do it in a flexible way. The only way that I can think of is by using a dsl so anyone can write its own exclusion code. Obviously we should provide easy ways to archive usual use ca

[2020-11-28 18:01] arturbosch commented on #3250
It was not the removed workaround from 2016.
`file.getViewProvider().getDocument().text` has the state before auto correcting while `file.text` is now formatted.

We may need to safe after the autoCorrecting rules are finished or find another way to calculates lines:
`fun ASTNode.line(inFile: KtFile) = DiagnosticUtils.getLineAndColumnInPsiFile(inFile, this.textRange).line`

[2020-11-28 20:12] cortinico commented on #3251
Agree on what @BraisGabin mentioned.

To get back to the specific rule/problem, I believe we should probably add an `excludeMethods` (or `excludeMethodsNamed`) to allow filtering based on the name of the function.

I can see how this config could be used in other scenarios (e.g. the `onCreate` on a Jetpack Compose based Android application).

[2020-11-28 20:22] cortinico commented on #3243
Can you please create a reproducer project where we can test what is failing?

[2020-11-28 20:33] cortinico commented on #3245
As described in the rule documentation: https://detekt.github.io/detekt/style.html#explicititlambdaparameter
your code is actually valid, as you're using an **implicit** `it` parameter. The rule flags **explicit** usages of the `it` parameter.

[2020-11-28 21:09] cortinico commented on #3244
This is true for the rules coming with detekt

I believe this statement is not correct, but I'd love @arturbosch to verify it.
The `@active` or `@active since v....` is used by `detekt-generator` to render the `default-detekt-config` file. If a rule in detekt does not specify the `@active` annotation, that rule will be disabled.

The ` since v....` part is just for documentation as we just check i

[2020-11-28 21:13] adamkobor commented on #3245
OMG, what a rookie mistake (and also a misread) 😄 Thanks, I was concentrating only to the word "lambda" in the rule's name

[2020-11-28 21:13] #3245 closed

[2020-11-28 21:17] cortinico commented on #3246
Have you enabled type resolution? This rule has a mixed behavior (see #2994) based on wether you have Type Resolution enabled or not: https://detekt.github.io/detekt/type-resolution.html

I'm adding a test with your snippet and it seems to work fine:
https://github.com/detekt/detekt/pull/3255

[2020-11-28 21:29] SaezChristopher commented on #3250
Ok, what do you suggest?
- Fork it while you will fix it?
- Wait for a fix?
- Should I should a old version? if yes, which one is "stable"

[2020-11-28 22:16] arturbosch commented on #3250
The previous version 1.14.2 is stable. Does it work for you?

Sorry, I was just dumping what I found out about the issue :).

[2020-11-29 09:20] BraisGabin commented on #3244
I think that the correct one for custom rules are:

At the end of the day `@active` is just an annotation in the KDoc. At runtime detekt doesn't check those. So, I think that, to enable your rule, you should do it by yaml or overriding the property `active` in the rule.

We need to rewrite that documentation part.

[2020-11-29 10:20] BraisGabin opened #3257 "Allow only Destructuring declaration for some classes"
## Expected Behavior of the rule
This rule will only allow the use of Destructuring declaration for some clases as `Pair`, `Triple` or `Entry`. It should be configurable because it have sense to allow things like `Point` or `Color` to use destructuring declaration. Any other use of Destructuring declaration should be marked as an error.

Probably we should add other flag to allow destructuring any

[2020-11-29 12:16] cortinico commented on #3257
Generally agree on the idea for this rule. I'm just wondering how inconvenient would be for our users to end up having to edit the config for every class they want to destructure.

[2020-11-29 12:43] rHlushan commented on #3243
Sorry, but because of some security reasons I can't.
But generally this is a multi-module project.
Maybe I can help u in another way?

[2020-11-29 12:48] cortinico commented on #3243
I'm not asking to share your project but rather a reproducer. You can use a template like this one https://github.com/cortinico/kotlin-android-template and try to apply your configuration to reproduce this failure.

As an alternative please provide:
- The full stacktrace
- A Gradle build scan

[2020-11-30 09:37] VladislavSumin commented on #3248
I checked for kotlin version 1.4.20 (use kotlin-dsl 1.4.4 on buildSrc) but nothing changed

[2020-11-30 09:59] romangromov commented on #3100
Why this closed? Documentation says it is a `template`, but not a raw substring to check. Maybe it should not be named as `template` then?

[2020-11-30 16:47] cortinico commented on #3100
The template name is probably misleading. Detekt just checks if your source code starts with the license from the file you provided. There is template engine running.

[2020-11-30 16:52] Drjacky opened #3260 "No detekt task on result of gradle task"
## Expected Behavior
When I run `gradle task` detek* tasks needs to be shown.

## Observed Behavior
When I run `gradle task` detek* tasks not shown.

## Steps to Reproduce
[This](https://github.com/Drjacky/MVVMTemplate/compare/feature/detekt) is the sample project.
I've added `detekt.gradle.kts` under root/config/detekt/here among other detekt yml files. And added
`implementation("io.gitlab.arturb

[2020-11-30 17:01] cortinico commented on #3260
To use precompiled script plugin, you need to place them inside the `buildSrc` folder. So you should move your `detekt.gradle.kts` from `./config/detekt/` to `.buildSrc/src/main/kotlin/`

[2020-11-30 17:08] Drjacky commented on #3260
Now, I moved it there but, still `gradle task` doesn't show `detekt` tasks.

[2020-11-30 19:57] rHlushan commented on #3243
Just tried it now.
It works.
Really don't know why it does not.
Uploaded my config: https://github.com/rHlushan/template_30/commit/3f860e32f3b5d967e95b3a3150c6a621b06a21ff
Hope that will help to some one.

[2020-12-01 09:46] severn-everett opened #3263 "Disallow invocations of Thread.sleep() in coroutines/suspending functions"
## Expected Behavior of the rule
The potential rule `SleepInsteadOfDelay` would flag usages of `Thread.sleep()` in coroutines and suspending functions; as the rule name suggests, the correction would be to swap out the function call and insert `delay()` instead.

## Context
The traditional way to halt the execution of code for a fixed period of time in Java/Kotlin is to call `Thread.sleep()`. Kotl

[2020-12-01 16:06] Drjacky commented on #3260
With the current changes: https://github.com/Drjacky/MVVMTemplate/compare/feature/detekt, I could see detek tasks but, running `gradle detek` doesn't generate report or show report on the console. It has right to act like this as the plugin is only defined in the root build.gradle.kts file. If I add it to other modules, like `:app`, it shows this error:
[code]

[2020-12-01 18:53] BraisGabin commented on #3263
Good idea! Do you want to give it a try and implement it?

[2020-12-01 20:23] vladimirfx commented on #3246
Yes I’ve use type resolution. Hm it seems I missing some important detail...
 In your test case there is no attribute in AnnotationB. How it compiles?

[2020-12-01 20:40] vladimirfx commented on #3251
No it works in rules where it applied. Can you clarify on use case for excludes from all rules?

Unfortunately not all rules provide relevant excludes. E.g method centric rules should provide method name and annotation excludes at minimum. Than Yaml provides a way to reuse exclude lists between rules.

[2020-12-01 22:24] cortinico commented on #3246
Yup you're right. I've updated the test with a correct version. Unfortunately we don't have support for compiling snippets when there is more than one file involved.

To be fair, the snippet you posted initially was also invalid. You have to instantiate an annotation when passing it as parameter to another annotation: `@AnnotationB(attribute = AnnotationA())`.
Would you be able to provide a differ

[2020-12-02 12:50] Drjacky commented on #3260
The solution is, not using the exact file uploaded [here](https://github.com/detekt/detekt/blob/master/buildSrc/src/main/kotlin/detekt.gradle.kts); Specially about `subprojects`.

Root `build.gradle.kts`:
[code]

`detekt.gradle.kts`:
[code]

Nothing else on other modules like `:app`, `:presentation`, etc.

`buildSrc` -> `build.gradle.kts`:
[code]

[2020-12-02 12:50] #3260 closed

[2020-12-04 15:13] gkaradagan opened #3264 "Custom Rules not checking"
Hello,

I want to write my custom rules such as [ViewModelName](https://github.com/gkaradagan/Todo/blob/master/custom-detekt-rules/src/main/java/com/gorkem/detekt/ViewModelNameRule.kt) or [RepositoryPackageRule](https://github.com/gkaradagan/Todo/blob/master/custom-detekt-rules/src/main/java/com/gorkem/detekt/RepositoryPackageRule.kt).

After I wrote my custom rules and [CustomRulesSetProvider](ht

[2020-12-04 16:23] gkaradagan commented on #3264
I have been working on this problem for 2 days, and I found the solution after I wrote here :)

**Old Code**

**New Code**

[2020-12-04 16:23] #3264 closed

[2020-12-06 14:36] cortinico commented on #3243
I've just tested your repo and detekt works fine (it fails with an exception):

[code]

Can we close this then?

[2020-12-06 15:34] rHlushan commented on #3243
for me yes.
if nobody has another opinion.
Thanks

[2020-12-06 15:34] #3243 closed

[2020-12-07 09:13] danikula opened #3265 "False positive for NoUnusedImports"
## Expected Behavior
Detekt should not report `NoUnusedImports` for used import.

## Steps to Reproduce
Bar.kt
[code]

Foo.kt
[code]

Detekt reports issue `NoUnusedImports` in line ```import detekt.bar.`is` as is2```

## Your Environment
* Version of detekt used: 1.15.0-RC1
* Operating System and version: Mac OS 10.15.7

[2020-12-07 16:27] torbjornlu opened #3266 "Exception in IntelliJ 2020.3"
Hi,

I just upgraded to IntelliJ 2020.3 and I get an exception saying:
Exception in plugin detekt (1.6.1)

java.lang.ClassCastException: class com.intellij.psi.impl.compiled.ClsFileImpl cannot be cast to class com.intellij.psi.impl.source.PsiFileImpl (com.intellij.psi.impl.compiled.ClsFileImpl is in unnamed module of loader com.intellij.ide.plugins.cl.PluginClassLoader @750460c3; com.intellij.psi.

[2020-12-08 01:46] cortinico commented on #3265
The `NoUnusedImports` rule is a rule that we mirror from KtLint: https://github.com/pinterest/ktlint/blob/master/ktlint-ruleset-standard/src/main/kotlin/com/pinterest/ktlint/ruleset/standard/NoUnusedImportsRule.kt

You should open a similar issue on https://github.com/pinterest/ktlint (perhaps they already have a similar issue resolved https://github.com/pinterest/ktlint/issues/910).

Closing as t

[2020-12-08 01:46] #3265 closed

[2020-12-08 03:10] comdiv opened #3267 "Is where some examples or documentation about changing code?"
There is autocorrect feature. But where is no any guides or examples how to deal with source code changing (for example add imports, supertypes or something like this). Is it possible provide samples, links or guildes about code changing with detekt?

[2020-12-08 08:14] #3266 closed

[2020-12-08 09:49] cortinico commented on #3267
Probably a duplicate of https://github.com/detekt/detekt/issues/2314

We don't have documentation for this as there are no detekt rule that are using this feature (other than the one from KtLint). There are no official API to properly support editing the code on Detekt's end.

You can probably do as suggested in #2314: you can use the `rawReplaceWithText` function on `LeafPsiElement` to full repla

[2020-12-08 10:08] BraisGabin commented on #3267
And probably ktlint code base could help you to see examples. All their rules have this feature.

[2020-12-08 10:17] comdiv commented on #3267
thx

[2020-12-08 10:18] #3267 closed

[2020-12-08 17:10] sboishtyan opened #3269 "Set level of logging for `io.gitlab.arturbosch.detekt.api.ConsoleReport`"
## Current Behavior
As I see in the `io.gitlab.arturbosch.detekt.core.reporting.OutputFacade#handleConsoleReports` all console reports are printed to the `outputChannel`

## Expected Behavior
I could change printing to the `errorChannel`

## Context
We have a plugin that captures all errors from Gradle execution logs.
An alternative solution: our plugin will know where it can find a detekt's txt r

[2020-12-08 21:44] schalkms commented on #3269
Hello!
If understand it correctly, this looks to me like a typical use case for a custom detekt extension. You can then configure your preferred output location.
For more information please refer to the guide [here](https://arturbosch.github.io/detekt/extensions.html#custom-reports).

[2020-12-08 21:46] schalkms commented on #3215
Since this thread became a bit silent, please let me ask a question.
@arkivanov do the mentioned configuration options help in your case?

[2020-12-08 22:12] sboishtyan commented on #3269
It looks fittable. But I will duplicate each existed extension
So my opinion is better to change where to print than duplicate existed extensions only for change where to print.
But you like an owner knows better how `detekt` must be designed

[2020-12-08 22:38] arkivanov commented on #3215
@schalkms No it still does not work for me. You can check the attached sample project.

[2020-12-09 07:11] sschuberth commented on #3248
I seem to have the same problem in https://github.com/sschuberth/stan/tree/upgrades. I can reproduce it with detekt 1.14.2 and Kotlin 1.4.20, but reverting to Kotlin 1.4.10 seems to make the issue go away.

[2020-12-09 12:06] To-da commented on #3248
**Observed Behavior**
Exactly the same problem (crash only on project with multiple modules and enabled org.gradle.parallel) but nto found classes vary on every run - like kotlin/jvm/internal/Intrinsics, kotlin/io/CloseableKt, kotlin.ExceptionsKt

**Environment**
detekt: 1.14.2
kotlin: 1.4.20
gradle: 6.7

[2020-12-09 14:04] iAmMONK opened #3271 "How to get it up and running for Android projects ?"
Hey, so I wanted to update the version from version 1.7.3 to 1.14.2 and I am having problems with the migration.

Previous setup:
In the project level build.gradle
`classpath 'io.gitlab.arturbosch.detekt:detekt-gradle-plugin:1.7.3'`
In the app level build.gradle
`apply from: '../config/quality.gradle'`
The quality.gradle file
[code]

Now if I just update the version I am getting an error that the

[2020-12-09 19:05] schalkms commented on #3215
Once again sorry for the slow response supporting you with this issue.
I created a vanilla Kotlin console project with Gradle (Kotlin) as build system and configured the mentioned rules like this.

[code]

[code]

Running `detektMain` or `detekt` yields the expected results when using your `Foo.kt` in the `main` source folder.
I think the `includes` filter should be documented better for those two

[2020-12-09 19:43] arkivanov commented on #3215
Thanks! Adding `includes` config solved the issue.

[2020-12-09 19:43] #3215 closed

[2020-12-09 19:46] arkivanov commented on #3215
Actually I would expect that by default without `includes` it should include everything. Currently I configured it as  `includes: ['**']`.

[2020-12-09 20:10] Mygod commented on #2927
Hmm I am not able to find 1.14 artifacts...

[2020-12-09 23:44] josepalafox commented on #3045
Hey I just wanted to check in and see if we could support getting this merged. Please let us know if any help is needed!

[2020-12-10 01:10] jangrewe opened #3272 "error: unresolved reference: BuildConfig"
I'm only doing a bit of app development in my spare time, but i recently migrated a Java project to Kotlin a wanted to apply some of the best practices to this (to me) new language, and when i came across detekt it looked like a perfect choice.
I've added it to my CI pipeline to have it's report submitted to Sonarqube, and am very happy with how easy it was to set up.

Unfortunately i'm getting qu

[2020-12-10 07:54] BraisGabin commented on #3045
1.15.0-RC1 supports sarif. It will be great if you can test it in some use cases and give feedback.

[2020-12-10 08:04] alwaystest opened #3273 "ForbiddenComments don't report TODO: in KDoc"
## Expected Behavior

`TODO:` in KDoc should be reported.

## Observed Behavior

`TODO:` in KDoc not be reported.

## Steps to Reproduce

[code]

`detekt -r xml:result.xml -i Test.kt`

Nothing is reported in result.xml

## Your Environment

* Version of detekt used:  1.14.2 CLI
* Version of Gradle used (if applicable):
* Operating System and version: OSX 10.15.4
* Link to your project (if it's a p

[2020-12-10 10:48] schalkms commented on #3215
Thanks for the feedback! Yes, the docs and the default config should be updated. However, I think that `**` is too global. This would also flag code in the **test**, which is unwanted.

[2020-12-10 11:15] arkivanov commented on #3215
In my case I really want this rule to flag the test code as well. But in general, I think it would be good to include everything if `include` is not specified. For me it was an unexpected behaviour.

[2020-12-10 12:57] sanogueralorenzo commented on #3251
Can't think of one for all rules but imagine you have a method name that you want to avoid from any detekt flag. Instead of adding `@Suppress` or baseline each time it would be good to have a global method exclude

Anyway, for my specific problem I just want to ignore all `getController` method names to be reported as a long method due to the nature of that method name used to draw epoxy views

Ho

[2020-12-10 17:45] chao2zhang opened #3274 "Configurable severity per rule"
This topic was previously discussed in #3129 and #533, but I would like to make a proposal with new information.

Some well-known static analysis tools allow the users to configure severity on rule or ruleset:

-  [Checkstyle](https://checkstyle.sourceforge.io/config.html#Severity) allows configuring the severity of each rule to ERROR, WARNING, or IGNORE
- [Android Lint](https://cs.android.com/and

[2020-12-10 17:48] chao2zhang commented on #3274
Note: I am willing to contribute PRs for this feature request, #3045  and #533. But I would like to get a general consensus before moving on.

[2020-12-10 18:36] lgolding commented on #3045
@michaelcfanning @eddynaka (handling this going forwards, AFAIK) -- FYI

[2020-12-11 00:46] josepalafox commented on #3045
OK I'll see if someone on our team can review this and take a stab at
writing a workflow file and an action to upload the SARIF to GitHub.

On Thu, Dec 10, 2020 at 10:37 AM Larry Golding <notifications@github.com>
wrote:

--
Jose Palafox
Strategic Accounts @ GitHub
JosePalafox@GitHub.com
503.877.2403

[2020-12-11 12:36] schalkms commented on #3274
Thanks for submitting the proposal and willing to contribute this feature.
The proposal is fine for me, although I have one question. On which part exactly do you need a consensus?

[2020-12-11 16:28] chao2zhang commented on #3274
It sounds like there is no concern, so we are already at a consensus.

I think the weakest point is probably `In my opinion, this feature should be implemented before we close #533 and #3045`

[2020-12-11 18:33] schalkms commented on #3269
I'm afraid, I don't quite understand. You mentioned that you only the `ConsoleReport`. Did I maybe miss something here? Please correct me if I'm wrong. Thank you!

[2020-12-11 18:38] schalkms commented on #3274
I'm fine with adding a config option here.

https://github.com/detekt/detekt/blob/fc5c993f5df7a84fed527cfa148422690e3e463f/detekt-core/src/main/resources/default-detekt-config.yml#L10-L14

[2020-12-11 18:43] sboishtyan commented on #3269
As I understand the detekt has six implementations of `ConsoleReport` for each part of `Detektion`. And I have to copy-paste some of them e.g. `FindingsReport` and then add my code for logging destination

[2020-12-11 18:51] schalkms commented on #3269
Yes, that's true. Nevertheless, nothing prevents the user from consolidating those reports into 1 custom report extension. The reports are split up in order to allow for a granular configuration.

[2020-12-11 19:05] schalkms commented on #3273
Thanks for reporting this!
This is reproducible.

[2020-12-11 19:47] schalkms commented on #3273
Fix is on it' way and will be merged for the next detekt release.

[2020-12-11 20:15] swinton commented on #3045
Trying to test this over [here](https://github.com/swinton/web-app-react-kotlin-js-gradle).

Could someone provide some directions on how to generate the SARIF report? I tried the following after building the `.jar` from https://github.com/detekt/sarif4j, but no luck, I'm only getting the plain text report 🤔

[code]

[2020-12-11 20:16] schalkms commented on #3274
I would start small with just the first idea leaving out more advanced and complex options.

[2020-12-11 20:42] arturbosch commented on #3045
Hi @swinton,

`./detekt-cli/build/run/detekt -i ~/git/repos/kutils/ -p detekt-report-sarif/build/libs/detekt-report-sarif-1.15.0-RC1.jar -r sarif:sarif.json` works fine for me for relative paths and `-r sarif:/home/artur/sarif.json` for absolute ones.

You mentioned the jar from https://github.com/detekt/sarif4j . `sarif4j` is bundled inside `detekt-report-sarif` so you have to referene this jar w

[2020-12-11 21:10] schalkms opened #3279 "Activated rules don't do anything without an includes filter"
This happens for the following rules
- LibraryCodeMustSpecifyReturnType
- LibraryEntitiesShouldNotBePublic

This behavior is confusing. So I suggest to update the rule doc and the config as follows.

[code]

Context:
Please see #3215 where this scenario came to attention.

I would like to get a general consensus before submitting a PR. Thank you!

[2020-12-11 21:11] schalkms commented on #3279
Please note that this rules only make sense for `main` but not for `test` code.

[2020-12-11 21:48] arturbosch commented on #3279
Truly the documentation does not point out that `include` needs to be used for these rules.

Both rules work as intended imo. We can't say what library code is and what not. So the developer has to specifically opt-in by providing the paths which this rule will check.

I suggest updating the docs and provide an example configuration.

[2020-12-11 22:35] arturbosch commented on #2927
Hey @Mygod,
we moved to maven central (https://mvnrepository.com/artifact/io.gitlab.arturbosch.detekt/detekt-formatting/1.15.0-RC1) due to unstable releases when uploading to many files to Bintray.

[2020-12-11 22:39] schalkms commented on #3279
@arturbosch will do. That's a good idea. Anyways, both rules are great and should be activated by default IMHO.

[2020-12-11 23:21] ileasile opened #3280 "False positive "Unconditional loop jump""
Given the following code:
[code]

## Expected Behavior
It should pass the check

## Observed Behavior
It reports "unconditional loop jump" because of `return` statement

## Steps to Reproduce
-

## Context
-

## Your Environment
Used detekt from codefactor.io, see https://www.codefactor.io/repository/github/kotlin/kotlin-jupyter/source/notebook-api/jupyter-lib/kotlin-jupyter-api/src/main/kotlin/or

[2020-12-11 23:59] chao2zhang commented on #3279
`ForbiddenPublicDataClass` also falls into this group.

Other than library modules, we may have app modules or repos consuming detekt. Because we do not have data on how much of our clients are library modules, so I would not recommend enabling this by default.

[2020-12-12 00:15] schalkms commented on #3272
Hello Jan!
Is the mentioned project based on Android? If yes, you might have a known issue, which is already reported.
Could you please check this and report back? Thank you.

Source: https://detekt.github.io/detekt/gradle.html

[2020-12-12 00:20] jangrewe commented on #3272
Thanks, that sounds like it could be the issue i'm also seeing. The upstream ticket sounds like there's not going to be a fix "soon", i guess... okay then, i'll try to survive it ;-)

[2020-12-12 00:27] schalkms commented on #3272
Sorry for that. Unfortunately, the fix is not in detekt's hands.
I'm closing this, since it's already known. Thanks for the fast feedback by the way.

[2020-12-12 00:27] #3272 closed

[2020-12-12 00:47] chao2zhang commented on #2680
I am working in a team of around 100~ Android developers. I recevied several complaints about autoCorrect is not working for all rules. It seems that autoCorrect is only working for ktlint rules, but I believe a fairly large number of rules under `styles` are actually autoCorrectible.

Given that we have not written autoCorrect rules in detekt, I couldn't safely assert that autoCorrect support is

[2020-12-12 09:11] BraisGabin commented on #3274
I agree about adding a config for each rule. But, what should be the default severity?

I think that all of them should be consider errors and then give the users the option to low the severity if they want.

About the severity I think that 4 levels are enough: error, warning, info, ignore (I don't care that much of the names them selfs, but the idea)

And what do we do if we have an active rule w

[2020-12-12 09:17] BraisGabin commented on #3272
I think that https://github.com/detekt/detekt-compiler-plugin could fix this but I must say that I don't know how is its current status.

[2020-12-12 10:28] schalkms commented on #2680
Thanks for the good detailed feedback! There’s already an open issue. Please take a look at #2560 .

[2020-12-12 11:39] jangrewe commented on #3272
Thanks @BraisGabin, i will test that plugin next week!

[2020-12-12 11:53] schalkms commented on #3274
There's already a default severity configured for each rule. At the moment it's hardcoded into the rule implementation. For the first version using the default value for each severity is fine.

[2020-12-12 11:55] schalkms commented on #3279
If there's no includes filter configured the rule doesn't yield any violations.

[2020-12-12 12:06] vladimirfx opened #3282 "NoSuchMethodError: 'Visibility CallableDescriptor.getVisibility()' on Kotlin 1.4.21"
## Observed Behavior
After update Kotlin to 1.4.20 (and then 1.4.21) Detekt starts crash on any file:

[code]

## Steps to Reproduce
[code]

No matter what project witch code is checked and what version of Gradle is used. Maybe it is important - detekt is configured in Gradle included build.

## Context

## Your Environment

* Version of detekt used: 1.14.2, 1.15.0-RC1
* Version of Gradle used (if

[2020-12-12 13:21] schalkms commented on #3282
Thanks for reporting this issue.
The ** HasPlatformType** rule causes this crash. Could you please try to deactivate this rule and run detekt again. Thank you.

[2020-12-12 15:50] chao2zhang commented on #3274
In my opinion,
- Error = Failed the gradle task / cli command
- Warning = Count it in the total number of found issues, but the gradle task / cli command should succeed
- Info = Print out in the console report / XML / HTML, but do not report in the total number of found issues.
- Ignore = This should be equivalent to active: false

[2020-12-12 22:14] BraisGabin commented on #3279
As @chao2zhang pointed out `ForbiddenPublicDataClass` does the same. Maybe, if we maintain the concept of rule set for 2.0 we should move them to their own rule set.

I like your diff proposal @schalkms. Activate false those rules and add the include so the users can see that the include is important. And add a note in the documentation of each rule too, for sure.

[2020-12-12 22:57] schalkms commented on #3279
How would you call this ruleset? I'm not sure if this rule would go well together

This also a good idea. Let's keep the includes filter just empty for instance.

[2020-12-13 01:37] chao2zhang commented on #3279
A possible ruleset name is library: Since these rules are specifically benefiting library or library module authors.

[2020-12-13 10:10] schalkms commented on #3279
**Library** is fine. Shall we introduce this ruleset in order to close this issue or leave it for v2.0?

[2020-12-13 10:30] BraisGabin commented on #3279
I vote to wait for 2.0

[2020-12-13 17:11] #3269 closed

[2020-12-13 19:16] vladimirfx commented on #3282
You are right - disabling **HasPlatformType** rule was help. Thank you!

[2020-12-13 20:14] schalkms commented on #3282
Currently, detekt uses Kotlin v1.4.10. This issue should be fixed by #3254, which upgrades to 1.4.21.

[2020-12-13 20:55] sschuberth commented on #3248
For me, it often fails with

[code]

[2020-12-14 05:32] chao2zhang commented on #3248
My hunch is that this problem will be addressed once #3254 is merged and published.

[2020-12-14 07:41] vladimirfx commented on #3251
@sanogueralorenzo, unfortunately LongMethod rule do not support exclusion by method name. We also suffer from this in our Android projects.
My first comment about patterns reuse in config and not about LongMethod specifically.

I think Detekt needs some common trait based mechanism used in all rules. Depending on scope and semantic of rule it may implement common exclusion traits:
- excludePackage

[2020-12-14 15:16] #3045 closed

[2020-12-14 15:17] #3273 closed

[2020-12-14 17:27] #2927 closed

[2020-12-14 19:27] travisMiehm opened #3288 "CLI is not loading formatting rules in 1.13.1+"
## Expected Behavior
The formatting rules should be loaded and run when using versions 1.13.1+ of the cli and formatting jar. Using the sample `Foo.kt` below, I would expect the unused import to be reported an removed by autocorrect.

## Observed Behavior
The formatting rules are not loaded and run when using versions 1.13.1+ of the cli and formatting jar. `Foo.kt` is unmodified, and the unused im

[2020-12-14 20:02] arturbosch commented on #3288
Hi,
I've used your test file and config.
Versions 1.14.2 and 1.15.0-RC2 both work for me as expected:

![Screenshot from 2020-12-14 21-01-02](https://user-images.githubusercontent.com/20924106/102129447-a4040f00-3e4f-11eb-9318-cd0893acbcb4.png)

[2020-12-14 20:12] travisMiehm commented on #3288
No, I've been using the formatting.jar with the same version as the cli.jar that I'm using. So cli 1.12.0 with formatting.jar 1.12.0 and cli 1.13.1 with formatting.jar 1.13.1, and 1.14.2.

[2020-12-14 20:14] travisMiehm commented on #3288
I had been downloading the jar file from bintray, but just saw you've moved to maven recently. Downloading the 1.13.1 formatting.jar from maven cleared up the issue.

Thanks for the quick response, and sorry for the false alarm.

[2020-12-14 20:32] #3280 closed

[2020-12-14 20:58] #3288 closed

[2020-12-15 09:36] vladimirfx commented on #3282
Just rechecked on 1.15.0-RC2 - issue persists. Waiting for #3254

[2020-12-15 13:38] BraisGabin opened #3289 "NamedArguments with java code false positive"
## Expected Behavior

This code should not raise any `NamedArguments` issue:
[code]

## Observed Behavior
It does

## Context
If you use a java function in kotlin you can't use `NamedArguments` so there is no way to fix this.

## Your Environment
* Version of detekt used: 1.15.0-RC1

[2020-12-15 20:20] swinton commented on #3045
Thanks so much for the pointers, @arturbosch, I was able to generate a SARIF report:

https://gist.github.com/swinton/43abb47ab719e7c3d67f789115defcff

JFYI here's how the report looks once loaded into GitHub:

![](https://user-images.githubusercontent.com/27806/102260696-6d250c00-3ed6-11eb-85d9-c837d14536a6.png)

We're not able to include the preview since (I believe) the results use absolute pat

[2020-12-15 21:49] chao2zhang commented on #3045
@swinton Thank you for testing and reporting this. @arturbosch I can continue your work if you do not have free cycles.

[2020-12-15 22:13] schalkms commented on #3289
Yes, that's true.
Currently, I don't think we have a rule that checks the target programming language of a called function.
For realizing this behavior, one needs to dig into the compiler and see, whether there is an API available.
If we are lucky, the `BindingContext` can be used to fetch this information.

[2020-12-16 02:59] t-kameyama opened #3291 "NamedArguments rule: false positive with varargs"
[code]

[2020-12-16 17:34] #3289 closed

[2020-12-16 17:38] schalkms commented on #3271
Recently, I have written about this [here](https://github.com/detekt/detekt/issues/3215#issuecomment-723681328).
Could you please check, whether this helps in your case? Please report back your results.

[2020-12-16 17:47] cortinico commented on #3274
I generally agree on the feature. Thanks @chao2zhang for tackling this.

I would like to challenge this statement. We currently support a `maxIssues: N` field in the config file.

When `N` is `0`, that's equivalent to having all the rules with `severity: error`.
When `N` is `>0`, Detekt reports a failure if the total number of findings is above `maxIssues`.

So ideally we should have those 4 level

[2020-12-16 18:21] schalkms commented on #3274
I guess `warningAsErrors` shall be removed, after this new feature has been introduced. It does not provide value anymore.

[2020-12-16 18:25] cortinico commented on #3215
Just to clarify. That's actually Detekt's default behaviour. The 2 rules you mentioned `LibraryCodeMustSpecifyReturnType` and `LibraryEntitiesShouldNotBePublic` happen to be an exception.

https://github.com/detekt/detekt/blob/2e89bd4eeb3252ab7905aabeb72865ebe6a2b8d3/detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/LibraryCodeMustSpecifyReturnType.kt#L55-L56

[2020-12-16 18:26] cortinico commented on #3279
+1 for the new `library` ruleset.

Docs for those 3 rules should however be updated regardless if we wait for 2.0.

[2020-12-16 18:34] arkivanov commented on #3215
Indeed. And this is confusing. Like if you did not specify `include` nor `exclude` - it does not work (nothing is included). If you specified only `exclude` - it works (everything is included except excluded). If you specified only `include` - it also works.

[2020-12-17 00:42] chao2zhang commented on #3274
In general, this feature can be implemented as:
- Backwards compatible: We can keep `active` and `warningsAsErrors`, but that may end up some confusion
- Backwards incompatible: Remove `active` and `warningsAsErrors`

I will probably publish a PR soon for backward-incompatible change, and we can later evaluate whether it will be worth breaking the compatibility.

[2020-12-17 11:33] cortinico commented on #3274
Agree. I'll be for having this as backward incompatible for Detekt 2.x

I think we should also consider behavioral compatibility. Detekt users expect to work with the `maxIssues` threshold. We should discuss if we plan to remove that behavior entirely (if so we should properly document it) or not.

[2020-12-17 20:45] yogurtearl opened #3293 "Make UnsafeCallOnNullableType fail on `requireNotNull`/`checkNotNull`"
`UnsafeCallOnNullableType` detekts use of `!!`, but devs like to "workaround" this by using `requireNotNull`/`checkNotNull`

The single param version of these functions are essentially the same as `!!`, except `!!` throws NPE, `requireNotNull` throws `IllegalArgumentException`, `checkNotNull` throws `IllegalStateException`, but swapping out `!!` for
`requireNotNull`/`checkNotNull` to avoid the det

[2020-12-17 22:16] yogurtearl opened #3295 "New rule proposal: `SafeCallOnNullableTypeInTest`"
## Expected Behavior of the rule

Detect usage of `?.` **in a test** that could lead to the test doing nothing at all.

In this example, if `myFixture.someData` is null here, the test just passes and does nothing because of the `?.`!
[code]

In **test** code, `!!` would be preferred as it will fail the test if the data is null.
[code]

## Context

Generally, `!!`/`requireNotNull`/`checkNotNull` ar

[2020-12-18 13:58] cortinico commented on #3293
I would suggest we keep the `UnsafeCallOnNullableType` inspection strictly related to unsafe calls (`!!`), to avoid creating confusion.

Please note that we also have a `UseCheckNotNull` and a `UseRequireNotNull` that checks for potential scenarios where `requireNotNull`/`checkNotNull` could be useful.
I think we want to avoid scenarios where we chain detections: a `UseRequireNotNull` gets reporte

[2020-12-18 14:00] cortinico commented on #3295
I think the root cause is that you're having an `assert*` method inside a conditional environment. `?.let` is just one occurrence of it, but using `if(... != null)` would have the same semantic.

[2020-12-18 17:04] #3291 closed

[2020-12-18 17:39] arturbosch commented on #2259
Great work! I will highlight it in the release notes to get further feedback.

[2020-12-19 14:08] BraisGabin commented on #3293
I think that the use of `?.` or `?:` is as smelly as `!!`. So I would not push to them.

But I do agree that the use of `requireNotNull` or `checkNotNull` with a description is better. At least the dev should explain why this should not happen and it's kind of documentation.

I don't know if we should expand `UnsafeCallOnNullableType` or `UseCheckNotNull` and `UseRequireNotNull`... But I agree tha

[2020-12-19 14:22] BraisGabin commented on #3295
As cortinico said this is more related with the conditionals. We know how to measure the _McCabe's Cyclomatic Complexity_ of any method. We could mix this and ensure that any test have a complexity of 1 (or 0, I don't know the base).

The problem that I see here is that this is framework dependant. It would work in a different way in Junit and Spek. And usually we don't want to implement that in o

[2020-12-19 14:26] BraisGabin commented on #3257
The list should be short and should not change. Other option is to allow destructuring any class with a defined annotation or something similar. But I would keep it simple at the beggining. If we have some complains about this we could add this later.

[2020-12-19 17:19] arturbosch commented on #3045
Sure, if you have some spare time in the next days you can take a look at https://github.com/detekt/detekt/pull/2492/.
I think the PR is a good starting point. Feel free to @mention me in a draft.

[2020-12-19 17:32] schalkms commented on #3295
Yes and you can't be sure that assert* actually asserts the program context.
Furthermore, there are many test frameworks available that work differently.

[2020-12-19 17:34] schalkms commented on #3293
I think that detekt has rules for all mentioned cases.
I'm not sure why there's a need for a new one.

[2020-12-19 17:37] schalkms commented on #2430
This is actually a duplicate of #3272. This is a known issue of the Android Gradle Plugin.

For the complete answer please take a look at my comment [here].(https://github.com/detekt/detekt/issues/3272#issuecomment-743493513).

[2020-12-19 17:37] #2430 closed

[2020-12-19 17:53] schalkms commented on #2719
This issue went stale. Do we want to continue on this issue? Should we close it?

[2020-12-19 17:53] arturbosch commented on #3274
As @cortinico rightly pointed out `config>warningsAsErrors` is used for config validation.
If we deprecate config properties, we print them as warnings. Users wanted a way to fail the build so they migrate their properties asap.
So this feature is independent of the severity concept.

I think I was inspired by sonarqube when choosing the current severity values. Other tools which @chao2zhang menti

[2020-12-19 17:55] schalkms commented on #2747
Discussion continues in #2231 for an easier overview.

[2020-12-19 17:55] #2747 closed

[2020-12-19 18:06] #3200 closed

[2020-12-19 18:37] chao2zhang commented on #3272
@jangrewe which Android Gradle Plugin version are you using? The current Android support of detekt-gradle-plugin depends on AGP 4.0.1, and I know there are breaking changes in the AGP gradle-api in the recent versions in 4.1, 4.2, and 7.0

[2020-12-19 22:40] BraisGabin commented on #2719
Is this an actionable issue? I mean, if we want help (and we do) it should be clear what's the expected outcome and I see a lot of ideas here but there is nothing specific.

Do we want a ForbiddenAnnotation? A ForbiddenClass that will include the annotations? Both?

[2020-12-19 23:03] BraisGabin commented on #3274
I really like the idea of a String to give maximum flexibility. This the users can add a post-processor and change them to their will.

I'm thinking: can a rule raise two issues with different severities? Does it have sense? I think that the api should allow that.

[2020-12-20 03:52] chao2zhang commented on #853
We already have a draft #2492. But as mentioned in #3045, I will pick this up. Please update the status to in progress in Projects - Roadmap.

[2020-12-20 10:40] schalkms commented on #2719
@BraisGabin I still don’t see much added value to implement a new rule. Many annotations can be prohibited by using the **ForbiddenImport** rule.

[2020-12-20 10:48] BraisGabin commented on #2719
I agree, I mean, if no one is willing to take this issue we can close it. I'm not against the rule, but if no one wants it enough to write it we can close it.

[2020-12-20 13:23] sheinbergon opened #3311 "config.warningsAsErrors not behaving as expected."
I'm probably missing something, but I'm failing to get the detekt gradle plugin to fail my build.  My yaml configuration files starts with

[code]

and an error such as `ModifierOrder` is reported, but the build succeeds

## Expected Behavior
A rule with a default severity level of warning should fail the task

## Observed Behavior
The build succeeds while warning about the order

## Steps to Repr

[2020-12-20 13:41] #3311 closed

[2020-12-20 19:51] #3271 closed

[2020-12-20 19:59] schalkms commented on #3274
I like the string configuration example from above.

Can you name some current rules in the detekt rule set, where this would actually make sense?
I don't think that this should be implemented at first. It makes the implementation more complex without adding too much value, in my humble opinion.

[2020-12-21 15:27] Skyyo opened #3314 "NamedArguments rule not working after 1.15.0 release"
## Expected Behavior
When **NamedArguments** rule is active, it should warn about non-named arguments, if there are any above specified threshold

## Observed Behavior
No warnings are observed when using detekt 1.15.0 and **NamedArguments** rule activated for this part inside [MainActivity.kt](https://github.com/Skyyo/detekt-1.15.NamedArguments-issue/blob/ac1e8178617e80eb3c708e02c12dcd92fbd24f46/a

[2020-12-21 16:45] arturbosch commented on #2680
As discussed in https://github.com/detekt/detekt/issues/3274 our severity model is way to complex and brings little benefit.
In https://github.com/detekt/detekt/pull/3310 we moved to an additional simpler model for the output report formats.

For 2.0 we should remove the old `Severity` class and the issue weights concept (https://github.com/detekt/detekt/issues/2272).
`SeverityLevel` of error (and

[2020-12-21 18:57] #2539 closed

[2020-12-21 19:07] BraisGabin opened #3315 "Ensure binary-compatibility with previous versrions"
detekt is growing and we should think more about the compatibility that we want to give to our users.

I think that, in this topic, we could talk about two type of users:

- cli or gradle plugin users
- Plugin developers

We usually think a lot about the first one but not that much about the second and that impacts the first too. What I want to talk now is about the plugin developers.

We expose `

[2020-12-21 19:14] chao2zhang commented on #3315
We should also enable [Explicit API mode](https://kotlinlang.org/docs/reference/whatsnew14.html#explicit-api-mode-for-library-authors) to make sure we don't accidentally make private APIs public.

[2020-12-21 19:59] chao2zhang commented on #2680
I would recommend us to covert this to a discussion.

There are a few structures annotated with `@Deprecated` and `@NotApiButProbablyUsedByUsers`, which we should also remove in Detekt 2.0

[2020-12-21 21:32] #2680 closed

[2020-12-22 08:10] schalkms commented on #3314
This rule now requires type and symbol solving to be configured? May I ask you to check this for your project? You can find helpful information [here](https://detekt.github.io/detekt/type-resolution.html).

[2020-12-22 08:17] Skyyo commented on #3314
Running `./gradlew detektDebug` gives expected results, while `./gradlew detekt` doesn't. Thank you for the support @schalkms

[2020-12-22 08:17] #3314 closed

[2020-12-22 08:58] schalkms commented on #3314
You are welcome. Thank you for rechecking it.

[2020-12-22 22:48] chao2zhang commented on #3045
@swinton According to [Github Docs](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github#about-sarif-file-uploads-for-code-scanning), I did not find any official documentation of uploading multiple .sarif files. Is it officially recommended that we merge all .sarif files into one?

[2020-12-23 17:17] andrey-bolduzev commented on #2693
Just hit the same issue with v0.15.0.

[code]

The file contents are as follows (the part that causes the failure):

[code]

with:

[code]

Duplicated the file between two different projects, the issue persists.

[2020-12-23 18:11] chao2zhang commented on #2693
@andrey-bolduzev I tried reproducing it with Java 11.
I was wondering if this is impacted by the java/jvm version `14.0.2+12`. Is it possible to get a build scan from your failed runs?

[2020-12-23 18:40] andrey-bolduzev commented on #2693
Thank you for your quick reply!

I've tried it with Java 11 as well for the exact same error.

I've created a stripped-down version of a project where the issue can be reproduced by running `./gradlew detektAll`: https://github.com/andrey-bolduzev/detekt_issue_2693.

Here's a build scan for it: https://scans.gradle.com/s/6upaj4nydwouo.

[2020-12-23 20:36] chao2zhang commented on #2693
I was able to reproduce and observed the following behavior:

- KtFile.text.length = 834
- KtFile.viewProvider.document.textLength = 832

It looks like a bug in the Kotlin compiler and I will try reporting this bug to Kotlin. At the same time, I am also exploring options to refactor us off using `DiagnosticUtils.getLineAndColumnInPsiFile()` the calculate line counts of a KtElement excluding commen

[2020-12-23 20:46] colintheshots opened #3316 "Reformatting baseline XML causes baselines to fail"
## Expected Behavior
XML should be mostly whitespace-agnostic. If the IDE reformats the XML file to pretty-print it, the baselines should still function.

## Observed Behavior
Every baseline which gets pretty-printed onto multiple lines fails to function.

## Steps to Reproduce
Generate a baseline for a huge project with ./gradlew detektBaseline
Allow the IDE or its git commit screen to reformat c

[2020-12-23 20:51] andrey-bolduzev commented on #2693
Ah, your comment made me realize the issue is related to the 2 comment lines with missing leading spaces. When the inspection is not triggered, the crash doesn't happen. At least for now I can just fix those 2 lines and not exclude the whole file like I did before. Thank you!

[2020-12-24 00:34] chao2zhang commented on #2693
This is a super interesting edge case where we execute ktlint rules first with `autoCorrect = true`, so the content of `KtFile` is modified (length from 834 to 832), then execute detekt rules like `LongMethod`, which raises the issue.

[2020-12-24 08:41] BraisGabin commented on #2693
🎉🎉 @andrey-bolduzev thanks for the reproducible project and the final hint to find the root issue. And great job @chao2zhang to find that root problem!

[2020-12-24 10:36] xpyct707 commented on #3250
Hi!
I've got the same issue with the version 1.15.0: the autoCorrect feature causes the "Wrong offset xxx. Should be in range: [0, yyy]" error on the first file that has a formatting issue. Turning the flag off resolves the issue: no error occurs and report contains the file's issues. But the file is to be changed manually.
The previous (1.14.2) version has another behavior. The file also causes t

[2020-12-24 10:41] BraisGabin commented on #3250
Maybe related with #2693

[2020-12-24 18:58] chao2zhang commented on #3250
@SaezChristopher @xpyct707 To temporarily unblock yourself, please set `autoCorrect` back to false, fix the violations, and set `autoCorrect` back on.

[2020-12-26 11:01] schalkms opened #3321 "Website deployment fails on master branch"
The `Deploy Website / build-website` task fails with the following error since commit c6a971f.

[code]

[2020-12-26 11:06] schalkms commented on #3316
Thanks for experimenting and reporting this bug to this repo.
Ughh, this bug sounds bad. May I ask if you could provide the two different files for debugging purposes?
For me this seems to be an issue with whitespace characters.
Anyhow, this shouldn't happen as you mentioned.

[2020-12-26 11:10] schalkms commented on #3246
Closing this, since tests have been added for the initial code snippet. If new false-positives for this rule appear, please feel free to open a new issue. Thanks!

[2020-12-26 11:10] #3246 closed

[2020-12-26 11:45] schalkms commented on #3241
Since this issue can't be reproduced with the given information, this issue is closed. There's not much that can be done to debug or correct information at the moment. If further information regarding repro scenarios is posted, this issue will of course be reopened.

[2020-12-26 11:45] #3241 closed

[2020-12-26 11:46] schalkms commented on #3241
Since this issue can't be reproduced with the given information, this issue is closed. There's not much that can be done to debug or correct this behavior at the moment. If further information regarding repro scenarios is posted, this issue will of course be reopened.

[2020-12-26 11:48] schalkms commented on #721
@arhont375 do you have updates on this rule for us? We gladly assist if you have any questions or need help.

[2020-12-26 13:09] BraisGabin commented on #3316
I reproduced this issue in my end. It happens when you format this:

[code]
to this
[code]

But, are they really the same xml? We use `javax.xml` to read our xmls so it doesn't seem likely that we have a parser problem. I can't find it in the standard or any trustfull source but I think that your formatter is changing the xml in a wrong way. https://stackoverflow.com/a/10923392/842697

In android,

[2020-12-26 13:19] schalkms commented on #3316
@BraisGabin okay, that's a different story (if true). Why is Android Studio then adding line breaks? Does it consider the max line length whilst reformatting the code?

[2020-12-26 13:29] BraisGabin commented on #3316
I just checked and both IntelliJ and AS reformat long lines of xmls... maybe we should configure something in our parser so it's a bit smarter?

[2020-12-26 14:40] arhont375 commented on #721
Sorry for the delay, so many things happened since then and I got a bit busy so after initial investigation I didn't do much :cry:
If someone else would be able to take it please go ahead

[2020-12-26 16:54] schalkms commented on #3316
You would need to place a `.trim()` for each read XML innerText between two elements.

[2020-12-26 17:34] BraisGabin commented on #3316
No really. This is an issue too:
[code]
and
[code]
And this is kind of format is done by IntelliJ and AS too.

[2020-12-26 17:37] schalkms opened #3324 "Setup the correct pipeline for integration test of detekt gradle plugin"
@chao2zhang and me had a discussion about adding more end-to-end like tests to detekt's code base. This is definitely beneficial in terms of code quality.
Hence, the quote from PR #3319 is included in this issue. It contains a good idea, which might be followed. Of course this is an opened discussion. So please feel free to submit your ideas inside this issue.

[2020-12-26 17:42] schalkms commented on #3316
Okay, that's weird too. I'm not sure, whether handling this edge case should be done inside the core baseline parser. The mentioned case could happen for function signatures in the baseline xml file. Let's consider the following code. This could easily be reformatted.

[code]

To my knowledge this is the first report about having such an issue with the baseline xml in detekt.

[2020-12-26 17:47] BraisGabin commented on #3324
Other option (no exclusive): checkout some opensource projects that already use detekt and run them.

Problem: we need to be carefull with false positives if they break their build.
Pros: we test agains real code.

Some options: Firefox & LeakCanary.

[2020-12-26 17:53] BraisGabin commented on #3316
Yes. It's really weird. For that reason I was thinking if the formater could have a "flag" or something so we don't need to implement the "unformat" code.

[2020-12-26 17:57] schalkms commented on #3316
Just to make sure that I could correctly follow. With **formatter** you mean the IDEA one, right?

[2020-12-26 18:02] schalkms commented on #3324
I guess this is hard to automate, since the tests directly depend on 3rd party code. If 3rd party gets changed, those tests have to be adapted in the detekt repository. For testing purposes it's enough to have a few files containing some issues and folders to test detekt end-to-end.
For rules testing your approach is fine though. This repo already contains a script to verify rule behavior on 3rd p

[2020-12-26 18:21] BraisGabin commented on #3316
My bad! I didn't use the correct word there. I mean: "For that reason I was thinking if `javax.xml` could have a "flag" or something so we don't need to implement the "unformat" code."

[2020-12-26 18:26] schalkms commented on #3316
Thanks for the update. This clears out some confusion.
That seems to be possible with `javax.xml.parsers.DocumentBuilderFactory.setIgnoringElementContentWhitespace()`, even though I haven't tried it yet.

[2020-12-26 19:23] BraisGabin commented on #3316
I'll try it and create pr if it works. If not, I'll update here with the new information.

[2020-12-26 22:35] chao2zhang commented on #3324
Such integration tests need to keep some code with violation of detekt rules. I doubt a 3rd party repo would satisfy our need: Well-maintained repos tend to have good hygiene to remove detekt violations quickly.

[2020-12-27 06:45] chao2zhang opened #3327 "Refactor detekt-gradle-plugin off com.android.tools.build:gradle"
Android Gradle plugin enters a new phase of aligning versions with Gradle [Official announcement](https://developer.android.com/studio/releases/gradle-plugin#versioning-update), this does have an impact on plugin authors. We should not depend on com.android.tools.build:gradle but com.android.tools.build:gradle-api. As Google plans to deprecate com.android.tools.build:gradle in 7.0 and remove it co

[2020-12-27 12:02] BraisGabin commented on #3327
I couldn't find anything about this `gradle-api` dependency. But for sure that we can test it if that allow us to be ready to any future change. But we should wait until we get some official documentation. Then we can start merging our "research".

I agree with you that have two tasks own per production code and other for test code is not handy. And this is not a problem just with out android comp

[2020-12-27 12:49] BraisGabin opened #3329 "Stop publishing detekt-cli-all.jar in maven central"
Does it have sense to publish `detekt-cli-all.jar` in maven central? We publish it in github and that's the url that we recommend in our [documentation](https://detekt.github.io/detekt/cli.html#unix-with-the-stand-alone-executable).

I don't know if we should even publish detekt-cli at all in maven central. But I think that for now that's a huge change. We could think about this for 2.0.

[2020-12-27 15:50] chao2zhang commented on #3327
A lot of the interfaces in `gradle` has been marked as deprecated. Such as
[code]

+1, this task list is much clearer

[2020-12-28 05:28] chao2zhang commented on #3324
My statement was based on out-dated information. Please allow me to correct the statement here. In addition to the common unit testing, this project embraces two ways to test our Gradle plugins:
- Using ProjectBuilder from gradle-api, we can assert on specific Task this way.
- Using GradleRunner from gradle-testkit, we can perform assertions based on the input and output of Gradle.

The end-to-end

[2020-12-28 10:39] #3321 closed

[2020-12-29 00:56] chao2zhang commented on #3324
Problem
======
One of the problems that I encountered when prototype #3327:
- Because the integration tests using gradle-testkit are all under `detekt-gradle-plugin/src/test`
- Because AGP is introduced as `compileOnly` dependency in `detekt-gradle-plugin`
- Problem: testing android gradle plugin using gradle-testkit does not work out of the box

Some technical lower-level details: [JavaGradlePlug

[2020-12-29 09:49] schalkms commented on #3324
Thank you very much for this further elaboration. I completely agree with your recommendation (solution 1). This solves the problem. I don’t think a big refactoring for solution 2 is beneficial looking towards detekt v2.0.

[2020-12-29 20:54] osipxd commented on #3125
Looks like it is not fixed in 1.15.0
I've created the minimal project to reproduce this bug.
https://github.com/osipxd/detekt-explicit-api-mode-test

[2020-12-29 21:05] osipxd commented on #3125
Looks like the value in AnalysisFlags, used to get explicitMode is default value, so it is always `DISABLED` and `AnalysisFlag` is immutable.
https://github.com/JetBrains/kotlin/blob/8be23df668be32bad8c23f49f0b9f8feb7cb6cd9/compiler/util/src/org/jetbrains/kotlin/config/AnalysisFlag.kt#L32-L34

[2020-12-30 10:24] severn-everett commented on #3263
@BraisGabin I've created a branch for the request; as soon as I get write permissions to the project, I'll push it and create a PR.

[2020-12-30 10:31] BraisGabin commented on #3263
@severn-everett you should create a [fork from this project and push the branch there](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request). This way github will allow you to create a PR without write permissions over this project.

[2021-01-01 21:39] VovaStelmashchuk opened #3340 "Add UnnecessaryFilter"
## Expected Behavior of the rule
[code]
No erros

## Context
Everethink should be simple.
Add create a PR only with tests, I haven't idea how to create implementation at the moment.

[2021-01-01 23:07] BraisGabin commented on #3340
I like the idea. We could check it for `Sequence`s too. And thanks for implement the tests!

But I must say that I didn't understand your PR until I read the tests you provided. Could you elaborate a bit more this issue? This way other person can pick it easily and implement it.

[2021-01-01 23:14] VovaStelmashchuk commented on #3340
In same case we need to calculate count of items in collection by predicate. Sometimes people use `filter{}.size` or `filter {}.count()`. The correct way to use kotlin function count {}. Because filter create a new instanse of collection.

[2021-01-03 14:16] godiale opened #3342 "Incorrect reporting of Indentation issues for IntelliJ highlighting"
## Expected Behavior
Intellij IDEA highlights a line (or first symbol in a line), where **Indentation** issue is found.
Hoovering mouse over highlighted area shows tooltip with the issue description.

Below is screenshot with correct highlighting and issue description from **SpacingAroundParens** rule.
![correct_spacing_highlighting](https://user-images.githubusercontent.com/11892279/103480458-952

[2021-01-04 20:07] yogurtearl commented on #3293
`?.`, `?:` and `if(foo != null)` are all ways of explicitly acknowledging the possibility of `null` and handling it separately.
If possible, it is best to find a way to handle the null gracefully or make the type non-nullable.

`!!`, `requireNotNull`, `checkNotNull` all throw exceptions when `null` is encountered.
There is not much difference in these 3 other than `requireNotNull`\`checkNotNull` p

[2021-01-04 20:27] yogurtearl commented on #3295
`?.`, `if(... != null)`, `?:` are all probably smells in test code because they could cause a test to pass because of a null somewhere, when it should fail.

in tests, it is better to fail in the face of null, rather than risk silently passing.

You could apply this rule to all source code in test source sets to avoid having to deal with specific test frameworks.
You don't need to analysis `assert

[2021-01-04 20:56] robstoll opened #3344 "throw if detekt cannot find any files, i.e input was most likely configured wrong"
## Expected Behavior
Detekt task exits at least with a non 0 code - preferably with a message that `input` was configured wrong

## Current Behavior
Detekt is happy

## Context
I had a project which was a multi-project build. I have configured detekt as follows:
[code]
At some point I simplified the structure and converted it to a single project. Detekt continued to run but did not analyse anythin

[2021-01-04 23:22] chao2zhang opened #3345 "Simplify Detekt API validation"
## Expected Behavior
Detekt API validation should be enabled with minimal setup.

## Observed Behavior
In #3320, we need to use `rootProject.name` as a temporary workaround to exclude api validation of rootProject. This is not addressed by #3322.

## Steps to Reproduce
Run `./gradlew apiDump`

## Context
This is a technical debt that will go overdue soon.

[2021-01-05 06:08] ZacSweers opened #3346 "NPE in running gradle baseline task"
## Expected Behavior
It should not crash

## Observed Behavior
It crashes with this trace

[code]

## Steps to Reproduce
I can't reproduce it in a public project unfortunately, but I believe the issue is the stream is being closed and nulling out an internal buffer

## Context
Happens on our project when trying to run `detektBaseline`.

## Your Environment

* Version of detekt used: reproduces on

[2021-01-05 06:08] ZacSweers commented on #3346
I'm going to hop in the debugger on my side to try to figure this out but filing for awareness. I've found some other similar issues that support my hunch about

[2021-01-05 07:10] ZacSweers commented on #3346
Confirmed a closed file is being written to. The problem is here: https://github.com/detekt/detekt/blob/master/detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/IndentingXMLStreamWriter.kt#L67-L70

[code]

The `super.writeEndDocument()` closes the underlying document before the `super.writeCharacters("\n")` tries to write another newline

[2021-01-05 07:15] ZacSweers commented on #3346
Actually I see this is a dupe of #2655. Will fold into there.

[2021-01-05 07:15] #3346 closed

[2021-01-05 07:18] ZacSweers commented on #2655
This is due to `IndentingXMLStreamWriter` closing a file and then attempting to write to it. The problem is here: https://github.com/detekt/detekt/blob/master/detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/IndentingXMLStreamWriter.kt#L67-L70

[code]

The `super.writeEndDocument()` closes the underlying document before the `super.writeCharacters("\n")` tries to write another

[2021-01-05 18:11] cortinico commented on #3295
I think this is too broad to make a rule out of it.

[code]

is a legit test code to me.

[2021-01-05 18:17] cortinico commented on #3293
If we end up adding a rule for this scenario, it will most likely separate from `UnsafeCallOnNullableType`.

Having such rule (say `RequireNotNullOnNullableType`) will potentially clash with another rule we already have `UseRequireNotNull`.

[2021-01-05 18:36] cortinico commented on #3315
Are we considering this done with `binary-compatibility-validator`? Or are we planning to do more like enabling Explicit API more, running japicmp before releases, etc.?

[2021-01-05 18:44] cortinico commented on #3329
What's the benefit of removing it? I don't have a strong opinion but I'm leaning towards keeping it. All of our artifacts should live in Maven Central, `detekt-cli-all.jar` as well. Moreover external libraries/tool that wish to interact with Central can do it easier as that's the `detekt-cli` artifact with the `-all` classifier.

If maintaining it is too much hassle, we can definitely remove it.

[2021-01-05 21:56] BraisGabin commented on #3315
I thought that this was closed. Do you think that we need something else? The explicit api sounds really good but we could open a different issue for that if we want it.

For me we can close this.

[2021-01-05 22:00] BraisGabin commented on #3329
Maintain our is kind of trivial. I just open this because I found it when I was refactoring buildSrc. It feels a bit strange to have it the but I have no strong opinions here.

[2021-01-06 10:50] #2655 closed

[2021-01-06 15:25] BraisGabin opened #3353 "Don't null check a mutable property"
## Expected Behavior of the rule
non compliant:
[code]

compliant:
[code]

## Context

#3352 is the example that make me think about this rule. This is a pattern that I see often in the my project. Usually this errors happens when you translates code from Java to Kotlin.

Maybe we could check this kind of things too:
non compliant:
[code]

compliant:
[code]

This pattern is kind of usual in Androi

[2021-01-06 15:38] BraisGabin opened #3355 "Don't fail the gradle task if the baseline file doesn't exist"
Related with #3024 (this one is probably a prerequisite)

## Expected Behavior
If a baseline is configured in gradle but the file doesn't exist the task should not fail

## Current Behavior
It fails.

## Context
This is how we have it configured:
[code]
and it seems that `@get:InputFile` forces the file to exist. And if it doesn't exist it fails. I tried to fix it but I know little about gradle.

[2021-01-06 16:42] BraisGabin commented on #3344
I can't reproduce your issue. Which version of detekt are you using? Could you provide a sample project to demostrate this?

[2021-01-06 17:08] chao2zhang commented on #3355
https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:task_input_output_validation Yes @InputFile requires the property to have a value and the file to exist.

Why would we want the task `detekt` to succeed? Do we expect users to run `detektBaseline` first?

[2021-01-06 18:19] yogurtearl opened #3357 ""Search" box on the docs site doesn't work"
go here: https://detekt.github.io/detekt/
Enter name of a detekt rule in the search box to find the related docs.

## Expected Behavior

Shows docs for the searched rule

## Observed Behavior

Shows "no results found"

[2021-01-06 18:32] BraisGabin commented on #3355
Each time that I create a new module I need to create the baselines files again (two because main and debug). A new module doesn't have debt so it should not need baseline.

And there's nearly no problem with miss configuration. If you miss configure your baseline you are going to find out it because of all the issues.

[2021-01-06 19:22] chao2zhang commented on #3355
We could use the following workaround:
[code]

[2021-01-06 19:28] robstoll commented on #3344
The latest one I reckon, you can try out https://github.com/robstoll/niok/commit/c4917338abc38bfe0d008b40cba8afa02380d558
With the next commit I fixed the `input` again and I had to fix a few issues detekt detected:
https://github.com/robstoll/niok/commit/fb376a43c86b571c98896e78389e491ac4fbaf8e

[2021-01-06 21:01] cortinico commented on #3315
Let's close it for now.

`binary-compatibility-validator` is great to help us catch accidental API changes. On the other hand, it's not useful to get an aggregated overview of all the changes that we're shipping between two versions of detekt. We could take a look at `japicmp` if we think we need more control in the future.

[2021-01-06 21:01] #3315 closed

[2021-01-07 08:33] 3flex commented on #3355
I like the way Android Lint handles baseline files - there's no task required to create baselines, instead it will create the baseline file if it's configured but the file doesn't exist yet, and reads it when running the lint task.

I've always thought this would be a good model for detekt to adopt. It would also help detekt-compiler-plugin remain "taskless", since there's no need for the `createB

[2021-01-07 12:16] schalkms commented on #3125
Thanks for checking this feature thoroughly.
I scrolled through the [version history](
https://github.com/JetBrains/kotlin/commit/7058492b55841b33503131efee849524dade9c5f) of the Kotlin compiler. Luckily, I found another possible solution by using another internal function.
Please check out the referenced PR. Thank you!

[2021-01-07 12:35] schalkms commented on #3357
Thanks for bringing this to our attention!
As described in #1077, this is a Jekyll issue. It does not support full text search.
The decision here is clearly **won't do**.

[2021-01-07 12:35] #3357 closed

[2021-01-07 12:39] schalkms commented on #3295
Agreed. It's probably better to go the [custom rule](https://arturbosch.github.io/detekt/extensions.html#custom-rulesets) way for Michael. You know the special cases of your repo best. The rule is too broad for general use in detekt. Detekt tries to include rules that are relevant for the majority of users. Because of that, we shall close this issue then.

[2021-01-07 12:39] #3295 closed

[2021-01-07 13:00] schalkms commented on #3293
- `UnsafeCallOnNullableType`
- `UseCheckNotNull`
- `UseRequireNotNull`

I still think that custom detekt rules are the solution here.

This case can simply be avoided by enabling `UnsafeCallOnNullableType`.

[code]

[2021-01-07 14:01] BraisGabin commented on #3357
Is it possible for us to remove the search feature? I agree that this is a wontdo but we could just remove it because it doesn't work.

[2021-01-07 14:13] schalkms commented on #3357
It works as expected. You can search for pages and articles. However, you can't use full text search.

[2021-01-07 16:41] khaleelf commented on #1500
For what it's worth, I moved the `data class` to the bottom of the same file and it rectified the issue for me.

[2021-01-07 17:22] chao2zhang commented on #3355
The concern is gradle cacheability, if the baseline file content gets changed (even we shouldn't, but sometimes it does), we should fail the up-to-date. Supporting this issue requires manually performing upToDate checks, which could be an overhead in the long run.

[2021-01-08 04:29] chao2zhang commented on #3324
@schalkms if possible, would you mind changing the issue title to be `Setup the correct pipeline for integration test of detekt gradle plugin`? This issue mentioned in https://github.com/detekt/detekt/issues/3324#issuecomment-751909633 now happens quite often for my recent PRs.

[2021-01-08 09:56] schalkms commented on #3324
@chao2zhang I updated the title.

[2021-01-08 16:53] schalkms commented on #3344
How should a computer program detect whether such a configuration was on purpose or not. Is entirely possible that projects don't contain Kotlin but rather Java, Scala or source code of other JVM languages.
Detekt reports in all kinds of flavours show how many files have been analyzed.
I'm thinking about the following cases, where detekt is frequently used.

- Template projects that as the name su

[2021-01-08 19:48] robstoll commented on #3344
I don't get why you think I am talking about Kotlin only here. is `detekt { input =...}` only for Kotlin?
Anyway, I am not talking about any specific language, the use case I am talking about here is that I have messed up `input` so that detekt has basically 0 files to analyse. That's almost always an error and not on purpose. Otherwise there is no point in setting up detekt at all IMO. There is a

[2021-01-08 21:59] chao2zhang opened #3360 "Continuous improvement on SARIF support"
This issue lists all the improvements after we built a basic SARIF support #3045
- [x] Enable SARIF output by default in Gradle+CLI. See https://github.com/detekt/detekt/pull/3268
- [x] Enable relative path by default. See https://github.com/detekt/detekt/pull/3359#discussion_r554181042
- [x] Add documentation and samples for relative path, severity, and Github integration for SARIF
- [x] Add inte

[2021-01-08 22:15] schalkms commented on #3360
Good summary!

[2021-01-08 22:30] schalkms commented on #3344
Suppose `input = mydir`:
How should detekt know whether mydir contains no Kotlin source files on purpose or not?
It's entirely possible that a directory without Kotlin code at the given point in time is configured on purpose.

This can be seen in the built-in reports of detekt. Why should detekt terminate because of that?
By the way, you can implement this behavior with detekt's custom report feat

[2021-01-08 22:46] robstoll commented on #3344
I agree that the directory can be empty at the point of configuration but when running detekt then, IMO, detekt should fail if it does not need to analyse anything at all. I don't know detekt well enough, maybe my assumption that `input =` can only be specified once leads to the confusion here; or in other words, maybe I should change the title of the issue to `throw if detekt does not need to ana

[2021-01-09 05:03] chao2zhang commented on #3240
https://github.com/detekt/detekt/pull/3334/ was a draft PR to experiment detekt task per source set and create a detektAll/detektCheck task to run all detekt tasks. I could resume working on it.

[2021-01-09 22:44] rockwotj opened #3363 "Check for === instead of =="
## Expected Behavior of the rule
Prevent usage of instance equality checks

## Context
`===` and `==` are both valid in kotlin. We also write a lot of typescript/javascript on our team (sadly no multiplatform kotlin) and a few of us accidently use `===` sometimes instead of `==` for equals. There should be a rule to prevent usage of `===` as you very rarely want instance equality checks anyways.

[2021-01-10 06:18] chao2zhang commented on #3067
`error: cannot access 'foo': it is internal in 'com.example.bar'` is a compiler error issued when running detekt with type resolution. It does not affect the result of detekt. This is reproducible when running `./gradlew detektTest` in the detekt repo itself. Hence I would suggest reopening this issue.

However, this means that our rules may not run correctly. There is a compiler option `-Xfriend-

[2021-01-10 10:53] BraisGabin opened #3365 "Why does gradle-detekt-plugin run compileKotlin when type solving is enabled?"
When I run

`./gradlew :myAndroidModule:detektDebug --dry-run`
The output is:
[code]

And this is a module that doesn't have a dependency with any sub module, so the list is kind of small. If I do the same with a non-android module the list is a bit smaller but have the same problem. It runs `compileKotlin`, and that task is slow.

Do we really need to depend on `compileKotlin` at all? As far as I

[2021-01-10 11:16] schalkms commented on #3363
I suggest to create a custom rule here. Detekt tries to include rules that are relevant for the majority of the user base. IntelliJ also doesn’t flag the mentioned use case. If you have a lot of TypeScript developers in your team, a custom rule is the way to go.

https://detekt.github.io/detekt/extensions.html#custom-rulesets

[2021-01-10 11:20] schalkms commented on #3355
I think the mentioned workaround from @chao2zhang is a good idea. Hence, I second that.

[2021-01-10 15:10] cortinico commented on #1500
@khaleelf Please open a new issue with a snipped explaining your issue. We try to close issues that get stale and create new one to make them easier to handle.

[2021-01-10 15:49] cortinico commented on #3353
I believe the root of this rule should be "don't null check a mutable property". The multiple `!!` (or whatever null checks) are needed as `foo` is a nullable mutable property, and therefore checking if it's not null won't suffice to smart cast it to a `Asdf`.

[2021-01-10 17:06] #3125 closed

[2021-01-10 17:28] rockwotj commented on #3363
I think not using === is common to everyone, it just comes up frequently for us. Still, a custom rule it is

[2021-01-10 20:27] schalkms commented on #3363
If you want to check the referential equality of two objects in Kotlin, you should use the `===` operator.
Please remember that this rule would also flag valid use cases for referential equality checks. Then the programmer could only add a suppress annotation to get rid of the warning.

That's completely okay. Different teams have different needs and use cases. For that reason, detekt includes the

[2021-01-11 15:46] BraisGabin opened #3366 "False negative in IgnoredReturnValue"
## Expected Behavior
`IgnoredReturnValue`shoudl raise two issues in this code:

[code]

## Observed Behavior
Should only raise one (the second one `(2)`)

## Context
I know that this code is really strange but it's a simplification of what I have in production that have the same problem

## Your Environment
* Version of detekt used: 1.15.0

[2021-01-11 17:54] tasomaniac opened #3367 "Deprecation rule baseline issue with Java sources"
I have the following issue with Deprecation rule with type resolution enabled.
This happens only when the deprecated declaration is in Java code. When deprecated Java code is used in Kotlin, these are not included in baseline creation. I ran `detektBaselineDebug` task to create the baseline

But then when I run regular `detektDebug` task with type resolution, it is successfully reporting these iss

[2021-01-11 17:59] cortinico commented on #3367
The behavior seems related to https://github.com/detekt/detekt/issues/3130 where the `include` of the two mentioned Detekt tasks were not aligned. If the `detektBaselineDebug` is filtering `.java` files out in the `include` of the task, the Java files will be ignored during the baseline creation.

I'm just supposing however, I need to look more into the issue, but hope this helps the investigation

[2021-01-11 18:08] cortinico commented on #3355
I believe our case is an exception. From the paragraph just below: https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:task_input_output_validation

[code]

Hence I belive we should be able to update the Gradle logic to follow the same as Android lint:
- No baseline specified => Do nothing with baselines
- Baseline specified AND file missing => Create the baseline (delegate to the

[2021-01-11 18:23] cortinico commented on #3344
Technically we could add a flag in the config file to achieve this. I'm unsure of the usefulness of this flag as it seems more an edge case to me 🤔

Also JUnit 5, as you mentioned, is returning a success if there are no tests to run (as they have the aformentioned flag).

Moreover the `detekt` task is a `SourceTask`. I don't know your exact detekt configuration, but you can probably add a `doLast`

[2021-01-11 18:49] cortinico commented on #3365
I still haven't managed to find the root cause for this. My hunch is that Gradle is recognising an implicit dependency between `detekt<Variant>` and the `compileKotlin` & `compileJava` classes (see https://docs.gradle.org/current/userguide/lazy_configuration.html#working_with_task_dependencies_in_lazy_properties)

This is either because we set the `classpath` or the `source` differently than the `

[2021-01-11 19:06] robstoll commented on #3344
First of all, feel free to close this issue, it's an idea, but I can live without it (can add an own check).
IMO a static analysis tool which tries to detect problems should also detect a wrong setup which is a problem as well and IMO a big problem because it covers up all real problems sitting there in the code. IMO this check should not be behind a flag but better behind a flag than nothing.

Th

[2021-01-11 19:34] tasomaniac commented on #3367
I cannot believe that I didn't try with the latest version. My issue is already fixed in 1.15.0

[2021-01-11 19:34] #3367 closed

[2021-01-11 21:03] #3324 closed

[2021-01-11 21:24] BraisGabin commented on #3355
But we do have the `Optional` annotation already and the task fails before we can run our own code.

[2021-01-12 01:25] chao2zhang commented on #3365
The dependencies are [inferred](https://blog.gradle.org/introducing-incremental-build-support#inferring-task-dependencies). For a detekt task on a test source set, the `compileClasspath` includes the main's output: `module/build/classes/kotlin/main`, therefore the dependencies from `detektTest` to `compileKotlin` are added automatically.

[2021-01-12 05:05] comdiv opened #3368 "Error alerted by IDEA, stack trace"
Was got from IDEA Alerts:

[code]

[2021-01-12 05:40] chao2zhang commented on #3067
After digging into the kotlin compiler code a little bit, we can conclude the status quo as:

- We need to tell Kotlin compiler about friend paths
- In `https://github.com/chao2zhang/detekt/tree/internal-fix`, I write the friends path to `JVMConfigurationKeys.FRIEND_PATHS`
- `JVMConfigurationKeys.FRIEND_PATHS` is read in https://github.com/JetBrains/kotlin/blob/d753d21dee4c1b282423ea43db2f90e2b651

[2021-01-13 12:32] cortinico commented on #3368
How is this Detekt related? Also are you using the Detekt IntelliJ Plugin? If so we should move this issue to https://github.com/detekt/detekt-intellij-plugin

[2021-01-13 12:33] melihaksoy opened #3372 "False positive UndocumentedPublicClass for functional interfaces"
Getting false positive `UndocumentedPublicClass` when converting interface to `fun interface`

This doesn't generate any issue

[code]

This ends up failed for `UndocumentedPublicClass`

[code]

[2021-01-13 16:26] cortinico commented on #3372
I've added a test here #3374 and seems like your snippet is working fine.

Are you on the latest version of Detekt/Kotlin?
Can you provide the full detekt report and a reproducer project?

[2021-01-13 16:47] cortinico commented on #3355
Seems like there is an open issue for exactly this on Gradle's end https://github.com/gradle/gradle/issues/2016

[2021-01-13 16:56] cortinico commented on #3344
I've done a bit more research on this front just to understand what was happening.

This is the check you can add to your `build.gradle` if you want your build to fail once the input is empty.

[code]

What happened in your case was that you provided an empty input for detekt. The `detekt` task is a `SourceTask` that exists with the `NO-SOURCE` status if the input is empty. Technically our code no

[2021-01-13 18:47] robstoll commented on #3344
Thanks for the analysis. Surely good to include the snippet 🙂👍
Personally, I would add a flag doNotFailOnEmptyInput which one needs to use in case of a BOM pom project or similar. I would even go that far to not provide a flag at all. Instead, such projects should simply not apply detekt because its for nothing. Or does detekt also check non-source related stuff?

[2021-01-13 19:25] cortinico commented on #3344
Agree, but if you use `subprojects {}` or `allprojects {}` block in your top level `build.gradle` file (as a lot of our users are doing), you're applying the plugin to all the modules.
The current behavior makes sure those modules with not source are not breaking your overall builds.

[2021-01-13 19:45] robstoll commented on #3344
I most of the time use subprojects or configure(...) instead of a build.gradle in the subproject. So I would do the following
[code]
And there you have your flag. No big deal IMO. But I see that you are hesitant to take a more restrictive approach than the current one in the sense of fail-if-no-input by default. Fine with me, I brought up my points, I think it's clear by now that both approaches r

[2021-01-13 20:16] schalkms commented on #3368
I’m also interested in an answer to this question. In the stack trace there’s no occurrence of detekt.

[2021-01-13 23:32] BraisGabin commented on #3355
Nice! There are some workaround there that I'll try. Thanks!!

[2021-01-14 02:24] #3047 closed

[2021-01-14 05:11] chao2zhang commented on #3329
For example, Homebrew relies on `detekt-cli-all.jar`: https://github.com/chenrui333/homebrew-core/blob/04e2d548e166b22eda424052bb316046c3a2437e/Formula/detekt.rb

[2021-01-14 05:30] chao2zhang commented on #3324
This issue was also discovered earlier as described in the main summary of #2493

[2021-01-14 08:08] #3329 closed

[2021-01-14 08:25] cortinico commented on #3355
We should also consider changing `@get:InputFile` to `@get:Input` as we'll be using the Path rather than the file content for task avoidance.

[2021-01-14 09:22] comdiv commented on #3368
Yes, mistakely push it to Detekt. It's some randomely repeated bug with Plugin

[2021-01-14 09:22] #3368 closed

[2021-01-14 10:35] melihaksoy commented on #3372
Can confirm that it works on my side project as well.

Just tried again in the project I'm having problems with - it initially had `1.10.0`, updated to `1.15.0`. Still getting the error there 🤔 Weird.

I'm not really sure what may be causing this, change I made is exactly as above - just converting it to `fun interface` and getting `UndocumentedPublicClass` 🤷

[2021-01-14 10:49] cortinico commented on #3372
"it works", you mean it's bugged right.

Are you on the latest version of Kotlin?
Can you create a reproducer project?

[2021-01-14 13:25] melihaksoy commented on #3372
Sorry, I meant it works as intended and doesn't generate the error on showcase I wanted to reporduce issue.

Weird enough, it is still a false positive on the production project I'm working on.

They got same kotlin ( `1.4.21`) & detekt (`1.15.0`) versions and interface is exactly same as above. Is there anything I can check that might be causing it ?

[2021-01-14 15:20] cortinico commented on #3372
Sadly, unless you link your project or a reproducer project, there is not much we can do to help.

[2021-01-14 23:03] BraisGabin commented on #3344
I agree with @schalkms and @cortinico. Your point have sense but it could break other users flows. It seems that the use cases where you want empty source sets are legit. So I'm going to close this issue.

I do appreciate this kind of uses related with UX. Few people report things like this. But I think that in this case it's better to keep the plugin as it is now.

[2021-01-14 23:04] #3344 closed

[2021-01-15 08:26] fluxxion82 opened #3378 "Not failing or not using baseline"
## Expected Behavior
detekt should run using the baseline and fail when issues are found if fastFail is set to true.

## Observed Behavior
If I don't set fastFail, then detekt runs and will not fail when issues are found. If I set fastFail = true, then detekt doesn't seem to use the baseline file, or somehow find new issues

## Steps to Reproduce
In my buildSrc module, I include 'io.gitlab.arturbo

[2021-01-15 10:09] krzema12 opened #3379 "Empty custom config enables rules disabled by default"
## Expected Behavior

When I create an empty custom config file and enable it though `detekt { config ... }`, it should work as if the custom config wasn't enabled.

## Observed Behavior
My Gradle config is as follows:

[code]

and the config file is empty. When I run Detekt, I'm getting

[code]

I customized one rule that I needed and it now seems to work correctly.

## Steps to Reproduce

See ab

[2021-01-15 17:42] chao2zhang commented on #3378
Thank you for submitting the bug report. I was not able to reproduce: With baseline set, I tried both `fastFail = true` and not setting `fastFail`, both yields new findings on top of the baseline.

If possible, would you mind creating a sample project to reproduce?

[2021-01-15 18:03] #3379 closed

[2021-01-15 21:34] fluxxion82 commented on #3378
Yeah, I'm attaching a basic project that has a similar structure to my current project. I've been playing with detekt versions 1.14.0 and 1.15.0, and I've been testing the failFast config set to true and false, but each set up passes, except with 1.15.0 and failFast = true, then I get some weird exception that doesn't seem related to the format checking, or at least it doesn't show the issues and

[2021-01-16 10:43] Bradeskojest opened #3384 "Illegal character in opaque part at index 2 (Windows)"
## Expected Behavior
Detekt should work normally on Windows

## Observed Behavior
[code]

## Steps to Reproduce
gradle:
[code]

## Context
Trying to add detekt to an existing Android Kotlin project

## Your Environment
* Version of detekt used: 1.15.0
* Version of Gradle used (if applicable): 6.5
* Operating System and version: Windows 10
* Link to your project (if it's a public repository):

[2021-01-16 10:48] cortinico commented on #3384
Would you be able to rerun with `--info --stacktrace`? A Gradle Scan would also be helpful (`--scan`).

I don't have a Windows environment where I can reproduce this sadly.

[2021-01-16 10:54] Bradeskojest commented on #3384
[code]

[2021-01-16 10:57] Bradeskojest commented on #3384
https://scans.gradle.com/s/s4ylv5fbmrlkq

[2021-01-17 00:05] arturbosch commented on #3384
Seems like we should use `File(fileName).toUri()` in the sarif report (https://stackoverflow.com/a/2856542) to make Windows happy.
Thanks for reporting, you can turn off the `sarif` report for now to use detekt in your project.

[2021-01-17 00:21] chao2zhang commented on #3384
This may have been addressed by #3359 already.

[2021-01-17 12:51] biazmoreira commented on #2166
Hey, @FWDekker and @arturbosch!

I saw this issue is listed in the _Next_ in the _Bugs and False Positives_ board and tried to tackle it.

The [link to the minimal working example is not working](https://github.com/arturbosch/detekt/files/3927820/detekt-issue-mwe.zip) anymore. I tried to reproduce the issue in a project of my own and also tried using the project [you linked](intellij-randomness),

[2021-01-17 13:23] arturbosch commented on #2166
Thanks for the further investigation! I will close then for now.

[2021-01-17 13:23] #2166 closed

[2021-01-17 17:18] FWDekker commented on #2166
Thanks for the investigation, @biazmoreira! I think the repo was renamed from arturbosch/detekt to detekt/detekt, so the link to the mwe has also been changed. I've updated the issue description so that the link is correct again.

Running the mwe shows the original exception. Updating the detekt version to 1.15.0 and changing `detekt.yml` to suppress `AbsentOrWrongFileLicense` and `UndocumentedPub

[2021-01-17 20:23] cortinico commented on #3384
Most likely yes. @Bradeskojest would you be able to test one of the latest snapshot to verify that this is fixed?

[2021-01-17 20:37] Bradeskojest commented on #3384
Yes, of course. How do I do it?
If it's as easy as changing the version in gradle I can do it. Otherwise I
would prefer to do it later during the week.

On Sun, Jan 17, 2021 at 9:24 PM Nicola Corti <notifications@github.com>
wrote:

[2021-01-17 21:03] cortinico commented on #3384
I realize that our documentation is really scarse on this front. I'll updated it shortly.

However, you need to:
- Bump the detekt version to use `1.15.0-SNAPSHOT`
- Add the following sonatype snapshot repository.

Your `build.gradle` file should look more or less like this:
[code]
_(Here I'm assuming that you're using Gradle groovy DSL and you're not using the `plugin{}` blocks as there the setup

[2021-01-17 23:43] BraisGabin commented on #3355
But, if the content of the baseline changes we want to rerun the task because the output of detekt can change, right? I think that we should keep using `@get:InputFile`

[2021-01-18 14:48] sczerwinski opened #3388 "FunctionOnlyReturningConstant should ignore actual functions"
## Expected Behavior of the rule
By default, `actual` functions in multiplatform projects should be ignored when evaluating `FunctionOnlyReturningConstant`.

There should be a configuration option `ignoreActualFunction`, which would allow changing this behaviour.

### Example
#### commonMain
[code]
#### jvmMain
[code]
#### jsMain
[code]

## Context
Similar to `ignoreOverridableFunction`.

Implemen

[2021-01-18 16:09] cortinico commented on #3355
Agree. Though we're forced to specify a valid file (we can't just create it if it's missing).

[2021-01-18 20:28] #2340 closed

[2021-01-18 23:55] cortinico commented on #3388
That's a valid addition. Do you want to add this extra config option @sczerwinski ?

[2021-01-19 02:11] 3flex commented on #3355
I wonder if the baseline could be generated as a report and dropped in the reports directory? That would mean separate parameters are used for task input and output for the baseline file which makes it simple to solve the original issue.

If the file is generated by default the flow would be:
1. Run detekt
2. Copy baseline file from report output directory to a location of user's choice
3. Configu

[2021-01-19 10:21] sczerwinski commented on #3388
@cortinico, I'll try to prepare a pull request, but it might take a few days for me to get familiar with the codebase.

[2021-01-19 20:17] #2838 closed

[2021-01-19 20:40] schalkms commented on #3345
After the linked PR has been merged, shall we close this now?

[2021-01-19 21:03] #3388 closed

[2021-01-19 21:14] chao2zhang commented on #3345
Sounds good.

[2021-01-19 21:14] #3345 closed

[2021-01-19 21:17] schalkms commented on #3293
Thanks for the feedback to all of you guys. I'm closing this due the mentioned arguments.

[2021-01-19 21:17] #3293 closed

[2021-01-19 21:21] schalkms commented on #2805
After a long time having this issue stale, is the indexing still a problem?

[2021-01-19 21:24] schalkms commented on #2009
Closed by 2caede1

[2021-01-19 21:24] #2009 closed

[2021-01-19 21:45] schalkms commented on #1294
Codecov is fine again. Therefore, I'm closing this.

[2021-01-19 21:47] schalkms commented on #1253
Since this issue became quite stale, what are we going to do about?

[2021-01-19 22:51] cortinico commented on #2805
The older website is still live. I'm unsure if it's still indexed but I believe so.

@arturbosch Could you delete your fork? Or we should setup the `gh-pages` branch of your fork to contain redirect to the production website.

[2021-01-19 23:09] cortinico commented on #3355
True, but this is as manual as:

- Run `detektBaseline`
- Configure the input file location to be used for the check task(s)
- Run `detekt`

That is our status quo so probably not really worth to pursue.

[2021-01-20 06:32] 3flex commented on #1294
Not quite, the unit tests (those not relying on Gradle TestKit) result in coverage, but not the integration tests which don't generate coverage info due to https://github.com/gradle/gradle/issues/1465

So yes, there's some coverage info, but it's not complete. You can see for example coverage info for the Detekt task which shows no coverage of the `@TaskAction`: https://codecov.io/gh/detekt/detekt

[2021-01-20 10:30] 3flex commented on #1253
I propose that for detekt 2.0 the path separators are updated so they're system-dependent for any CLI options that accept multiple paths. That's the convention used for both `javac` and `kotlinc`.

I don't have as strong an opinion on the other options since I use detekt from Gradle so I don't have to worry about any issues with those.

[2021-01-20 10:35] 3flex commented on #3355
That depends on whether https://github.com/detekt/detekt/issues/1260 is addressed or not - if it is, this middle step could be removed (which is really another point in leaving the process as is, just thought I'd mention that other fairly stale issue).

[2021-01-20 17:59] cortinico commented on #3384
@Bradeskojest Have you got the chance to try it?

See #3393 for further info on detekt snapshots.

[2021-01-20 18:32] Bradeskojest commented on #3384
I have groovy syntax and some problems with setting up gradle properly, so I ran out of time over the weekend. I can give it a try now. I am looking at the new docs commit. Is it really
[code]
before I had it in
[code]

[2021-01-20 18:45] Bradeskojest commented on #3384
Not sure what's wrong, I am not so fluent in Gradle yet.
![image](https://user-images.githubusercontent.com/817095/105220462-0ab7cf00-5b58-11eb-89d5-f2bb9ff1a9c8.png)

[2021-01-20 19:25] cortinico commented on #3384
You need to update the version from `master-SNAPSHOT` to `1.15.0-SNAPSHOT`. The version `master-SNAPSHOT` will be available once we merge that Pull Request.

[2021-01-20 19:54] Bradeskojest commented on #3384
Thanks. I can confirm it works! I have `sarif.enabled = true`, and still be able to run Detekt.

[2021-01-20 19:58] cortinico commented on #3384
Great, so we can close this 👍

[2021-01-20 19:58] #3384 closed

[2021-01-20 21:36] arturbosch commented on #2805
time is flying ... deleted :)

[2021-01-20 21:36] #2805 closed

[2021-01-21 12:02] lasterketaDev opened #3395 "LongParameterList ignoreAnnotated not working as expected"
## Issue

We set the LongParameterList option to ignore the following classes:
-dagger.Component.Factory

But detekt flags this code:

[code]
when it should not flag it, as it is in the ignore list.

## Context

It is a dagger component factory, so we need to pass multiple components.

## Your Environment

* Version of detekt used: 1.15.0
* Version of Gradle used (if applicable): 6.7.1

[2021-01-21 13:25] sergeys-opera opened #3396 "Getting "io.gitlab.arturbosch.detekt.api.RuleSetProvider: Error reading configuration file" error sometimes"
We are getting this error from time to time when running `./gradlew detekt`:
[code]

## Expected Behavior
No error

## Observed Behavior
The build stops with an error. Running `./gradlew detekt --no-daemon` solves the issue (but this is not good).

## Steps to Reproduce
Just run `./gradlew detekt` in a Gradle project with daemon enabled (we also use parallel builds if that matters)

## Context
I h

[2021-01-21 13:27] sergeys-opera commented on #3396
Seems related to https://github.com/detekt/detekt/issues/2411 and https://github.com/detekt/detekt/issues/2582 but they are closed.

[2021-01-21 17:26] chao2zhang commented on #3396
@sergeys-opera Is it possible for you to share the exception stacktrace with `./gradlew detekt --stacktrace` and also the redacted detekt gradle configuration if possible?

[2021-01-21 20:08] cortinico commented on #3396
On which JVM are you running? Would you be able to try a different one and let us know if the error happens consistently?

[2021-01-21 20:37] BraisGabin commented on #3395
The problem here is that we don't support type solving on this rule. So we don't support adding all the package. It works if you just add `Component.Factory`.

One more reason to generalize the way we allow to ignore some rules.

[2021-01-21 20:38] #3395 closed

[2021-01-22 00:06] fluxxion82 commented on #3378
Hello, I was wondering if you had a change to look at the sample project, plus if you were able to reproduce the issue with it and had any ideas yet about what might be going on. Thanks.

[2021-01-22 01:27] chao2zhang commented on #3378
Sorry this falls through the cracks, I have requested access to the Google drive.

[2021-01-22 03:35] chao2zhang commented on #3378
When on 1.15.0 and failFast = true, the exception below tells us that the yaml config has undesired types:
[code]

[code]

[2021-01-22 03:44] chao2zhang commented on #3378
When on 1.15.0 and failFast = false (This is the recommended setting), it seems like `./gradlew detekt` or `./gradlew projectDetekt` does respect baseline. The task succeeds because `detekt-config.yml` has `build.maxIssues: 1` and there is exactly one issue found.

I would change the `maxIssues` to 0. Let me know if this doesn't help.

[2021-01-22 05:39] fluxxion82 commented on #3378
Awesome, all of this has fixed the issue. Thanks a bunch for taking a look at this.

[2021-01-22 05:39] #3378 closed

[2021-01-22 09:41] sergeys-opera commented on #3396
Yes, but I need to reproduce the error first. Will let you updated.

[code]

[2021-01-22 22:51] cortinico opened #3398 "New rule to enforce trailing commas"
What's our take on trailing commas?

Given them being optional, I saw them being slowly adopted in several codebases. I was thinking about a `UseTrailingComma` rule to enforce usages of trailing comma (I'm also wondering if this is our domain or is more something for KtLint).

## Expected Behavior of the rule

### Compliant

[code]

### Non-Compliant

[code]

## Context

Ideally we could offer a c

[2021-01-22 23:34] chao2zhang commented on #3398
The Kotlin official coding convention recommended:
[code]
Like you described, we should have config options to configure declaration only or call site only.

I have also had colleagues disliking the trailing comma, so we should also provide a different rule to suppress using trailing comma 🙈

[2021-01-23 10:04] schalkms commented on #3398
I guess this is a duplicate of #2398. The referenced ktlint issue regarding this rule seems to be work in progress.

[2021-01-23 11:12] cortinico commented on #3398
oops 🤦 thanks for pointing out. Closing here.

[2021-01-23 11:12] #3398 closed

[2021-01-24 18:01] chao2zhang opened #5748 "Leverage more kt compiler plugin API"
We are currently using `AnalysisHandlerExtension` kt compiler plugin API which may involve heavy and unnecessary computation. There are actually more Kotlin compiler plugin API that allows us to handle styling errors more idiomatically (and potentially more effectively)
- [DeclarationChecker](https://github.com/JetBrains/kotlin/blob/master/compiler/frontend/src/org/jetbrains/kotlin/resolve/checker

[2021-01-24 21:17] chao2zhang commented on #2267
The remaining tasks are:
- Enable `--build-upon-default-config` by default
- Remove `--fail-fast`

[2021-01-25 00:06] BraisGabin commented on #2267
Probably this two should be done for 2.0, right?

[2021-01-25 22:32] bsara opened #3408 "MethodOverloading: False positive when overriding from external parent class/interface"
## Expected Behavior
If the threshold for MethodOverloading is `3`, the following class should be seen as valid because the methods are overridden from the parent class:

[code]

## Observed Behavior
Class in code above is seen as not valid regardless of the fact that the functions are overrides.

## Steps to Reproduce
1. Create a Java class or interface with some overloaded methods that can be ov

[2021-01-26 05:42] drinkthestars opened #3409 "False Positive UnnecessarySafeCalls re: Android Views (1.15.0)"
## Expected Behavior
Elvis operators `?` for safe access of Android `View`s must not be falsely reported as unnecessary.

## Observed Behavior
False positive `UnnecessarySafeCall`s were reported when using `?` operator on nullable Android `View`s. For example:

[code]
Where `viewStub` refers to the following Java getter (return value marked as `@Nullable`):

[code]

## Your Environment
* Version o

[2021-01-26 17:44] arturbosch commented on #2692
from https://github.com/detekt/detekt/issues/2267#issuecomment-766433748

remove --fail-fast
activate --build-upon-default-config by default (remove flag then)

[2021-01-26 17:44] arturbosch commented on #2267
added it to https://github.com/detekt/detekt/issues/2692#issuecomment-767711612

[2021-01-26 17:44] #2267 closed

[2021-01-26 20:21] chao2zhang commented on #3282
Detekt 1.16.0-RC1 is released with Kotlin 1.4.21. It would be great if you could help us verify the existence of the issue reported.

[2021-01-26 20:54] schalkms commented on #3408
This is expected behavior. Even though the class is implementing functions from an external class, the excessive use of method overloading pertains. It's out of scope of detekt to reliable detect the usage of an external class library.

[2021-01-26 20:54] #3408 closed

[2021-01-26 20:54] schalkms commented on #3408
The usage of an Suppress annotation is also fine here.

[2021-01-26 21:00] schalkms commented on #3409
We use official Kotlin compiler diagnostics in this rule for detecting the unnecessary safe call. Please see here for more information: https://github.com/detekt/detekt/blob/27303367cc351290ec43af1af672a15cd58f1810/detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt#L42-L61

If you think this is an issue, I guess this should be forwarded to the com

[2021-01-26 21:09] bsara commented on #3408
doesn't it seem strange that something that is out of my control is being flagged as invalid though?

[2021-01-26 21:15] schalkms commented on #3408
If you use 3rd party code, that's entirely possible for static analyzers. The static analyzer doesn't make a difference between own and 3rd party code.

[2021-01-26 23:52] BraisGabin commented on #3409
I need to do more research but today one collegue at work reported me a false positive in UnnecesarySafeCall related with android views too. And AndroidStudio was not complaining about it.

As I said I didn't have the time to check it but I think that this issue is related with ViewBinding. ViewBinding is a Kotlin compiler plugin so we don't have the information of that class in the analysis (as d

[2021-01-27 00:03] BraisGabin commented on #3409
I don't know how should we proceed here:
- The false positives are really annoying. And they make the user lose trust in detekt. So we should address them.
- The Kotlin compiler plugins are getting popular so we should support them. We get that support by using https://github.com/detekt/detekt-compiler-plugin (correct me if I'm wrong here) but it's not production ready yet (right?)
- I don't know

[2021-01-27 00:16] drinkthestars commented on #3409
@BraisGabin correct, I have seen this when using `ViewBinding` (and data binding). I suspect your hunch is correct and that this happens with `ViewBinding` and related components, in that case https://github.com/detekt/detekt-compiler-plugin might be the best bet.

To circumvent at the moment, I'm `@Suppress`ing them. _However_, I don't recall running into this particular false positive prior to d

[2021-01-27 01:48] mhernand40 commented on #3409
I'm actually seeing yet another `UnnecessarySafeCall` false positive that involves Kotlin extension functions that talk to Java-generated Protobufs from the [Protobuf Gradle Plugin](https://github.com/google/protobuf-gradle-plugin) within an Android library module.

Sorry, I do not have a small project with the isolated repro at the moment but here are some snippets of what a reduced repro looks l

[2021-01-27 10:49] vladimirfx commented on #3282
Fixed in 1.16.0-RC1

[2021-01-27 10:49] #3282 closed

[2021-01-27 14:18] Whathecode opened #3414 "False positive for `UnnecessarySafeCall` on map accessor in kotlinx.serialization `JsonObject`."
## Expected Behavior
Accessing a map using the square braces syntax, followed by a safe accessor (`?.`) should not give a `UnnecessarySafeCall` warning. But, in the case of [kotlinx.serialization's `JsonObject`](https://kotlin.github.io/kotlinx.serialization/kotlinx-serialization-json/kotlinx-serialization-json/kotlinx.serialization.json/-json-object/index.html), it does.

## Observed Behavior/Ste

[2021-01-27 14:48] Whathecode opened #3415 "False positive on `UnusedPrivateMember` for actual/expected inline method parameters."
## Expected Behavior
Expected inline methods in a Kotlin multiplatform project should not give `UnusedPrivateMember` warning for parameters.

## Observed Behavior/Steps to Reproduce
[code]

This gives a `UnusedPrivateMember` warning for the `klass` parameter.

## Your Environment

* Version of detekt used: 1.16.0-RC1
* Version of Gradle used (if applicable): 6.6
* Operating System and version: Win

[2021-01-27 15:46] schalkms commented on #3409
Thanks for the valuable feedback guys! This issue is solved, if the compiler plugin solution is pushed forward. Without having the detekt compiler plugin in use, I guess, this issue won’t be resolved.

[2021-01-27 17:07] cortinico commented on #3414
Thanks for your report.

This specific rule delegates to the compiler inspection:
https://github.com/detekt/detekt/blob/42678a85f8fe5c91890d9a709a3fc415dc7cd6b3/detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt#L53

In other words, we raise the reports that also the Kotlin compiler is finding. Hence I suspect that if this is a false positive, the

[2021-01-27 17:17] cortinico commented on #3414
I've tested your repo and detekt seems to run fine for me 🤔

[2021-01-27 17:21] cortinico commented on #3414
Also probably related to #3409

[2021-01-27 18:23] cortinico commented on #3415
Thanks for the report. The `expect object` scenario is indeed not covered by this rule. Fix is in #3417

[2021-01-27 18:24] Whathecode commented on #3414
Quite the opposite. The compiler correctly complains when you remove the safe accessor that the returned value may be null. So 'fixing' it for detekt makes the project no longer compile. Weird. 🤷

Sorry. I should have added some clarification to that link. It simply references the actual code in production code where when upgrading to detekt 1.16.0-RC1 (from 1.14.2) the reported false positive occ

[2021-01-27 18:27] chao2zhang opened #3418 "Split `UnusedPrivateMember`"
## Expected Behavior of the rule
This rule has gone way beyond reporting unused member, and covers properties, parameters, and member functions.
I would suggest a split at least for parameters vs (properties + functions).

## Context
This is triggered by reviewing #3417

[2021-01-27 18:29] cortinico commented on #3418
Agree. Plus what annoys me is that this is one of those rules with Mixed behavior (#2994). Ideally if we split it we can isolate the sections that require type resolution.

[2021-01-27 18:51] schalkms commented on #3418
Yes, please. This is a very good suggestion.

[2021-01-27 20:28] cortinico commented on #3414
So there are a couple of things to handle on this specific issue:

- You're on a KMP project, therefore we don't generate tasks with correct populated classpath (we should (see #3385)
- You've configured a top level detekt task with a classpath that doesn't contain all the types. This means that Detekt Type Resolution will miss all the information to run a full analysis. You can see an alternative

[2021-01-27 20:30] cortinico commented on #3409
After some investigation on #3414, I believe the culprit is in the classpath used for type resolution. See #3419 description for a better context on it.

I'd be curious to understand which task are you invoking @drinkthestars once you're noticing this. Is it a `detektMain`, `detektDebug`, or you have your own custom task?

[2021-01-27 20:55] BraisGabin commented on #3409
But we will have the real compiler classpath so, if it compiles, we will have the view binding classes, right?

[2021-01-27 20:59] mhernand40 commented on #3409
@cortinico is a reproducer project still required now that https://github.com/detekt/detekt/pull/3419 is up for review?

[2021-01-27 21:16] drinkthestars commented on #3409
@cortinico

It was `detektMain`.

[2021-01-28 00:12] cortinico commented on #3409
Probably not as we were able to isolate a test case to reproduce the issue.

That's interesting. I think the issue in this case could be related to the ViewBinding feature.

[2021-01-28 08:17] #3409 closed

[2021-01-28 08:17] #3414 closed

[2021-01-28 16:36] ozmium opened #3420 "Detekt HTML report has invalid link to https://arturbosch.github.io/detekt (404 error page)"
## Expected Behavior
* The bottom of the `detekt.html` file (the auto-generated report file) should have a link to the current live website, of either https://detekt.github.io/  or https://github.com/detekt/detekt
* The text at the bottom of the file is "generated with detekt version x.x.x ...", which is where the link is.

## Observed Behavior
The `detekt.html` (the auto-generated report file) ha

[2021-01-28 16:50] tomasAlabes commented on #3248
I'm getting the error using:

[code]

- Version of detekt used: 1.16.0-RC1
- Version of Gradle used: 6.8.1
- Version of Kotlin 1.4.20

[2021-01-28 16:54] sschuberth commented on #3248
I was hoping this to be fixed with 1.16.0-RC1. Or can you update your project to Kotlin 1.4.2*1* to see if that patch level version change really makes a difference, @tomasAlabes?

[2021-01-28 17:06] tomasAlabes commented on #3248
Besides getting:

[code]

and many:

[code]

I think it works. I ran it 3 times.

[2021-01-28 17:06] chao2zhang commented on #3420
This is a great catch. Fix is linked!

[2021-01-28 17:10] chao2zhang commented on #3248
I would recommend stopping all gradle daemons by `./gradlew --stop` and rerun the detekt atsk again. Run 3 times to succeed is dubious.

[2021-01-28 17:17] chao2zhang commented on #3248
@tomasAlabes I think `ktlintKotlinScriptCheck` may be added by ktlint. If there is no secret in your file path / environment, we can help check your gradle scans if you run the gradle with `--scan`

[2021-01-28 17:29] tomasAlabes commented on #3248
Sorry I can't 😕 .
Yes, I'm also using `org.jlleitschuh.gradle:ktlint-gradle:9.4.1`. Those warnings come from there.

I tried another 3 times stopping the daemons before each time and it worked.
But I also went back to 1.4.20 and it worked, but it was always intermittent anyway. I reproduced it the 1st time when running `gradlew build --parallel`.

Maybe we need more data points... After 10 hours w

[2021-01-28 17:32] sschuberth commented on #3248
Any particular reason why you're not using the `io.gitlab.arturbosch.detekt:detekt-formatting` plugin for *detekt* instead, which internally uses *ktlint*?

[2021-01-28 17:33] Dominick1993 commented on #3248
Hi guys, I tried executing
[code]
with the combinations of
- Kotlin: `1.4.20` / `1.4.21`
- Detekt: `1.16.0-RC1`
- Gradle: `6.8`

Both ended up with the same error on my first tries:
[code]

[2021-01-28 17:41] chao2zhang commented on #3418
Since we already have 1.16-RC, I would postpone this till the next version.. Maybe Detekt 2.0?

[2021-01-28 18:46] #3420 closed

[2021-01-29 01:56] chao2zhang opened #3423 "Show detailed error messages"
## Expected Behavior
When a final newline is reported, the error message will be shown in the console:
[code]

## Current Behavior
The error message is shown in the console
[code]

## Context
I have received reports from other devs complaining they don't know what FinalNewLine is (Probably related to the line and column, but this is a fix for upstream(ktlint). However, I found that ktlint shows de

[2021-01-29 12:23] AlinaRakhimova opened #3426 "Start detekt with Type Resollution"
Hi!
A want to start detekt with type resolution in my Android project. But there isn't command detekt<Variant> in gradle task list. What i need to do to start this command?

<img width="823" alt="Снимок экрана 2021-01-29 в 15 21 41" src="https://user-images.githubusercontent.com/39618952/106274702-b4c4e480-6245-11eb-815b-f1595b6a3df9.png">

[2021-01-29 12:29] cortinico commented on #3426
(@arturbosch can you convert this to a discussion, or grant members the right to do that? 👌 )

You will find `detektMain` and other tasks with Type Resolution enabled inside your `app` (or libraries) module. What you're looking at now is the tasks from the `root` project.

[2021-01-29 13:12] AlinaRakhimova commented on #3426
I also don't see this command inside the app module

<img width="404" alt="Снимок экрана 2021-01-29 в 16 10 14" src="https://user-images.githubusercontent.com/39618952/106278997-c9f14180-624c-11eb-87a2-cf8ce2a3893d.png">

[2021-01-29 13:20] AlinaRakhimova commented on #3426
There is a demo in my repository https://github.com/AlinaRakhimova/customDetekt

[2021-01-29 13:30] cortinico commented on #3426
That happens because you're applying the Detekt Gradle plugin only on your root project and not on the `app` module. You can check this template https://github.com/cortinico/kotlin-android-template/blob/88719a470dfc3585e7af326503c90a52346886df/build.gradle.kts#L21-L50 for an example on how to setup the Detekt task on all of your subprojects.

[2021-01-30 09:55] arturbosch commented on #3426
Could you test again? Technically you are now able to delete the detekt repo :D

[2021-01-30 09:57] BraisGabin commented on #853
@chao2zhang we could close this now, right?

[2021-01-30 12:26] cortinico commented on #3426
Turns out the feature was disabled by Github (https://github.com/github/feedback/discussions/2952#discussioncomment-279785) due to a bug on their end. They're slowly re-enabling the feature. I've asked for our repo to be re-added.

So I believe I actually already had the power to do so also before 👌

[2021-01-30 14:55] cortinico commented on #2717
Do we have any updates on this? I could come up with a draft if you wish @arturbosch

[2021-01-30 16:39] #853 closed

[2021-01-30 18:49] chao2zhang commented on #3396
This is a buildscan when I run `./gradlew build` in `detekt` itself: https://gradle.com/s/qofp2pshr3pg2

[2021-01-30 19:32] #3355 closed

[2021-01-30 19:33] schalkms commented on #3423
I'm not sure whether this should be done for the console report. The console report could become quite verbose.

[2021-01-31 00:23] chao2zhang commented on #3423
We can provide an option to specify the verbosity of output. The issue description and message description are both shown in the SARIF report output (See https://github.com/chao2zhang/detekt/pull/4/files) and most of the rules are currently displaying the same message as the issue description

[2021-01-31 22:40] arturbosch commented on #2717
No, sorry for that. Yes please go on with the draft nico

[2021-02-01 06:49] AlinaRakhimova commented on #3426
I added Detekt Gradle plugin in my app module. And now I have detektMain. Thank you so much!

[2021-02-01 08:53] BraisGabin commented on #3426
So, we can close this now, right?

[2021-02-01 08:53] #3426 closed

[2021-02-01 09:32] sergeys-opera commented on #3396
Unfortunately I didn't get the error again and can't provide more details. But I also work on multiple projects as @chao2zhang. You can close the issue if you want. I'll reopen it if reproduce the issue again.

[2021-02-01 10:04] AlinaRakhimova opened #3435 "Custom rule isn't checking"
## Expected Behavior of the rule
I want to write the custom rule which check that boolean variables have naming starts with "is/has".

## Context
I start command detektMain, but my custom rule is ignored.
Please check my example repository. Most likely I made some stupid mistake when connecting the plugin

https://github.com/AlinaRakhimova/customDetekt

[2021-02-01 18:05] schalkms commented on #3423
Yes, that’s true. I always root for having the console and XML report to display concise information. For more detailed information there’s the HTML or SARIF report available.

[2021-02-01 18:08] schalkms commented on #3435
Yes, for this reason there’s a FAQ guide showing common pitfalls available. Did you already consult the following page?
https://detekt.github.io/detekt/extensions.html#let-detekt-know-about-your-extensions

[2021-02-01 20:08] mhernand40 opened #3436 "Exceptions - Add rule that prohibits an object (Kotlin singleton) from extending any type of Throwable"
## Expected Behavior of the rule
Kotlin `objects` should _NOT_ be allowed to extend any type of `Throwable`.

**Noncompliant Code:**
[code]

**Compliant Code:**
[code]

## Context
`objects` in Kotlin are native singletons and remain in memory for the duration of the process. `Throwables`/`Exceptions` on the other hand should typically be instantiated on a case-by-case basis and thrown accordingly.

[2021-02-02 07:44] AlinaRakhimova commented on #3435
Hi!
I did it for root gradle file instead of subprojects. Now it works perfectly. Thank you so much.
You can close this issue

[2021-02-02 07:44] #3435 closed

[2021-02-02 10:38] veyndan opened #3437 "Add a rule to flag non-symbolic function-invoked operators"
Add a rule to flag non-symbolic function-invoked operators (e.g., `plus`, `minus`) to promote the usage of it's symbolic counterparts (e.g., `+`, `-`). It'd also be useful if we could ignore this rule for certain operators (e.g., configuring `invoke` to be ignored would mean calling `foo.invoke()` would pass this rule).

## Expected Behavior of the rule

The below can also be applied to the other

[2021-02-02 11:02] joancolmenerodev opened #3438 "NamedArguments with more than 26 items in arrayListOf"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule
I'm trying to add items on a list

[code]
The logs are :

        NamedArguments - [myList] at pathToMyClass.kt:49:34

Since list doesn't have a fixed value, does it make sense to don't let to h

[2021-02-02 19:33] cortinico commented on #2717
I've asked a friend of mine to come up with an idea. In the meanwhile, if someone from the opensource community wants to drop their ideas in this thread, feel free to do it 🙏

[2021-02-02 19:35] cortinico commented on #3436
I generally agree with this rule. However do you have some more concrete examples? Like in which scenario you feel that someone would use a object to represent an `Exception`?

I just wanted to make sure that, if we add a rule to detekt, it serves some real-word scenarios

[2021-02-02 19:38] schalkms commented on #3438
Good point! Thanks for the feedback! I guess it makes sense to ignore this for variable number of arguments (vararg).

[2021-02-02 19:38] schalkms commented on #3438
@joancolmenerodev do you have time to help us out here and submit a PR?

[2021-02-02 19:46] cortinico commented on #3437
I think that's a valid addition but there are couple of points that could make this rule controversial:

* There are valid use cases for function-invoke operators (e.g. if you're chaining with a nullable type: `a?.plus`)
* The example that you mentioned with `.equals` is misleading as the `a == b` operator calls translates to `a?.equals(b) ?: (b === null)` ([source](https://kotlinlang.org/docs/ope

[2021-02-02 20:14] joancolmenerodev commented on #3438
Sure, tomorrow I'll try to open a PR

[2021-02-02 20:29] mhernand40 commented on #3436
In the code base I currently work out of, I have seen several developer make this mistake and we currently have a decent number of violations, ~20. For some reason I am seeing that devs tend to favor `object` over `class`, which may be a concern in and of itself, but I find it even more problematic when it comes to custom exceptions. Some hypothetical examples that are similar to code I have seen

[2021-02-02 21:02] schalkms commented on #3437
I also think this rule would be very controversial. I don't see why the usage of `plus` instead of `+` would be a bad thing or to put it in other words why the operator style should be promoted. I don't think this is a style related rule.

[2021-02-02 21:45] BraisGabin commented on #3436
It seems like a good rule to me. Do you want to provide the implementation?

[2021-02-02 21:56] schalkms commented on #3436
Looks fine! Thanks for outlining different scenarios. Please go for it. 🙂

[2021-02-02 22:04] BraisGabin commented on #3437
I prefer to use `list.plus(element)` than `list + element`. I agree that the usage of + for integers is better but I don't know if we need a rule for that.

[2021-02-02 22:29] cortinico commented on #3436
Great, thanks for sharing your specific scenario. I think it's going to be a great addition 👌

[2021-02-02 22:59] mhernand40 commented on #3436
Sure, I can take this on. Thank you everyone 🙂

[2021-02-03 09:23] BraisGabin commented on #3436
😂 I just review a PR at work that had exactly this issue.

[2021-02-03 11:37] marcelop3251 opened #3441 "I cannot apply option when I execute detekt."
I searched the problem, but I can't found any relation.

I config detekt with help of maven. Conform as shown below.

[code]

And it executed, but i would like to config a new detekt.yml so I created file with the help detekt-clie and put the values and some some rules. After that I executed again and I didn't see that it not use my detekt.yml instead it used the default.
[code]
I also receive thi

[2021-02-03 13:22] joancolmenerodev commented on #3438
Hello guys, I've tried to reproduce it on a new branch with tests but the test was not complaining so I've started to see the Spek and I found something similar and I guess this is already fixed on #3294 , I'm not pointing to 1.16.0 milestone we are on 1.15.0.
So I'll close this.

Thanks

[2021-02-03 13:22] #3438 closed

[2021-02-03 17:45] stephanenicolas opened #3442 "[gradle plugin] Adapt access to properties to Configuration Cache"
Using
* detekt 1.4.12
* JDK:11.0.9
* AGP:4.2.0-beta04
* Kotlin:1.4.21
* Gradle:6.8

We observe the following error when using `--configuration-caching` (CC) on our build using detekt.

[code]

On our side, this problems have often been solved by following: https://docs.gradle.org/6.8/userguide/configuration_cache.html#config_cache:requirements:undeclared_sys_prop_read

Thanks for your work already

[2021-02-03 21:05] cortinico commented on #3442
Please consider bumping to the latest version of Detekt

I've naively checked for `proxyHost` and `proxyPort` in our codebase and I found no occurrences of that. It seems like we never read directly that property (though we read others).

[2021-02-03 23:20] cortinico commented on #3441
Have you considered using a Detekt Maven plugin: https://github.com/Ozsie/detekt-maven-plugin

[2021-02-04 10:11] marcelop3251 commented on #3441
Hey Cortinico, this plugin is Unofficial and I prefer use only official.

[2021-02-04 10:39] cortinico commented on #3441
I'm unable to help you then. We don't really have an official Maven Plugin other than this page: https://detekt.github.io/detekt/mavenanttask.html

Are you able to run detekt from CLI with the custom configuration and the `--config` flag?

[2021-02-04 10:59] marcelop3251 commented on #3441
No problem, I appreciate you help.

I configured my pom.xml looking at this page hehe and yes I able to run detekt from CLI with the custom configuration.

I will do some test with gradle.

Thank you so much.

[2021-02-04 10:59] #3441 closed

[2021-02-04 11:01] cortinico commented on #3441
If you happen to find the solution, please let us know so we can update the page 👍

[2021-02-05 14:17] AlinaRakhimova opened #3444 "Detekt doesn't find with and without type resolution mistakes with detektMain command"
HI!

## Expected Behavior of the rule
There is custom rule with type resolution to give the boolean variable names correctly.
I want to use one detekt command to find all types of mistakes.

## Context
I added large line and mistake for my custom rule in my project.
Command DetektMain was run. Detekt found mistake by my custom rule, but didn't find mistake by default rule "MaxLineLength".
When I f

[2021-02-05 14:53] cortinico commented on #3444
Hey @AlinaRakhimova

Can you provide a bit more context? For example having access to your project or a reproducer would be beneficial to understand if there is a bug.

If you can't share the project, please provide the gradle file you're using for configuring detekt.

This happens as you're probably fixing a mistake in the code and making the line too long. You can tune the configuration for `Max

[2021-02-05 18:53] #3436 closed

[2021-02-05 22:43] chao2zhang commented on #2693
I am working on a short-term patch fix for this issue. I am running into the exact same exception when upgrading to detekt 1.16-RC and there are "tons" of `Indentation` violation in ktlint that I strongly believe my colleagues will yell at me if  autocorrect crashes.

[2021-02-06 06:04] chao2zhang opened #3449 "False positives for `MultilineLambdaItParameter`"
## Expected Behavior
No issues detected for the code below.

## Observed Behavior
Current a violation of `MultilineLambdaItParameter` is issued for the code below. Because the lambda does not have a parameter at all.

## Steps to Reproduce
Run detekt with active `MultilineLambdaItParameter`.

## Context
[code]

## Your Environment

* Version of detekt used: 1.16.0-RC1
* Operating System and versio

[2021-02-08 06:08] AlinaRakhimova commented on #3444
I can't share my project. My gradle file:

buildscript {

    apply from: 'gradle_common/version.gradle'
    apply from: 'gradle_common/dependencies.gradle'

    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:4.0.1'
        classpath 'com.google.gms:google-services:4.3.3'
        classpath 'com.google.firebase:perf-plug

[2021-02-08 06:24] AlinaRakhimova commented on #3444
You didn't understand.
First, I have two mistakes in my code - "MaxLineLength" and custom naming mistake - in the different parts of project.
But Detekt only found custom mistake and didn't find the second mistake. Next, I fix it and run detektMain command again. Then detekt will find the second mistake too.
I want the detekt to find both mistakes at the same time

[2021-02-08 06:27] AlinaRakhimova commented on #3444
I do this mistakes to check my custom rule and run the command detekt with type resolution

[2021-02-08 07:54] BraisGabin commented on #3444
The issue that you reports is really strange. The spected behavior of detekt is what you want. Could you create a sample project to reproduce the issue?

Does your custom rule implemet the auto correct feature? or edit the KtFiles in any way?

[2021-02-08 08:22] AlinaRakhimova commented on #3444
I found the reason.
I called super methods in fun visitXXX() after my own code.
Thank you so match for you time!

[2021-02-08 08:22] #3444 closed

[2021-02-08 23:00] ber4444 opened #3461 "Upgrade to 0.7.2 of kotlinx-html-jvm"
## Expected Behavior
Can build without Jcenter which is going away soon. Use mavenCentral only.

## Observed Behavior
[code]

## Steps to Reproduce
Run the detekt Gradle task.

## Context
0.7.2 is published but not 0.7.1: https://mvnrepository.com/artifact/org.jetbrains.kotlinx/kotlinx-html-jvm?repo=kotlinx

[2021-02-08 23:04] ber4444 commented on #3461
Ok, I see it's in progress at https://github.com/detekt/detekt/pull/3455

[2021-02-08 23:34] cortinico commented on #3461
kotlinx-html is not hosted on Central. We have to wait for JetBrains to move it and then we can merge #3455

[2021-02-09 00:09] ber4444 commented on #3461
The latest version of `kotlinx-html` is on Central, check the link I posted above. Also commented on https://github.com/Kotlin/kotlinx.html/issues/173

[2021-02-09 15:03] veyndan commented on #3437
Yeah that makes sense. Maybe we could make it such that method references and safe calls are the exception?

@schalkms From @cortinico (and correct me if I'm wrong), they said that it would be controversial based on how something like `?.plus` would be handled, not on the rule itself.

@BraisGabin I think that this is a special case based on your personal style guidelines. You could easily ignore

[2021-02-09 16:37] ber4444 commented on #3461
ok, let's wait for https://github.com/Kotlin/kotlinx.html/issues/173

[2021-02-09 16:37] #3461 closed

[2021-02-09 19:22] cortinico commented on #3437
Agree that this can be added as disabled by default, so users can opt-in and enable it if they wish. Before we get into implementation mode, can I ask you to clarify which exact scenarios should the rule exclude/include, or which config flags are you suggesting?

[2021-02-09 20:07] #3449 closed

[2021-02-10 04:12] MaksimDmitriev commented on #2320
https://arturbosch.github.io/detekt/git-pre-commit-hook.html
404 - the link doesn't work

[2021-02-10 08:15] BraisGabin commented on #2320
https://detekt.github.io/detekt/git-pre-commit-hook.html

[2021-02-11 10:33] tomasAlabes commented on #3248
We started like that and never changed it, I switched to `detekt-formatting` but I'm blocked by #3250, by the

[code]

Hopefully PR https://github.com/detekt/detekt/pull/3446 will help when it's out.

[2021-02-12 05:22] t-kameyama opened #3465 "New Rule: UseOrEmpty"
https://twitter.com/kotlin/status/1337306632477356034

Noncompliant Code:
[code]

Compliant Code:
[code]

[2021-02-12 05:24] t-kameyama opened #3466 "New Rule: UseIsNullOrEmpty"
Noncompliant Code:
[code]

Compliant Code:
[code]

[2021-02-12 08:27] BraisGabin commented on #3465
I agree with this rule. The second code is better. But, for me, both of them are code smells. If you don't want to handle null lists in your function you should mark the parameter as not null. Then is work of the caller to make the null list empty if they want to call it. This is usually recursive and you end up with less null values.

But I don't know how could we create a rule to check this with

[2021-02-12 17:54] cortinico commented on #3465
I second the rule. I also don't think there would be too many false positives. Imho a rule that checks for every `?: emptyList()` and returns a report would just work fine 🤔

[2021-02-12 22:03] BraisGabin commented on #3465
No, no, this rule is fine. I think that I didn't explain my self properly. What I mean is that if you need to use `?: emptyList` or `orEmpty` on a list passed as parameter in a function, then the smell code is in the parameter itself. It should not be nullable in the first place.

[2021-02-13 01:00] t-kameyama commented on #3466
I will work on this issue.

[2021-02-15 08:45] t-kameyama opened #3474 "False negative "UselessCallOnNotNull" with `list.isNullOrEmpty()`"
[code]

[2021-02-15 14:41] #3474 closed

[2021-02-16 03:13] niqiu1683 opened #3476 "Failed to apply detekt(v1.16.0-RC1) plugin in subproject"
## Expected Behavior

Everything performs well under older detekt version, such as 1.15.0, however I can't apply detekt plugin in subproject under version 1.16.0-RC1.

root build.gradle file:.
[code]

## Observed Behavior

There is a problem occurred when I sync gradle, show as below:

[code]

## Steps to Reproduce

just add

## Context

Maybe a bug in new version?

## Your Environment

* Version

[2021-02-16 03:37] chao2zhang commented on #3476
Thank you for reporting this issue. Which AGP version is applied to your project?

[2021-02-16 16:33] sergeys-opera commented on #3396
I reproduced the issue again. Here's the stack trace:
[code]

[2021-02-16 16:35] sergeys-opera commented on #3396
@chao2zhang ^^^
Here's the configuration:
[code]

[2021-02-16 16:47] chao2zhang commented on #3396
Let's keep this issue open

[2021-02-16 16:49] chao2zhang commented on #3396
I have a bold claim: This might be an issue when working with Java 1.8 and the issue is gone with Java 11. I have been switching my project back and forth with Java 1.8/Java 11 and did not observe any issue in Java 11. The stacktrace in https://github.com/detekt/detekt/issues/3396#issuecomment-779956146 does not exist in Java 11.

[2021-02-16 16:55] chao2zhang commented on #3396
Relative issue report and fix: https://github.com/google/auto/commit/31e5815c213b79da20a34988b6b1255d6ab7af01#diff-4d0e3a98164c3eb3f7eb1128f19dd3c663671822d60407d3f58bb89559842945
[code]

I will need to spend some time trying to prove that this issue only exists in Java 1.8 and evaluate the
effort vs the fix. @sergeys-opera do you know if your project is planning to adopt Java 11 soon?

[2021-02-17 02:32] niqiu1683 commented on #3476
I apply 4.0.1 AGP in my project

[2021-02-17 06:49] t-kameyama opened #3479 "New rule: disallow to cast to nullable type"
noncompliant:
[code]

compliant:
[code]

[2021-02-17 10:56] BraisGabin commented on #3479
Why is this related with a nullable type? This has the same problem that your noncomoliant, right?

[code]

And with this we are flagging all the casts. They are dangerous but I think that we should not create a rule about it.

[2021-02-17 13:00] wyhasany opened #3480 "Can not suppress too long line with infix functions"
## Expected Behavior
I cannot suppress too long line with infix functions which cannot be broken in multilines

## Observed Behavior
Imagine following line:
[code]
when it exceeds limit of line @Suppress won't help. The very same is visible on following printscreen:
![image](https://user-images.githubusercontent.com/317662/108207587-411d4580-7128-11eb-8df1-b22c542648c0.png)

## Steps to Reproduce

[2021-02-17 13:11] wyhasany commented on #3480
There is following workaround (extracting local variable):
![image](https://user-images.githubusercontent.com/317662/108209026-13390080-712a-11eb-87f8-a11a92b725b0.png)

[2021-02-17 15:09] alexanderbezverhni opened #3481 "Exclude not working."
## Expected Behavior
Files with matching pattern are getting excluded from `Detekt` checks.

## Observed Behavior
Files with matching pattern are **not** getting excluded from `Detekt` checks.

## Steps to Reproduce
[code]

[code]

## Context
We are running custom Gradle task that runs `:detekt` task for every module in our multi-module project.

## Your Environment
* Version of detekt used: `1.15

[2021-02-17 21:46] #305 closed

[2021-02-17 21:48] #3466 closed

[2021-02-18 07:56] #3024 closed

[2021-02-18 10:10] cortinico commented on #3481
The problem is that you need to move your `tasks.withType` either:
- Inside the `subprojects` block
- In the `build.gradle` files of the projects where you want the exclude to be applied

In your current script you're applying the exclude only on the `detekt` task on the top level project

[2021-02-18 10:11] cortinico commented on #3480
Would you be able to provide a reproducer? This will help us fix this issue faster

[2021-02-18 10:13] cortinico commented on #3476
Have you tried to update to AGP 4.1.x to see if this is still happening?

[2021-02-18 11:19] triplem opened #3482 "Provide gradle idiomatic configuration"
In gradle 6.8.x (and most probably before this already) gradle provides an "idiomatic" way to define aggregrations of reports without task-dependencies. This is mainly done using configurations, for an example see https://docs.gradle.org/release-nightly/samples/sample_structuring_software_projects.html.

## Expected Behavior
The detekt Task should support this idiomatic way and should (best case)

[2021-02-18 12:12] #3482 closed

[2021-02-18 13:34] BraisGabin commented on #3476
If that's the problem we should think about our retro compatibility with agp.

[2021-02-18 16:12] alexzaitsev commented on #1295
I have to use several files (each for a module) for now. That's really inconvenient and it would be awesome to see a consolidated HTML report.

[2021-02-18 16:34] #3465 closed

[2021-02-18 17:29] cortinico commented on #1295
@alexzaitsev We're on it: #3394. A follow up will come up as soon as we have bandwidth

[2021-02-18 19:46] BraisGabin commented on #3480
I'm on my phone now so I can't check it but isn't this rule from ktlint? We have real problems suppressing those. I think that we just support suppressing in all the file with `@file:Suppress("MaxLineLength")`.

[2021-02-19 07:06] t-kameyama commented on #3479
There are cases where `as String?` is misused as safe casting (`as? String`), and so I want to detect that.

[2021-02-19 07:39] cortinico commented on #3480
Yes you're right this is from KtLint.

[2021-02-19 08:05] BraisGabin commented on #3479
I agree that there are some confusion between `as? String` and `as String?` but I don't know how to create a rule that flag those without a lot of false positves.

[2021-02-19 08:13] BraisGabin opened #3484 "Don't hide nullability problems behind a cast"
## Expected Behavior of the rule

Noncompliant:
[code]

Compliant:
[code]

## Context
The cast operator can hide null problems in your code. I propose a rule that forbid any cast from a nullable type to a non-null type. If you want to do that you first should cast from nullable to non-null and then do the cast as shown in the example.

The idea is to write code that show that it could fails for tw

[2021-02-19 15:30] alexanderbezverhni commented on #3481
@cortinico Thank you for the prompt response Nicola!

[2021-02-19 15:30] #3481 closed

[2021-02-19 16:29] cortinico commented on #2717
Ok so we have some updates.

I originally drafted this:
<img width="50%" alt="Screenshot 2021-02-19 at 16 43 32" src="https://user-images.githubusercontent.com/3001957/108531988-9d729780-72d7-11eb-98dd-32d22fa827c8.png">

I sent it over to a designer friend of mine (Thanks Paya 🙏) and she came up with several variations:

<img width="1247" alt="Screenshot 2021-02-19 at 16 43 32" src="https://user-

[2021-02-19 17:25] chao2zhang commented on #2717
I came to https://kotlinlang.org/docs/guidelines.html#unpermitted-uses for usage of Kotlin logo. In this regard, I would vote for the 3 logos in the bottom right.

I have checked mockk, koin, ktlint. None of them are reusing Kotlin logo. On the other hand, the kotlin official libraries like anko include the original Kotlin language logo.

Looking forward to a vote!

[2021-02-19 20:18] wyhasany commented on #3480
Sorry for delay. you're correct it happens because of `ktlint` it can be solved as you mentioned:
![image](https://user-images.githubusercontent.com/317662/108556725-c0ad3f00-72f7-11eb-81e8-5f16d4895116.png)

Here is sample project, I've added a class to play around org.awaitility.kotlin.KotlinTest
[kutils.zip](https://github.com/detekt/detekt/files/6012698/kutils.zip)

is it expected behavior? Ma

[2021-02-20 03:46] niqiu1683 commented on #3476
I have updated AGP version to 4.1.2, which need gradle version higher than 6.5+, so i also update my AS version from 4.0 to 4.1.2 and gradle version from 6.1.1 to 6.5.1, then the problem is solved.
I think this is indeed a compatibility issue related to AGP.

[2021-02-20 04:42] chao2zhang commented on #3476
Unfortunately AGP minor version does not guarantee plugin compatibility. As drafted in https://github.com/detekt/detekt/pull/3334 we are planning to move towards using `com.android.tools.build:gradle-api` rather than `com.android.tools.build:gradle`.

For this issue though I think it would be beneficial to add a version check for the AGP version and alert users if there is a mismatch between AGP v

[2021-02-20 10:33] schalkms commented on #2717
Thanks for driving this idea forward! The design looks great. 🙂
 I would vote for the second to last logo with the orange background.

I agree.

[2021-02-20 10:35] #240 closed

[2021-02-20 11:21] 3flex commented on #3442
There's also existing test coverage for the configuration cache in https://github.com/detekt/detekt/blob/master/detekt-gradle-plugin/src/intTest/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheTest.kt

@stephanenicolas do you have an update? If you're still seeing this behaviour on the latest version of detekt can you please provide a stacktrace?

[2021-02-20 13:57] BraisGabin commented on #2717
I really like the orange as the main color of the icon (as the bottom one).

I Wan to play the devil's advocate here: "So our logo will be "just a magnifier". Just as any search icon in any app/web."

To be clear, I really like idea of a magnifier as our logo. But if we don't use the kotlin logo (because we can't) we maybe need to do something "special" to that magnifier so it's not "any magnifier

[2021-02-20 14:18] BraisGabin commented on #3476
:+1:

Agree, and we should add it in the documentation too.

[2021-02-20 17:17] serso commented on #3396
I got the same failure in `detekt` project itself:
[code]

[2021-02-20 17:36] arturbosch commented on #2717
Love the draft and the designs!

yeah, kotlintest had to change their name (kotest) and logo due to the kotlin logo restrictions.

So I would vote for first (white background) of the three last ones.

My gf came up with the idea to cut some lines from the K:

![detekt-logo-edited-K](https://user-images.githubusercontent.com/20924106/108603782-3d005a80-73aa-11eb-8198-0f2950ae0eea.png)

detekt finds

[2021-02-20 17:44] serso commented on #3396
effort vs the fix. @sergeys-opera do you know if your project is planning to adopt Java 11 soon?

The problem is that it's only one (old and big) project that requires Java 8. All others are Java 11 compatible. However, it's not that easy to switch `javac` at runtime - both Android Studio and Gradle expect JAVA_HOME to be set.

[2021-02-20 18:19] chao2zhang commented on #3396
@serso
1. We only need Java 11 at build time and the target Java version for runtime can still be kept at Java 8.
2. Probably we need to copy `SimpleServiceLoader.java` from `google/auto` to resolve Java 8 issues.

[2021-02-20 18:24] serso commented on #3396
@chao2zhang sure. But we cannot use Java 11 at build time. One of the reasons is the removed `javah` executable...
I'm not saying it's impossible to migrate to Java 11 for us - it's just the way it is right now.

[2021-02-20 19:24] chao2zhang commented on #3396
If you have time to contribute, please feel free to. Otherwise, I can pick it up before the end of February.

[2021-02-21 00:29] chao2zhang opened #3488 "Detekt type resolution task not working with Android data binding"
## Expected Behavior
Run `./gradlew :app:detektMain` should succeed

## Observed Behavior
It failed
[code]

## Steps to Reproduce
Run `./gradlew detektMain` in `https://github.com/cortinico/kotlin-android-template`

## Context
This is found during my local change to move detekt to use `com.android.tools.build:gradle-api` instead of ``com.android.tools.build:gradle`. I believe this is a blocker for

[2021-02-21 06:29] chao2zhang commented on #3327
This would also resolve issues such as #3476

[2021-02-21 10:43] BraisGabin commented on #3488
I think that the only way to fix this is to move to a compiler plugin.

[2021-02-21 17:34] schalkms commented on #3488
Duplicates of #3272 #3409

[2021-02-21 18:18] chao2zhang commented on #3488
Thank you for pointing the duplicates. What would you recommend to track this issue? The other two issues were closed so my preliminary search result led me to think this is a new issue.

[2021-02-21 18:43] volsahin opened #3490 "Unable to load class 'com.android.build.gradle.BaseExtension'"
## Steps to Reproduce

I intended to upgrade detekt version from 1.9.1 to latest 1.16.0-RC1 in android project and build failed.
The project uses classic groovy gradle files. It is nice to mention that i apply detekt as a seperate gradle script.

Here is the current detekt.gradle script

[code]
And that is how it's applied into app
`apply from: '../scripts/detekt.gradle'`

As i see 1.11.1 is the l

[2021-02-21 19:08] schalkms commented on #3488
There's already an upstream ticket tracking this issue.
https://issuetracker.google.com/issues/158777988

I don't think these warnings are a major blocker.

[2021-02-21 21:42] chao2zhang commented on #3490
In your root project, did you apply both detekt plugin and `kotlin-android` plugin? I imagine this is an issue where we accidentally apply detekt to the root project.

[2021-02-21 22:51] BraisGabin commented on #3488
They are not a major blocker. But it would be nice to have the option to mute them. It would be great to have a logger with different levels and let the user to select the level of verbosity.

[2021-02-23 11:37] DcortezMeleth opened #3495 "Unreachable code after exception is thrown in kotlin elvis operator"
## Expected Behavior
When seeing code like I wouldn't expect to see Detekt reporting UnreachableCode for this method.
[code]

## Observed Behavior
Detekt is reporting UnreachableCode for this method.

## Steps to Reproduce
Reported code:
[code]
Detekt config for UnreachableCode:
[code]

## Context
When upgrading Detekt gradle plugin from version 1.0.1 to 1.15.0 build started to fail because of man

[2021-02-23 17:22] cortinico commented on #3495
Could be related to https://github.com/detekt/detekt/pull/3220

[2021-02-23 17:27] cortinico commented on #3490
Which version of AGP are you on?

[2021-02-23 17:28] cortinico commented on #3488
Does it actually fails or it print errors and does the inspection correctly?

[2021-02-23 17:30] cortinico commented on #2717
+1 for the idea suggested by @arturbosch of having the K pattern below the magnifier.

We could even have it as a dotted line in some way.

As for the colors, I'll be in for the orange as it's a strong accent color. It would play well if we plan to rebrand the website a bit.

[2021-02-23 18:16] mrSan4o opened #3496 "Wrong offset: 5450. Should be in range: [0, 5438]"
I run 'detektBaseline' command on root path of my project. or run detektDevDebugBaseline on `app` module.
config of detekt gradle plugin:
[code]

## Expected Behavior
Expect that file 'baseline.xml' will be created

## Observed Behavior
I got gradle exception
[code]
content of AdditionalOrderBindingsModule.kt :
[code]

## Environment
Version of detekt used: 1.16.0-RC1
Version of Gradle used (if ap

[2021-02-23 20:14] chao2zhang commented on #2717
Good to know that there are more people interested in rebranding our website 🎉

[2021-02-23 20:15] chao2zhang commented on #3488
It printed with `error` but the gradle task succeeded.

[2021-02-23 20:50] schalkms commented on #2717
+1
I'm also interested in a rebranding. 🙂

[2021-02-23 21:17] cortinico commented on #3496
Seems like a duplicate of https://github.com/detekt/detekt/issues/2693

[2021-02-23 21:38] volsahin commented on #3490
@chao2zhang actually i didn't applied it inside root project gradle. The `apply from: '../../scripts/detekt.gradle'` snippet is inside of a feature module of a modular application. And @cortinico as i mentioned in environment section, the plugin version is 4.1.2

[2021-02-23 23:43] chao2zhang commented on #3496
Please do try out 1.16.0-RC2. This version should include a patch fix for this type of issue.

[2021-02-24 07:16] mrSan4o commented on #3496
Thanks chao2zhang. changing version to 1.16.0-RC2 helped

[2021-02-24 07:32] AlinaRakhimova commented on #3248
Hi!
Are there any news?

[2021-02-24 08:17] #3496 closed

[2021-02-24 18:45] chao2zhang commented on #3490
Does your feature module applied `kotlin-android` but not `com.android.application` or other `com.android.*`?

[2021-02-25 07:16] DcortezMeleth opened #3498 "ForbiddenMethodCall rule distinct different signatures"
I have checked for similar feature request but couldn't have found any.

## Expected Behaviour of the rule
I would expect ForbiddenMethodCall to allow for specifying not only method name but a whole signature, so we can write it config like below to report `LocalDate.now()` calls:
[code]
and  use config as below to report `LocalDate.now(clock)` calls:
[code]

Of course this just an example of how

[2021-02-25 13:47] BraisGabin opened #3501 "Add reasons in ForbiddenMethodCall & ForbiddenImport"
## Expected Behavior
When detekt reports that a call or an import is forbidden it tell my why it is forbidden.

## Current Behavior
Right now detekt just say that it is forbidden so we a new person in the project doesn't know what to do.

## Context

Some coworkers ask me some times "Why is this forbidden?" And I need to explain them. That never bother me but after reading this in: https://saket.m

[2021-02-25 13:52] BraisGabin commented on #3501
I imagine that we will need to change the configuration. Probably we should add a new one and maybe deprecate the old one.

Right now:
[code]

Proposal:
[code]

I don't like to much the proposal, any idea is more than welcome.

[2021-02-25 17:30] DcortezMeleth opened #3502 "ComplexMethod ignore mapper or allow for not counting kotlin elvis operator"
There is issue [3103](https://github.com/detekt/detekt/issues/3103) which tackles similar problem but it could be solved in a way this case can't.

## Expected Behavior of the rule
Having mapper like
[code]
I would like to have a way to make ComplexMethod rule to skip it. I'm aware that this example has lower MCC number than default threshold but it is just an idea, as we have much bigger mapper a

[2021-02-25 21:26] volsahin commented on #3490
@chao2zhang actually they are not android feature modules, they are basically gradle library modules which i develop features inside them. Because of this, the module gradle file which i applied detekt script contains
[code]
However when i add detekt dependency also to the app gradle, which contains
[code]
The problem is still valid.

[2021-02-25 23:35] chao2zhang commented on #3490
This looks weird. Detekt has gradle testkit integration tests for both `com.android.library` and `com.android.application`. Your build setup appears correct.

I can try to reproduce this, but as far as I know my project is also on AGP 4.1.2 and has no problem running detekt.
Is it possible if you could try to provide a simplified sample project?

[2021-02-25 23:36] chao2zhang commented on #3490
I forgot to mention but https://github.com/cortinico/kotlin-android-template also works with detekt. It has both library and app modules.

[2021-02-26 07:12] volsahin commented on #3490
Actually problem is not detekt but how i applied it. If i choose a standard way to implement, there are no problems.
[code]
But if i choose the implementation that i mentioned in issue desc

[code]
Then the problem raises. It isn't very hard to convert this into working one. But i wonder why this approach fails. This line may be the problematic one `apply plugin: io.gitlab.arturbosch.detekt.Detekt

[2021-02-26 12:27] cortinico commented on #3498
I think this is doable. Perhaps we should:
- Consider all the overloads if you specify `java.time.LocalDate.now`
- Check also the parameters if you specify the parameters list: `java.time.LocalDate.now(java.time.Clock)`

This would mean that specifying `java.time.LocalDate.now` and `java.time.LocalDate.now()` would have a different semantic.

[2021-02-26 12:30] cortinico commented on #3501
Do we have other rules where this pattern could become useful? I suppose we have some scenarios where you want to either:
- Provide a more meaningful message to a developer
- Instantiate the same rule twice but with distinct purpose (as you presented in the example).

[2021-02-26 14:14] DcortezMeleth commented on #3498
Sound good to me, as this way if you decide do deprecate all methods with the same name, you will still have a compact config, but when it is necessary you can go for more verbose notation giving you more granularity.

[2021-02-27 09:34] cortinico commented on #3498
Would you be up to propose a PR for this new feature @DcortezMeleth ?

[2021-02-27 11:34] DcortezMeleth commented on #3498
I could give it a try :)

[2021-02-27 12:24] cortinico commented on #3498
Let us know if you get stuck or you need further help 🙏

[2021-02-27 13:23] cortinico commented on #3480
Thanks for the reproducer @wyhasany

Yes, it's the intended behavior but I understand is suboptimal. In this case we have a rule that offers this more fine grain control over suppression (`MaxLineLength` instead of `MaximumLineLength`).

I've updated the docs to make this more clear #3503

[2021-02-27 14:47] BraisGabin commented on #3501
Probably. For example the naming rules. You can have different regex for different use cases: "standard", "test", "dsl", etc.

But about the forbidden rules... Does it have sense to create an instance for each reason? If you forbid something you have to have a reason so I think that all of them could be in the same rule.

[2021-02-27 15:38] cortinico commented on #3501
I was more thinking at scenarios where you might want to re-instantiate the same rule but with different configs (say for different areas of your codebase 🤔 )

[2021-02-27 21:36] #3480 closed

[2021-02-28 01:39] BraisGabin commented on #3501
Yes, yes, and that's what I mean with:

You can have different configuration for your dsl files and other for test files.

[2021-02-28 08:42] DcortezMeleth commented on #3498
I have create PR with simple implementation. It would be grate if you could take a look at it and tell if this is a good approach as I didn't have previous experience with reflection in Kotlin and may be using wrong mechanisms.

I'm aware that docs should be updated and maybe some more tests added, but didn't won't to invest additional time not being sure if logic or api won't change.

[2021-02-28 10:15] cortinico commented on #3498
Thanks for the PR, it's already great so far

For the docs: Please update the comment here: https://github.com/detekt/detekt/blob/4ce376e282bfff176d9b5b141462e623aab91660/detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt#L32-L33

Changes will be reflected to the website automatically.

Left a comment in the PR. I believe we could easily support both

[2021-03-01 05:56] AlinaRakhimova commented on #3248
@Dominick1993  Hi!
Is there any changes?

[2021-03-01 09:23] VladislavSumin commented on #3248
@AlinaRakhimova
I rolled back to version 1.14.2. Everything works stably on this version.

[2021-03-01 12:40] TWiStErRob opened #3508 "ForbiddenComment should allow patterns"
Following up on https://github.com/detekt/detekt/issues/959, the resolution of that is not powerful enough / complicates things.

## Context
We have the following configuration:
[code]
and I got this message flagged by Detekt:
[code]
the only workaround I found is this
[code]

## Expected Behavior of the rule
[code]
To do this I want to be able to say [`^(?i)REVIEW\b`](https://regex101.com/r/NioVG

[2021-03-01 12:43] TWiStErRob commented on #3508
Even this workaround is broken, because it allows `// STOPSHIP breaks preview`, which is not good!

[2021-03-01 12:48] TWiStErRob commented on #3508
I think we need something like
[code]

Which would be exclusively allowed to be present in the configuration only when `values` is not present.

[2021-03-01 13:35] Whathecode commented on #3415
@schalkms I just updated to 1.16.0-RC2 This is now fixed for the `expect` definition, but still gives the same warning on my actual implementation.

[code]

[2021-03-01 19:34] schalkms commented on #3502
As you said, this is a perfect example for implementing a custom rule. You could copy the existing rule logic and adapt it to your needs.

In my opinion, the mapper code is complex according to the MCC.

[2021-03-01 19:37] schalkms commented on #3502
As you said, this is a perfect example for implementing a custom rule. You could copy the existing rule logic and adapt it to your needs.

The mapper code is complex according to the MCC.

[2021-03-01 19:37] #3502 closed

[2021-03-02 01:31] #3479 closed

[2021-03-02 22:18] cortinico commented on #3415
While working on this I noticed that we have a misalignment between `expect` and `actual` and it seems to be intentional: https://github.com/detekt/detekt/pull/2643#discussion_r416774303

@schalkms is that still relevant?

[2021-03-02 23:03] schalkms commented on #3415
I don't think it's intentional. The fix incorporated for this issue should include the check for the `actual` definition. There seems to be a misalignment between the `actual` and `expect` in the rule implementation.

https://github.com/detekt/detekt/blob/c5f65a9c8ed029f0382674371c070ec0f3071b28/detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt#L204

[2021-03-03 08:42] cortinico commented on #3415
Yup that's exactly why I asked. In your comment here: https://github.com/detekt/detekt/pull/2643#discussion_r416774303 you mentioned:

I'd like to understand more about that. If we don't report `UnusedPrivateMember` in the `expect` declaration but we do so for the `actual`, how are users supposed to fix it?

[2021-03-03 12:59] Jacks0N23 commented on #3019
The original issue is still there at 1.16.0-RC2

[2021-03-03 14:31] sigis151 commented on #3490
I can back this up. We use the same initialization in a secondary gradle file and tried to update from 1.1.0 to 1.16.0 (I know this is a huge jump). But we used this approach because in our company we have many projects and we need to have the same detekt setup in all projects so copy-pasting files are faster and way more convenient for new project setup.
Maybe there is another way to setup all de

[2021-03-03 17:39] chao2zhang commented on #3490
@volsahin Could you elaborate why we need `.DetektPlugin` in `apply plugin: "io.gitlab.arturbosch.detekt.DetektPlugin"`? I am still trying to reproduce but at least `apply plugin: "io.gitlab.arturbosch.detekt.DetektPlugin"` works for me.

@sigis151 @volsahin I am also trying to find problematic commits between 1.11.1 and 1.12.0 - There are also 1.11.2 and 1.12.0-RC1, would you mind checking if tho

[2021-03-03 17:43] chao2zhang commented on #3490
My suspicion is that we introduced android plugin configuration in 1.12.0 - https://github.com/detekt/detekt/pull/2787, which may conflict with the existing android projects setup.

[2021-03-03 19:28] schalkms commented on #3415
@cortinico thanks for asking the right questions! 🙂
I looked at my notes. Now I can remember it. `Actual` is an implementation detail, meaning such a function has a body in contrast to an `expect` function. Hence, the unused parameter should be reported by this rule for an `actual` function.

https://kotlinlang.org/docs/multiplatform.html

[2021-03-03 19:48] cortinico commented on #3415
Agree. Unless we have a strong opinion here or a valid use case for changing it, I'm leaning towards re-closing this issue.

@Whathecode does this clarifies your question?

[2021-03-03 19:52] cortinico commented on #3019
@Jacks0N23 Can you provide a reproducer? Also is the issue happening only with Type Resolution or also with the plain `detekt` task?

[2021-03-03 20:17] sigis151 commented on #3490
`1.11.1` and `1.12.0-RC1` syncs correctly and `1.12.0` fails with said error

[2021-03-03 20:52] Whathecode commented on #3415
Well, it wasn't really a question. More of a continued bug report. :)

The problem is if you rename the, correctly reported as 'unused', parameter to `_`, you get a complaint that the actual implementation does not match the expected implementation. Thus, this should _also_ be ignored for actual implementations.

But, ... it is possible I overlooked something. Only looked at this shortly and just

[2021-03-03 21:04] chao2zhang commented on #3490
I guess we have verified that it is extremely likely to be broken with #2787. Would you mind sharing a sample project? I have tried to use `apply plugin` in my sample project but still couldn't reproduce.

Meanwhile, I can open a new PR to allow folks to opt-out DekteAndroid setup.

[2021-03-03 22:31] chao2zhang commented on #533
Progress will be tracked in #3274

[2021-03-03 22:31] #533 closed

[2021-03-03 22:36] chao2zhang commented on #3340
Close via #3341

[2021-03-03 22:36] #3340 closed

[2021-03-04 09:11] cortinico commented on #3415
Can we bring someone with more KMM expertise to drop a suggestion here?

[2021-03-04 11:16] G00fY2 opened #3513 "FinalNewline with insertFinalNewLine=false always failing"
We switched from **detekt + ktlint** (jlleitschuh gradle plugin) to **detekt + detekt formatting plugin**.

I adopted all our code-style configurations and the formatting rules are working fine except the FinalNewline rule. We don't allow final-newlines. So we have `insert_final_newline=false` set in our `.editorconfig`. Ktlint [checks this configuration](https://github.com/pinterest/ktlint/blob/b

[2021-03-04 14:50] davidburstrom opened #3514 "NPE in DetektPomModel, probably race condition, 1.16.0-RC3"
## Observed Behavior

Got the following stack trace about 50% of invocations of a closed-source tool. Happens on 1.16.0 RC2 and RC3, but not with RC1:

[code]

The tool was run in parallel with other Detekt invocations, so it could be a race condition.

## Steps to Reproduce

No steps to reproduce yet.

## Your Environment

* Version of detekt used: 1.16.0-RC2, 1.16.0-RC3
* Version of Gradle used

[2021-03-04 14:59] Jacks0N23 commented on #3019
I have a production project with many modules
some of them contains java and kotlin code in common _src/main/java_ source set
when I'm run detekt or detektMain or detektBaseline I see many lines like:
[code]
also I saw files from `res/` folder. Yes, I could exclude those packages, but why detekt doesn't filter them at configuration?
Also I would notice that I have default `input` param, didn't ove

[2021-03-04 15:40] davidburstromspotify commented on #3514
I've tried it both with Kotlin 1.4.31 and Kotlin 1.50-M1, same error.

[2021-03-04 15:46] davidburstrom commented on #3514
Probably related problem:

[code]

[2021-03-04 16:17] chao2zhang commented on #3498
Close via #3505

[2021-03-04 16:17] #3498 closed

[2021-03-04 16:55] chao2zhang commented on #3513
Just double-checking, for `NewLineAtEndOfFile` (which is different from ktlint's `FinalNewline`), you do have `active: false` to disable it. Is that correct?

[2021-03-04 18:09] G00fY2 commented on #3513
Yeah, sorry I forgot to mention that. I also have
[code]
set in my detekt configuration.

[2021-03-04 18:23] G00fY2 commented on #3513
Thanks for the PR. Nice catch!

[2021-03-04 20:51] #3513 closed

[2021-03-05 08:21] sigis151 commented on #3490
fos sample I have
<details>
<summary>quality.gradle</summary>

[code]
</details>

And in main `app/build.gradle` at the top of it, I apply these plugins

[code]

[2021-03-05 13:04] nailshakurov opened #3516 "Was passed main parameter"
![image](https://user-images.githubusercontent.com/11345578/110119114-c5ccbc80-7dd4-11eb-88db-ac79ea88c76b.png)
What is the problem?

[2021-03-05 13:58] Whathecode commented on #3251
Cool! This is what I was looking for. I did not know about this notation. Maybe something to add [to the detekt configuration file documentation](https://detekt.github.io/detekt/configurations.html).

[2021-03-05 15:27] cortinico commented on #3516
The problem is that if you invoke with `--baseline` you need to pass the path to the baseline file.
So the invocation will be something like:

[code]

[2021-03-05 15:28] #3516 closed

[2021-03-05 15:29] cortinico commented on #3251
Absolutely 👍  Are you up for sending a PR @Whathecode ?

[2021-03-05 15:45] cortinico commented on #3514
@davidburstrom I've done a small investigation and I wasn't able to find anything meaningful.
Specifically the tip of the stacktrace `DetektPomModel.kt:24`:

https://github.com/detekt/detekt/blob/4ce376e282bfff176d9b5b141462e623aab91660/detekt-parser/src/main/kotlin/io/github/detekt/parser/DetektPomModel.kt#L21-L29

is basically _copied_ from KtLint:

https://github.com/pinterest/ktlint/blob/235a4

[2021-03-05 15:47] cortinico commented on #3514
Other than adding a `.filterNotNull()` to that statement, I see little we can do 🤔

[2021-03-05 15:52] Whathecode commented on #3251
@cortinico Will gladly contribute if I find some downtime! :) I now learned these are basic YAML features, so probably it is simply a matter of referring people to that relevant documentation and giving an example.

[2021-03-05 18:50] cortinico commented on #3514
After some investigation, the problem seems to be related to this:
https://youtrack.jetbrains.com/issue/IDEA-261782

Running with `-Dkotlin.environment.keepalive=true` will fix the random failures. As a more general solution, we have to wait for Kotlin 1.4.32 as described here: https://youtrack.jetbrains.com/issue/KT-45007

[2021-03-05 18:50] #3514 closed

[2021-03-06 04:07] 3flex commented on #3442
I'm going to close this for now - please reopen if there's more info to share about your issue so it can be investigated, thanks!

[2021-03-06 04:34] 3flex commented on #3327
FWIW the experimental compiler plugin works well and avoids this issue (and related AGP/plugin issues) entirely because it hooks directly into the Kotlin compilation tasks after they've been configured by AGP.

I think effort would be better spent getting that production ready. I believe the only major feature missing is generation of baseline files.

[2021-03-06 04:40] 3flex opened #3520 "Add compiler plugin to main project"
## Expected Behavior
Recommend detekt-compiler-plugin to enable type resolution.

## Current Behavior

Manual setup or flaky automated creation of Gradle tasks to enable features requiring type resolution.

## Context

Make type resolution easier to activate and faster during builds.

[2021-03-06 10:11] cortinico commented on #3520
Following up to your comment here: https://github.com/detekt/detekt/issues/3327#issuecomment-791871644
I agree that the long term recommendation should be to suggest the compiler plugin.
However, I'll refrain from suggesting it till is fully production ready. The Gradle plugin we offer right now is battle tested while I am unaware of anyone using the compiler-plugin.

[2021-03-06 10:13] davidburstrom commented on #3514
@cortinico Does that mean that Detekt 1.16.0 will be blocked on that bump? I don't see anything tracking-like. There's also the possibility of unbumping Kotlin, of course.

[2021-03-06 10:16] cortinico commented on #3514
I believe the best approach here would be revert the Kotlin bump (ping @schalkms): https://github.com/detekt/detekt/pull/3509
I suggest we release 1.16.0 stable next week with Kotlin 1.4.21 as that version of Kotlin has proven to be more stable.

[2021-03-06 11:12] JavierSegoviaCordoba commented on #2717
Something so but improving the D
- Another font
- Improve my bordering
- Improve the oblique lines

![image](https://user-images.githubusercontent.com/7463564/110204665-8ce42480-7e74-11eb-8c57-c5e4db0991fc.png)

### Ideas
![image](https://user-images.githubusercontent.com/7463564/110204779-34f9ed80-7e75-11eb-9de6-27d269a50976.png)
- I think both logos are fine, one without the detekt word for circ

[2021-03-06 19:48] schalkms commented on #3514
DONE

Sorry, I wasn't aware that a Kotlin version bump to v1.4.31 causes problems like this.

[2021-03-07 01:17] 3flex commented on #3520
Works on my machine :)

As a starting point the code could be brought into the main project and some documentation added. That would at least help with visibility.

It also needs to get feature parity with the existing Gradle plugin. I think it's only baseline generation that's missing.

[2021-03-07 02:09] #312 closed

[2021-03-07 11:09] sschuberth opened #3523 "SwallowedException: Multi-line code block renders wrong in docs"
This

https://github.com/detekt/detekt/blob/2fbb7c99e171648bc458e7fb25909881528de52b/detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/SwallowedException.kt#L67-L70

[renders](https://detekt.github.io/detekt/exceptions.html#swallowedexception) like

![image](https://user-images.githubusercontent.com/349154/110237736-d3518600-7f3d-11eb-9cf4-23893aaded9e.png)

I'm

[2021-03-07 11:17] sschuberth opened #3524 "SwallowedException: ignore ParseException with version 1.16.0-RC3"
## Expected Behavior

`SwallowedException` by default should not be reported when rethrowing as a `ParseException` [according to the docs](https://detekt.github.io/detekt/exceptions.html#swallowedexception).

## Observed Behavior

`SwallowedException` is reported when using the default config and rethrowing a `ParseException`:

[code]

## Steps to Reproduce

- Checkout `detekt-bug` branch of https

[2021-03-07 12:58] davidburstromspotify commented on #3514
Thanks @schalkms, I can confirm your revert fixed the issue!

[2021-03-07 14:33] sschuberth commented on #3524
I was wondering why the belonging test passes, but it seems to me as if the test is actually implemented in "reverse", see

https://github.com/detekt/detekt/blob/2fbb7c99e171648bc458e7fb25909881528de52b/detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/SwallowedExceptionSpec.kt#L216-L226

But shouldn't it rather be

[code]

as the point of the exception to the ru