[2022-04-05 04:11] eygraber commented on #4675
I use these a lot and I try to suppress as little as possible.

With type resolution, would the type of the reference be available? If so would it be simple to check if it is a function reference, and then check the return type parameter?

[2022-04-05 04:55] eygraber commented on #4676
This issue, as well as the other ones I filed today, are not present in 1.19.

I'm not sure type resolution was working fully in 1.19 and earlier because it finds no violations in my project. After updating to 1.20.0-RC1/2 I get hundreds of violations.

Some of them are false positives (i.e. the ones that I filed issues for), but a large majority of them are actually violations (i.e. false negativ

[2022-04-05 08:22] cortinico commented on #4679
Gotcha. That's not a release blocker and something to look into if we get some spare cycles

[2022-04-05 13:59] dizyaa opened #4682 "Support preview annotation from Jetpack Compose"
## Expected Behavior
Detect **not failed** when see unused private function for preview.
## Current Behavior
**Failed** with exception `UnusedPrivateMember - [ScreenPreview] at /home/dizyaa/.../Screen.kt:100:1`
## Context
Detect failed when see unused private function for Compose `@Preview`.
Example:
[code]

To fix this I use, but it looks terrible and is bad practice
[code]

[2022-04-05 15:28] kvn-stgl commented on #4674
I retested this issue on detekt 1.19 and got the same error (just the BuildConfig errors are not reported).

I think that the main problem here is the issue #3488 (also for #4678). It seems like the generated sources are not included, so the type resolution is not working here.

[2022-04-05 16:29] yogurtearl opened #4685 "Support junit 5 `@ParameterizedTest @MethodSource` in `UnusedPrivateMember`"
## Current Behavior

`stringProvider` below get flagged for `UnusedPrivateMember`

## Desired Behavior of the rule

In Junit 5 `@ParameterizedTest` you can reference a private function via string (reflection).
Detekt will flag `stringProvider` as unused, even though it is used by Junit 5.

Feature request: Special case junit 5's `@MethodSource` and don't report this as `UnusedPrivateMember`

From

[2022-04-05 18:00] marschwar commented on #4685
While this would be an interesting addition, detekt tries to be as framework agnostic as possible. Therefore I do not think this will be added to the detekt rule set. You could however create a custom rule and run that instead of the standard rule.

[2022-04-05 18:25] BraisGabin commented on #4677
The first one is a regression. I fix it in #4686.

I don't get what's the problem in the second.

[2022-04-05 18:43] eygraber commented on #4677
Thanks for fixing the first one :muscle:

Sorry I left the context out of the second one. The issue is that `FooPresenter.baz` is getting a false positive `CanBeNonNullable` on the `foo` parameter. It seems related to https://github.com/detekt/detekt/issues/4486.

[2022-04-05 18:50] eygraber commented on #4679
I had this issue in another project and I solved it by depending on `org.slf4j:slf4j-nop:<whatever version>`.

I don't know if that should go in ktlint, or detekt, but I don't think that it should go in the consuming projects.

[2022-04-05 18:55] schalkms commented on #4685
I agree with @marschwar. The same holds true for #4682.

In this case, the **ignoreAnnotated** config setting can be used.
https://detekt.dev/suppressors.html

[2022-04-05 18:55] eygraber commented on #4678
Same as https://github.com/detekt/detekt/issues/4676#issuecomment-1088267221

[2022-04-05 18:56] schalkms commented on #4682
In this case, the **ignoreAnnotated** config setting can be used.
https://detekt.dev/suppressors.html

[2022-04-05 18:57] eygraber commented on #4674
Odd I wasn't able to repro on 1.19 (https://github.com/detekt/detekt/issues/4676#issuecomment-1088267221). Maybe there's something wrong with my setup that made type resolution not run correctly that got fixed in 1.20.

[2022-04-05 19:08] marschwar commented on #4685
Without testing this, I don't think that is true as the `@MethodSource` annotation is not on the function that is violating the rule.

[2022-04-05 19:26] schalkms commented on #4685
@marschwar yeah. You are right. I read over this issue too quickly. I think adding a suppression is fine here.

[2022-04-05 19:54] dizyaa commented on #4682
Oh, thanks!

[2022-04-05 19:54] #4682 closed

[2022-04-06 00:01] BraisGabin commented on #4674
#4684 fixed this

[2022-04-06 00:02] #4674 closed

[2022-04-06 00:04] BraisGabin commented on #4675
#4684 fixed this

[2022-04-06 00:04] #4675 closed

[2022-04-06 08:00] BraisGabin commented on #4685
Closing as this is framework specific. If someone came up with a generic way to fix this, please comment.

[2022-04-06 08:00] #4685 closed

[2022-04-06 08:22] BraisGabin commented on #4676
🤔 That's odd, I can't reproduce it on my project... But it seems something related with the compiler doesn't know about what `binding` is.

[2022-04-06 08:27] eygraber commented on #4676
Is it possible that something like https://github.com/detekt/detekt/pull/4684 is needed to fix it?

[2022-04-06 08:47] BraisGabin commented on #4676
It seems so.

[2022-04-06 08:53] BraisGabin commented on #4662
This is working as expected. You should use `ignoreAnnotated: ['Inject']` to ignore those.

[2022-04-06 08:53] #4662 closed

[2022-04-06 11:49] kvn-stgl commented on #4676
Well, the test code for this is really short:
[code]

But I really don't know how we can fix it. For the compiler it seems like `binding.undeclaredVal` is null (because it's undeclared) and with this assumption the `return true`-part is really unreachable.

[2022-04-06 12:08] alyssa-glean opened #4688 "Consistent naming convention for Detekt CLI binaries"
## Expected Behavior
Ideally, the [install instructions](https://detekt.dev/cli.html#install-the-cli) for different platforms would result in a consistent state - a binary with a deterministic name that's on the user's `$PATH` and ready to use.

## Current Behavior
When installed via `brew`, the binary is access via `detekt [options]`. For Linux, the instructions given are to `curl` and `unzip` a

[2022-04-06 12:33] BraisGabin commented on #4450
Now that the port is nearly done we can talk about two missing topics:

1. Do we want to rename the classes/files from `Spec` to `Test/s`?
There is a comment about this here: https://github.com/detekt/detekt/pull/4670#issuecomment-1086975557
2. The script did its job but it left some "code debt". For example, we have a lot of unnecesary top-level `@Nest`. Do we want to trackle those down?

My opin

[2022-04-06 12:57] 3flex commented on #4450
Personally I don't think either of these are major issues. If there was a detekt rule to identify redundant nesting that would be great otherwise I think things will improve organically over time, or perhaps someone will come in and make the required changes if they have an itch to scratch.

I don't think we should track this as an issue though.

[2022-04-06 13:31] dimsuz opened #4689 "False positive on UnusedImport with const variable import"
The following code when run with type resolution is reporting an error:

[code]
The file `BuildConfig` is a java file, generated by the Android Gradle Plugin:
[code]

The error is:

## Your Environment
* Version of detekt used: `1.20.0-RC2`
* Version of Gradle used (if applicable): `7.4.x`

[2022-04-06 14:30] eygraber commented on #4689
@BraisGabin dupe of https://github.com/detekt/detekt/issues/4676?

[2022-04-06 15:46] marschwar commented on #4450
I am fine with the `Spec` suffix, but I do think we should be consistent here. Otherwise it is really hard for new contributers to know where to copy and paste from. I can provide a PR for this.

As for the top level nested I am with @3flex, this will clean itself over time. The rule would be awesome but not mandatory in my opinion.

[2022-04-06 17:21] #4661 closed

[2022-04-06 21:50] cortinico commented on #4450
My 2 cents here: I actually believe this should be cleaned. It's not urgent but it won't fix by itself. People will just copy over a test with a top level `@Nested` and will assume it's needed.

Nothing super critical though, but something we should look into doing sometime in the future.

[2022-04-06 21:57] TWiStErRob commented on #4450
Agree with @marschwar consistent test naming is really helpful, it guides users, e.g. I want to know what UnusedPrivateMember detekts, open UnusedPrivateMemberTest from GitHub.

I would imagine renaming tests is quite simple (no dependencies, no usages), I would think a simple find / mv / sed trio might do the job, and it would clear the leftover of "Spek" which is not relevant any more.

"Histori

[2022-04-06 21:58] cortinico commented on #4688
I don't fully agree on this. I'm not sure if users are already depending already on this naming. Moreover now there is a 1-to-1 correspondence between the `:detekt-cli` Gradle module and the generated Jar.

I would argue that the one-off here is brew that is installing detekt essentially renaming the `detekt-cli.jar` to `detekt`.

Yup that's doable and we can totally update this.

[2022-04-06 21:59] Logima opened #4692 "False positive on `NoNameShadowing` with unused Unit as outer lambda parameter"
## Expected Behavior
Not to report NoNameShadowing, when outer lambda implicit parameter has type Unit and is unused.

## Observed Behavior
`test.kt:20:26: Name shadowed: implicit lambda parameter 'it' [NoNameShadowing]`

## Steps to Reproduce
Minimal (theoretical) example:
[code]

## Context
The issue seems to be that Unit is explicitely defined. When lambda parameter type is empty, the rule work

[2022-04-06 22:01] TWiStErRob commented on #4450
Re nesting, have a look at this: https://youtu.be/5fIkkoPtPaw?t=907

[2022-04-06 22:08] cortinico commented on #4450
@dpreussler you got summoned :)

[2022-04-07 07:18] kvn-stgl commented on #4692
I'm not sure whether this is really a bug or not. If you explicitly define a parameter as Unit, there is an implicit lambda `it` with the value Unit and you are able to work with it. So there is a name shadowing.

In the other case, if you don't define a parameter, there will be no implicit lambda. So the following code should not work:
[code]

[2022-04-07 08:23] alyssa-glean commented on #4688
That's fair enough - I don't have any preference either way between which name becomes standard. Would it be possible to rename the brew version to `detekt-cli` going forwards?

[2022-04-07 12:02] cortinico commented on #4688
What prevents you from renaming when installing on Linux?

[2022-04-07 12:13] cortinico commented on #4581
Closing as we disalbed config caching for now. Will reopen once we enable it.

[2022-04-07 12:13] #4581 closed

[2022-04-07 12:44] alyssa-glean commented on #4688
Nothing, of course - but we have a team of developers for whom we then have to maintain bespoke instructions somewhere. I felt it was worth making you aware of the inconsistency, as I'm sure we won't be the only cross-platform team to try and use the CLI.

If there's a rename that's workable for you (one way or the other), you'd be helping to reduce friction for anyone using your tool. All other C

[2022-04-07 17:05] BraisGabin commented on #4689
I wouldn't consider it a dope but the issue is probably the same... I'm wondering what created all this new issues... It seems like a change in the compiler behavior

[2022-04-07 18:20] BraisGabin commented on #4692
I agree with @kvn-stgl  here. Why is this a false positive? You are shadowing the it of the outer lambda so it should be flagged. If you don't want to shadow it add `_ - >`.

And why do you have unit as a parameter? Could you provide an use case?

[2022-04-07 20:15] Logima commented on #4692
Oh, I thought missing parameter and Unit meant practically the same thing, but apparently not.

That is an option. I understand now that technically the parameter is shadowed, but as the outer parameter is unused, I would prefer that it wouldn't result in `NoNameShadowing`.

The Unit parameter might be in an external library. Another use case is with Ktor routes, for example [get](https://github.c

[2022-04-07 21:03] schalkms commented on #4685
By the way, IntelliJ 2021.3 correctly detects the function `stringProvider` in the given example above as **used**.

[2022-04-07 21:55] eygraber commented on #4676
Why does the compiler think that it's undeclared though? The class and field are both present in the generated code.

[2022-04-07 22:02] cortinico commented on #4688
Thanks for pointing this out.

Sorry but I still fail to understand how renaming the brew formula will make things "easier" between cross-platform.

For Linux, say you'r using a binary called `detekt-cli-1.19.0-all.jar` (so you'll `java -jar` that binary)
For Mac, even if we rename the Brew formula to `detekt-cli`. You will still have two "inconsistent" naming. I don't see how `detekt` -> `detekt-

[2022-04-07 22:36] eygraber commented on #4287
This is still happening sporadically in 1.20.0-RC2

Maybe related to detekt getting set up in a Gradle precompiled script plugin, which uses Kotlin 1.5.31

[2022-04-07 22:57] cortinico commented on #4287
Not sure what you refer to, but the last snapshot was published today:
https://oss.sonatype.org/content/repositories/snapshots/io/gitlab/arturbosch/detekt/

[2022-04-07 23:13] eygraber commented on #4287
Ah I was looking at a different view of the snapshot repo.

Well then this is still an issue. Like I said above:

[2022-04-07 23:38] 3flex commented on #4287
Do you have a complete reproducer to share? It shouldn't matter that detekt is setup in a precompiled script plugin - the classpath used by detekt when it runs should be isolated from that used by Gradle. We can verify with a build scan (that would also help in the absence of a complete repro).

[2022-04-07 23:44] eygraber commented on #4287
I'm working on putting something together. It also could be that I have custom rules that are on an older version of detekt, so I'm going to try to update those first.

[2022-04-08 00:25] #4560 closed

[2022-04-08 04:04] eygraber commented on #4287
False alarm, it was only happening when I used `main-SNAPSHOT`, and it looks like the issue is that I set `toolVersion` to the same version that I use for the dependency, and it didn't like using `main-SNAPSHOT` for that. So I changed `toolVersion` to use `1.20.0-RC2` and then it worked.

It's a little odd because I made a fresh project with all of the same configuration and it didn't have this is

[2022-04-08 04:46] eygraber commented on #4675
Should this be extended to also allow `AtomicBoolean` to be prefixed with `is`?

[2022-04-08 05:34] eygraber commented on #4677
I was able to repro the second issue - https://github.com/eygraber/repro-template/compare/detekt-4677

[2022-04-08 09:39] alyssa-glean commented on #4688
My intention wasn't to invoke the jar on linux, but instead the provided binary `/bin/detekt-cli` (which you can invoke directly from a terminal without the java fluff :heart: ).

And so, for the pre-commit hook, my WIP script is currently along the lines of: `detekt-cli --config <foo>...` - because I'm developing it on linux. But then I hit a snag - this won't work for Mac users who install via `

[2022-04-08 19:33] cortinico commented on #4688
I understand your frustration, but I don't see what we can do to address this.

You can submit a new formula for `detekt-cli` and make sure the binary it installs is not renamed.

It's unlikely we will either:
- Rename the binary for everyone on Brew as that would be a major breaking change.
- Rename the binary inside the cli jar for the same reason

I think this was a mistake done by the author o

[2022-04-11 01:08] 3flex opened #4705 "Multiline string rules"
This could be either a single, configurable rule, or a series of rules, that performs checks on the contents of multiline strings.

## Expected Behavior of the rule
* Check for consistent indentation type (could be done in one of two ways - either check where a mix of indentation is used so it's not a mix of tabs & spaces, or have a rule that enforces either tabs or spaces)
* Check for trailing wh

[2022-04-11 07:35] osipxd commented on #4177
Looks like fixed in #4554 isn't it?

[2022-04-11 10:17] cortinico commented on #4177
Yes this can be closed 👍

[2022-04-11 10:17] #4177 closed

[2022-04-11 12:16] cortinico commented on #4705
Yup this sounds like a valid rule to add to me 👍

[2022-04-11 18:18] BraisGabin commented on #4677
Thanks for the reproducer! But that's working as expected. If a function only does something if a value is not `null`. Then you can make the parameter not `null` and move the `if` outside it. It's the caller responsability to no send a `null` as parameter.

Does that have sense to you? Am I missing something?

[2022-04-11 18:22] BraisGabin commented on #4692
I would like to know what other maintainers think about this but to me even if you are not using it you are shadowing that value and it's not that clear what `it` you are using.

[2022-04-11 18:25] BraisGabin commented on #4676
That's a known issue/known limitation that detekt have right now. We need to move to a kotlin plugin to fix that. We have something here: https://github.com/detekt/detekt-compiler-plugin but in kotlin 1.7/1.8 they will break all of that so we are waiting for that breaking change and the api stability to implement it properly. But I must say that you can use that repo, it works but the edges are a

[2022-04-11 18:45] BraisGabin commented on #4643
I would like to give a more inside about two of those rules and why I think that they should be enabled:

`NullableToStringCall`: Usually, when you use `toString()` is to show that to the user in some way. But it's really strange to want to show `"null"` to the user. But kotlin is completely fine with this: `null.toString()`. What this rule does is to reduce that issue. I think that this one is im

[2022-04-11 20:30] eygraber commented on #4677
I tested assignment without ViewBinding and it still violates `CanBeNonNullable`:

[code]

[2022-04-11 21:09] BraisGabin opened #4708 "Invalidate gradle cache when update plugin"
## Expected Behavior
If I update a detekt plugin a "clean" detekt run is executed

## Observed Behavior
I get `UP-TO-DATE` messages (or if I remove the reports `FROM-CACHE`)

## Steps to Reproduce
- Add a detekt-plugin (For example: https://github.com/BraisGabin/detekt-junit-rules)
- Run `./gradlew detektBaseline`
- Update the library
- Run `./gradlew detektBaseline`

## Your Environment
* Version

[2022-04-11 21:26] #4708 closed

[2022-04-11 22:44] BraisGabin commented on #4675
🤔 I don't think so. That seems like a edge case to me.

[2022-04-11 22:46] BraisGabin commented on #4466
Closing

[2022-04-11 22:46] #4466 closed

[2022-04-11 23:12] #4450 closed

[2022-04-12 03:09] eygraber commented on #4676
So what's the proper solution in the interim, considering compiler plugins probably won't be stable for another year or two? Something was definitely broken with type resolution pre 1.20.0, so I don't want to be stuck there.

I tried using the `detekt-compiler-plugin` but ran into a bunch of issues (probably because it's an old build). I can always suppress these rules because they're not showstop

[2022-04-12 07:40] BraisGabin commented on #4450
Now that this is closed, I think that what "we" did here (I did nearly nothing) deserves a blog post. If someone is willing to write it.

[2022-04-12 11:58] VitalyVPinchuk commented on #4656
Hello,
may I work on this?

[2022-04-12 12:11] alyssa-glean commented on #4688
Fair enough, that is the trade-off and it's your call. Thanks for taking the time to understand my issue :smile:

[2022-04-12 12:11] #4688 closed

[2022-04-12 13:21] cortinico commented on #4656
Yes please 👍 I've assigned it to you

[2022-04-13 18:40] eygraber commented on #4245
@BraisGabin looks like there's either been a regression or another case that wasn't handled:

[code]

[2022-04-14 00:35] HZ1357 opened #4714 "Ok"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

## Context

[2022-04-14 08:02] #4714 closed

[2022-04-14 08:14] BraisGabin commented on #4245
Can you open it as a new issue? You could link there this issue. It doesn't seem like a regression because the fix had a test to avoid that regression. But it's a clear false negative. And thanks for the report, the false negatives are difficult to spot :)

[2022-04-14 08:17] eygraber opened #4715 "OptionalWhenBraces false negative"
Copied from https://github.com/detekt/detekt/issues/4245#issuecomment-1098366683

Issue is present in 1.19 and 1.20

[code]

[2022-04-14 08:52] #4656 closed

[2022-04-14 20:29] marschwar commented on #4643
I guess our use cases differ. I usually work on the server side of things and when ever I use the implicit toString in string Interpolation in a log message, I actually want to see the "null" string.

[2022-04-14 21:51] TWiStErRob opened #4721 "1.20.0 is not fully released everywhere"
## Expected Behavior
Consistent display of 1.20.0 in all locations.

## Observed Behavior
https://detekt.dev/changelog.html 1.20.0 released 2 weeks ago
https://github.com/detekt/detekt/releases 1.20.0-rc2
https://search.maven.org/artifact/io.gitlab.arturbosch.detekt/detekt-cli 1.20.0-rc2 (update 15 Apr, sonatype propagation done 1.20.0)
https://plugins.gradle.org/plugin/io.gitlab.arturbosch.detekt

[2022-04-14 21:52] TWiStErRob commented on #4721
Tip: do you have a play-by-play which nudges to update compatibility table, etc.?

[2022-04-15 11:26] cortinico commented on #4721
This 👆

We're waiting for this #4719 to be merged to update everything.

[2022-04-15 12:49] bric3 commented on #4721
I understand the announcement but this is confusing to see binaries on maven central and gradle plugins but not here.

[2022-04-15 14:41] TWiStErRob commented on #4721
I agree with @bric3, you should push to master and tag before publishing the binaries.

You don't need to promote the sonatype staging repository immediately. After closing it you can test by referencing the private staging repo, and then either publish or make changes as necessary.

So the best DX from a user's perspective is:
- commit
- build
- upload to staging
- close staging repo to validate

[2022-04-15 17:15] scottkennedy opened #4724 "Maybe false positive UnnecessaryAbstractClass ?"
[code]

In my real case, there are many subclasses of `AbstractFoo`, and being able to call `createSomeData()` without an import is really useful.

If I try this with an interface, this doesn't work for obvious reasons (it's not a static method)
[code]

## Expected Behavior
I think this is a very reasonable pattern that shouldn't trigger, but I'm open to alternatives if there's a better way of doi

[2022-04-15 17:22] mhernand40 commented on #4724
Have you tried defining your `interface` like so?
[code]

I feel like that should work.

[2022-04-15 20:23] cortinico commented on #4721
That's not possible at the moment. The project relies on the existence of detekt-gradle-plugin (and all the other artifacts) on Gradle Portal/Maven Central. Therefore if we commit/merge before publishing we will effectively break master. In other words, this PR https://github.com/detekt/detekt/pull/4719 won't be green till the artifacts are available online.

I agree that this is sub-optimal and w

[2022-04-15 20:23] #4721 closed

[2022-04-15 21:04] scottkennedy commented on #4724
I had not tried that, but that still requires an import for `createSomeData()`.

[2022-04-16 08:39] BraisGabin commented on #4724
I agree with @mhernand40 that an interface seems the correct answer here. Other option is `open` instead of `abstract` (but this has side effects). Otherwise I recommend you to add a `@Suppress`. Or even disable the rule if you don't agree with it.

But I don't feel that this is a false positive. This rule doesn't optimice the number of imports. It finds classes that could be interfaces. And this

[2022-04-16 21:54] mpetuska opened #4727 "False-positive OutdatedDocumentation for generic parameters"
## Expected Behavior

`@param T` supported for generic type documentation

## Observed Behavior

`@param T` is reported as a false positive
`Documentation of JsonObject is outdated [OutdatedDocumentation]`

## Steps to Reproduce

Run detekt with `OutdatedDocumentation` rule enabled on this code
[code]

## Context

## Your Environment

* Version of detekt used: 1.20.0
* Version of Gradle used (if a

[2022-04-17 14:51] BraisGabin commented on #4643
Good point. I crosslined it from the list.

[2022-04-17 14:59] #4715 closed

[2022-04-18 11:26] #4727 closed

[2022-04-18 18:44] rli opened #4730 "False positive on `VarCouldBeVal` in generic classes"
## Observed Behavior
`Expecting empty but was: [CodeSmell(issue=Issue(id='VarCouldBeVal', severity=Maintainability, debt=5min), entity=Entity(name=a, signature=Test.kt$A$private var a = 1, location=Location(source=2:5, text=17:34, file=Test.kt, filePath=FilePath(absolutePath=Test.kt, basePath=null, relativePath=null)), ktElement=PROPERTY), message=Variable 'a' could be val., metrics=[], references

[2022-04-18 19:34] rli opened #4731 "`VarCouldBeVal` reported on `private lateinit var`"
## Steps to Reproduce
[code]

## Context
Per https://github.com/detekt/detekt/pull/4664#issuecomment-1086835405, I'm not sure our use-case is mainstream enough to warrant a change in detekt, but I'd like to bring it up as a datapoint anyways in case there there is additional discussion in the future.

As part of my work I develop plugins for JetBrains IDEs.
We have a number of older Kotlin source

[2022-04-19 01:23] geojakes commented on #4731
I'm getting the same issue

[2022-04-19 01:26] geojakes commented on #4731
Though I feel like this is intentional based on the conversation here: https://github.com/detekt/detekt/pull/4664#pullrequestreview-929354422

[2022-04-19 07:03] #4730 closed

[2022-04-19 11:24] BraisGabin commented on #875
This is already implmented in 1.20 🎉

[2022-04-19 11:24] #875 closed

[2022-04-19 11:29] BraisGabin opened #4735 "False positive on `UnnecessaryInnerClass`"
## Expected Behavior
If an `inner class` uses a lambda that is on its parent `UnnecessaryInnerClass` should not be raise any issue.

## Observed Behavior
`UnnecessaryInnerClass` right now raises an issue.

## Steps to Reproduce
[code]

## Context
It is normal to see this kind of patterns in Android adapters. The ViewHolders are `inner class`es inside the `Adapter` that have some `callback`s that a

[2022-04-19 12:23] BraisGabin commented on #1330
This was implemented on 1.20 🎉

[2022-04-19 12:23] #1330 closed

[2022-04-19 12:27] BraisGabin opened #4736 "False positive: `VarCouldBeVal`"
## Expected Behavior
A property that is reasigned shouldn't be flagged even if it is inside an unknown type.

## Observed Behavior
It is flagged.

## Steps to Reproduce
[code]

## Context
In my code `UnkownReference` is a `ViewBinding` that detekt right now can't handle. Probably #4723 will help

## Your Environment
* Version of detekt used: 1.20.0 & main

[2022-04-19 18:06] vladimirfx commented on #4731
Same issue in simplest test class:

[code]

[2022-04-19 18:14] rli commented on #4731
In my case, the only difference is the presence of a `.form` file with the same name of the class.

[2022-04-20 06:54] #4735 closed

[2022-04-20 07:41] BraisGabin commented on #4731
I don't like the idea to just ignore `lateinit` because there could be false negatives. It seems a very broad suppression.

But if there is not other way to suppres those we could add a flag `ignoreLateinitVar`. `false` by default. Do you have the time to implement it?

[2022-04-20 10:50] BraisGabin opened #4739 "New rule: `UnnecesaryBackticks`"
## Expected Behavior of the rule
Flag things like this:

[code]

Because there is no need for those backticks (`` ` ``)

## Context
After we move from spek to JUnit we have a lot of unnecessary backticks in function and class names.

[2022-04-21 06:14] BraisGabin commented on #4724
Closing for the above reasons. Please, don't hesitate to answer if you think that we are missing something.

[2022-04-21 06:14] #4724 closed

[2022-04-21 10:19] 3flex commented on #4496
Was this the issue fixed in #4499?

If so we can close this.

[2022-04-21 10:32] JamieSlome commented on #4496
Would be good to know on the above point, so we can close the report off on our side as well:

https://huntr.dev/bounties/23e37ba7-96d5-4037-a90a-8c8f4a70ce44/

[2022-04-21 14:11] leinardi opened #4743 "[1.20.0 regression] Task detektMain does not exclude build directory anymore"
## Expected Behavior
All the content of `.*/build/.*` should be automatically ignored by the task `detektMain`.

## Observed Behavior
`detektMain` is checking for violations inside the `<module>/build/generated/` directory.

## Steps to Reproduce

1. Clone this repo and checkout the `detekt` branch: https://github.com/leinardi/Forlago/tree/detekt
2. run `./gradlew detektMain`

[code]

## Context

[2022-04-21 15:59] #4496 closed

[2022-04-21 16:16] chao2zhang commented on #4496
Done. Please verify that I correctly marked the issue as fixed.

[2022-04-21 16:18] JamieSlome commented on #4496
@chao2zhang - yes, thank you 🙏

[2022-04-21 17:30] BraisGabin commented on #4743
Do you mean 1.20.0? Or 0.20.0?

[2022-04-21 17:33] leinardi commented on #4743
Sorry it was a typo: I mean 1.20.0, the latest stable release.

[2022-04-22 07:23] vladimirfx commented on #4731
Actually, I can't imagine such _real_ false negatives:
There is no such thing as `lateinit val` (unfortunately). Lateinit by it mining - 'I can't initialize this now and do it somehow later'. 90% of our `lateinit` usages it is some kind of dependency injection and other 'magic'. So it was all hit by this false positive.
One potentially usefull case:

[code]

But there the problem is not `var` usag

[2022-04-22 07:49] leinardi commented on #4743
Is there a known workaround for this issue? How can I manually exclude the build folder from the `detektMain` task?

[2022-04-22 09:44] hfhbd opened #4746 "Remove suspend lambda parameter with CoroutineScope receiver rule"
https://youtrack.jetbrains.com/issue/KT-52042/Clarifying-suspend-lambda-and-function-with-coroutineScope-as-pa#focus=Comments-27-6029021.0-0
So I would revert marking the lambda parameter too and focus on `suspend fun CoroutineScope.foo` only.

_Originally posted by @hfhbd in https://github.com/detekt/detekt/issues/4616#issuecomment-1106242397_

[2022-04-23 09:00] VitalyVPinchuk commented on #4462
Hello,
may I try to work on the issue?

[2022-04-23 11:11] cortinico commented on #4462
Yup I've assigned it to you @[VitalyVPinchuk](https://github.com/VitalyVPinchuk)

[2022-04-23 14:31] TWiStErRob opened #4749 "UnnecessaryAbstractClass is not targeting class name"
## Expected Behavior of the rule

UnnecessaryAbstractClass should target the name of the class

## Context
I just updated Detekt 1.19.0 to 1.20.0 and got this failure:
https://github.com/TWiStErRob/net.twisterrob.cinema/security/code-scanning/227

as you can see it's showing the `/**` as the "violation", but the real code is:
[code]
it should be targeting this part:
[code]

![image](https://user-i

[2022-04-23 14:31] TWiStErRob opened #4750 "UnnecessaryAbstractClass title is too verbose"
## Expected Behavior of the rule

UnnecessaryAbstractClass should have a concise description like other rules

## Context
I just updated Detekt 1.19.0 to 1.20.0 and got this failure:
https://github.com/TWiStErRob/net.twisterrob.cinema/security/code-scanning/227

The message is just plain weird to be this long:
![image](https://user-images.githubusercontent.com/2906988/164910306-4b4478c4-06c2-45f4-

[2022-04-23 14:32] TWiStErRob commented on #4750
I noticed MagicNumber to have the same problem, but many others look perfectly good. Should there be a check on how long the description can be? and/or introduce: "title" and "detail" descriptions?

[2022-04-23 14:35] TWiStErRob commented on #4749
Ah, it's actually trying to highlight the whole class? or the first line of the class?
https://github.com/TWiStErRob/net.twisterrob.cinema/security/code-scanning/228
![image](https://user-images.githubusercontent.com/2906988/164910478-58716e23-694e-47f7-b7b1-94b0d36b2fac.png)

[2022-04-23 14:56] TWiStErRob opened #4753 "UnnecessaryAbstractClass false positive"
## Expected Behavior
Don't report following code:
[code]

## Observed Behavior

No, it can't:
 * `Fake` interface couldn't extend a class.
 * it has concrete members inherited from `Base`
 * I get a detection even if I add an actual class using the "abstractness":
[code]
Note: `String.` might be a red herring, you can ignore that part, just wanted to report what I had. More minimal repro might exi

[2022-04-24 00:32] cortinico commented on #4749
Could you provide the source code (the whole file or a repro file) + the sarif output.
If possible having the HTML/TXT report would also be helpful to understand if the bug is in the sarif output or not.

[2022-04-24 01:34] cortinico commented on #4743
Thanks for sharing your project.
That seems to be a bug, though I wasn't able to point out the root cause 🤔

My gut feeling was that this would have worked:

[code]

Sadly this didn't worked for me.

There seems to be some problems on how the source input is populated.

The problem here is also that your project has a non trivial setup, so it's making harder to understand where the cause could. Ha

[2022-04-24 10:09] #4746 closed

[2022-04-24 11:51] #4731 closed

[2022-04-24 12:10] leinardi commented on #4743
Ciao @cortinico, I've just pushed an update to the branch with the minimal reproducer that you asked for.

Now there is only one empty `app` module (no Java/Kotlin code at all) and an empty `core-network` module (no Java/Kotlin code at all) that is just generating some code using Apollo Graphql plugin.

Detekt still fails because it validates the generated code:

[code]

All the Detekt Gradle plug

[2022-04-24 12:23] #4235 closed

[2022-04-24 14:35] BraisGabin commented on #4749
Could you provide a PR fixing it? I think that we have some functions when creating the report to tell just to mark the name of the class or function.

[2022-04-24 14:53] BraisGabin commented on #4753
Isn't this an edge case? I mean, in general a class that only extends another class and does nothing is unnecessary, you could use the base class. In this case the code uses the type but that seems to me like an edge case.

I'm not against this change but I'm worried that by allowing this we will add a lot of false negatives.

[2022-04-24 14:56] BraisGabin commented on #4750
I'm not sure if this issue is in the description or it is on our impregnation of Sarif where we are using the wrong description. The rules have 3 different descriptions: kdoc, description about the role and description about the issue. It seems that we use the second where we should use the third.

[2022-04-24 14:58] cortinico commented on #4743
Thanks for minimal reproduce. That helped me understantd what's going on.

So I don't think this is a regression, but more like a side effect of how Detekt, AGP and Apollo interact each other (cc @mbonnin for visibility).

The "offending" change would be this one:
- https://github.com/detekt/detekt/pull/4554

We now populate the Detekt Source input using the `srcDirs.java` and `srcDirs.kotlin`. Th

[2022-04-24 14:58] #4743 closed

[2022-04-24 22:03] TWiStErRob commented on #4753
If you build an expression hierarchy, or similar, you might introduce an intermediate base class for grouping part of the class hierarchy.

[2022-04-24 22:04] TWiStErRob commented on #4749
Sorry, I won't be near my computer for a few days, hopefully I'll be able to provide details later.

[2022-04-24 22:06] TWiStErRob commented on #4750
So you're thinking about swapping the two? Because we need both, see the description on the line itself in the screenshots.

[2022-04-25 06:23] dawidhyzy-ifolor commented on #4753
We face the same issue when wrapping a third party library classes so it's not an edge case.

[2022-04-25 15:01] roomscape opened #4767 "Method signature in baseline changes when adding/removing a doc comment"
## Expected Behavior
- Given I have a method that exceeds the allowed method length or method complexity
- And I have suppressed the warning via my `baseline.xml`
- When I add a doc comment (`/** ... */`) to the method
- Then detekt should continue to pass

## Observed Behavior
After adding the doc comment, the suppression no longer works. Re-running `detektBaseline` shows that the signature has a

[2022-04-25 19:20] cortinico commented on #4767
Yeah that's a bug. I think we tried to address it once with #4335 but that had to be reverted as it was causing problems.

[2022-04-25 20:40] BraisGabin commented on #4753
I agree, maybe we could add a configuration here but I don't think that it could be even needed. Do you have bandwith to provide a PR?

[2022-04-25 21:53] BraisGabin commented on #4649
I take a deep dive on your example and I don't see any issue on detekt. A few things I found:

- The way you configured detekt is strange, I'm not sure if it is completely correct or not. But I changed it to use the one that is in the documentation and the ignoreAnnotated start to work properly.
- It's normal that some rules find nothing without type solving and find lots of issues with type solvi

[2022-04-25 21:53] #4649 closed

[2022-04-25 22:12] TWiStErRob commented on #4753
Me, not for a month probably.

@dawidhyzy-ifolor can you please share your use case, it might help with unit tests.

[2022-04-25 22:16] BraisGabin commented on #4750
My bad, I dind't see the screenshots with detail. Yes, I agree that this description is long an it's not that useful. We should change it. We even have a style guide for this: https://github.com/detekt/detekt/blob/main/.github/CONTRIBUTING.md#rule-descriptions

[2022-04-26 05:47] 3flex opened #4778 "Docs: CLI options not displayed in docs"
## Expected Behavior
I can see CLI options when viewing docs.

## Observed Behavior
At the bottom of https://detekt.dev/docs/gettingstarted/cli#use-the-cli I see:

{% include_relative cli-options.md %}

## Steps to Reproduce
See https://detekt.dev/docs/gettingstarted/cli#use-the-cli

cc @cortinico

## Context
Docs should be up to date.

[2022-04-26 08:41] 3flex commented on #3766
Thoughts on the new site design?

I think this one can now be closed, thanks to the excellent work @cortinico has done!

[2022-04-26 08:43] 3flex commented on #4750
Is this a dupe of #4163?

[2022-04-26 08:53] zmunm commented on #3766
I think it is very beautiful. If anyone has a different opinion, please create a new issue.

[2022-04-26 08:53] #3766 closed

[2022-04-26 10:26] WildOrangutan opened #4780 "Rule for method nesting"
Hey. I'm wondering if it would be possible to add a rule, to avoid nesting certain methods/functions.

For example:
[code]
This kind of practice is often confusing, since you don't know where `foo()` belongs.

I've considered using `ComplexMethod`, but it seems like you need to pass certain threshold, in order for detekt to fail. I would like to fail instantly in my example.

[2022-04-26 10:29] BraisGabin commented on #4750
🤔 It is but I'm not sure which one I prefer. This issue is easily actionable. The bug is at `UnnecessaryAbstractClass`. The other is really generic and if no one is going to do the reseach to list all the rules that should be fixed I would vote to close it and fix the ones that are reported (or just send a PR if someone find an issue like this in other rule).

[2022-04-26 10:48] 3flex commented on #4750
Makes sense, I'll close the other one

[2022-04-26 10:49] 3flex commented on #4163
Closing, see https://github.com/detekt/detekt/issues/4750#issuecomment-1109627132

[2022-04-26 10:49] #4163 closed

[2022-04-26 11:14] BraisGabin commented on #4780
Extract from: https://kotlinlang.org/docs/scope-functions.html#function-selection

I agree that we should have a rule that flags if any of the scoped functions are scoped.

[2022-04-26 14:06] neblung opened #4781 "Rule MultilineLambdaItParameter does not work"
## Expected Behavior
Violating the rule should be reported and fail the build.

## Observed Behavior
Violation is not reported. The build passes.

## Steps to Reproduce
1. Clone repository https://github.com/neblung/use-detekt
1. Run `./gradlew detekt`

## Context

## Your Environment

* Version of detekt used: 1.20.0
* Version of Gradle used (if applicable): 7.4.2
* Gradle scan link (add `--scan`

[2022-04-26 14:37] BraisGabin commented on #4781
This rule needs type resolution. Otherwise it doesn't work. You need to execute `./gradlew detektMain` and define the jvmTarget. More info here: https://detekt.dev/docs/gettingstarted/gradle#using-type-resolution

[2022-04-26 17:34] schalkms commented on #4780
I really like this idea for a new rule. Maybe, the rule should be configurable with a threshold. But, I wouldn't see this as strictly mandatory for a first inclusion in detekt.

@WildOrangutan may I ask you to take this issue and submit a first PR for this new rule?

[2022-04-26 18:09] TWiStErRob commented on #4163
I think agree with @BraisGabin that this is a generic issue, because the issue is systematic. I think the solution is to add a single test (is there a rule base test?) that validates that the description of every rule is <100 (arbitrary) characters and then fix the long ones. No-one should manually read and validate messages... 😅

[2022-04-26 18:31] WildOrangutan commented on #4780
I will give it a go, but won't promise anything :)

I'm thinking of a rule like below. Let me know if that sounds ok.

[code]

[2022-04-26 19:10] BraisGabin commented on #4780
Sounds great. I would vote to add let to the list too.

[2022-04-26 19:12] BraisGabin commented on #4163
That sounds like a good idea to me.

[2022-04-26 19:51] TWiStErRob commented on #4750
I think this is more like a subtask of the other one.

[2022-04-26 23:08] #4778 closed

[2022-04-26 23:09] #4679 closed

[2022-04-27 06:26] dawidhyzy-ifolor commented on #4753
Sure!

We have `DataSource` defined in the `domain` layer

[code]

As `androidx.paging.PagingSource` is an abstract class we can't refactor `PhotosMediaItemPagedDataSource` to an interface - interface can't extend abstract class.

Please, let me know if you need more information.

[2022-04-27 18:24] marschwar commented on #4780
How is that different than `NestedBlockDepth`? In theory that rule should pick up the same issues (and more). There is no test that verifies this behavior, but the code looks like it is intended to do so.

[code]

[2022-04-27 21:17] Nitewriter opened #4786 "JVM 17 & Kotlin 1.6.x Support"
The changes made to the final version of 1.20.0 have reverted fixes that addressed the `invalid jvm target` error experienced in this ticket. https://github.com/detekt/detekt/issues/4287

[code]

I'm currently unable to upgrade to resolve the current `XML External Entity (XXE) Injection` vulnerability. Version 1.20.0-RC2 continues to have no issues with JVM 17 and Kotlin 1.6.x, but does not have a

[2022-04-27 23:01] cortinico commented on #4786
Could you link to the revert you're talking about?

[2022-04-28 07:16] BraisGabin commented on #4750
Maybe, but this one is easily actionable and it's clear when it's done while the other is too broad. We prefer actionable issues because anyone can take them and send a PR to fix them. The broad issues are nearly always waiting for a maintainer to be implemented so they can take long time. For example, you can open a new issue to add a rule to check the lenght of the rule description. That's easil

[2022-04-28 12:34] gunishmatta commented on #4705
@BraisGabin  I want to work on this
Would love to contribute

[2022-04-28 14:30] cortinico commented on #4705
Assigned to you @gunishmatta 👍

[2022-04-28 15:36] mkaulfers commented on #4786
@cortinico this is the ticket he's referring to that should have fixed it, but it is no longer working. #4277

[2022-04-29 01:06] 3flex commented on #4705
Personal preference, but I think these should be individual rules, rather than a single rule with multiple config options.

Anyone else have an opinion on this?

[2022-04-29 12:18] cortinico commented on #4705
+1 on this. Let's make them separate as it's easier to test/review/maintain

[2022-04-29 17:25] mhernand40 opened #4791 "Conflict between ExplicitCollectionElementAccessMethod and UseOrEmpty when using SavedStateHandle in Android"
Please see the following code snippet:
[code]

## Expected Behavior
Detekt should not flag any violations for this because `savedStateHandle["key"]` returns `Any?`. The compiler cannot infer yet that it is an `ArrayList<String>`.

## Observed Behavior
Detekt complains with the following error:
[code]
Then when attempting to apply the fix:
[code]
Detekt complains with the following error:
[code]

#

[2022-04-29 18:53] rocketraman commented on #4786
Is there a workaround, or do we need to revert to 1.19 for now?

[2022-04-29 18:54] mhernand40 commented on #4791
I guess there is a workaround:
[code]
🤷‍♂️

[2022-04-30 10:30] BraisGabin commented on #4791
I think that you found 2 false positives at once.

- `bar.get<Foo>["hi"]` is not the same as `bar["hi"]`. So that's a false positive at `ExplicitCollectionElementAccessMethod`
- And you can't use `orEmpty` over classes that doesn't have that function. So `UseOrEmpty` should not complain about usages of `?: emptyArray<String>()` in those cases.

---

For this kind of things I usually use `baseline`

[2022-04-30 10:48] BraisGabin opened #4792 "Add links to the rules documentation in the html report"
## Expected Behavior
When I read a `html` report I can get the maximum context to fix the issues that detekt found. For example, links to the documentation of each rule that has at least one issue.

## Current Behavior
If you want to know a bit more about one rule and what it does you need to copy the name of the rule, paste it on a web search engine add "detekt" and find that documentation that y

[2022-04-30 16:18] cortinico commented on #4786
How are you folks passing the `--jvm-target`? Via CLI or via Gradle? Which value are you specifying?
Could you provide a reproducer of any form to help us understand what's going on?

[2022-04-30 17:04] rocketraman commented on #4786
In my case I'm using the gradle plugin. I am not passing that argument explicitly at all.

[2022-04-30 18:12] cortinico commented on #4786
I'm not able to reproduce. Tested with:

[code]

Running `./gradlew detetkMain` without specifying `--jvm-target` leads to a successful build.

[2022-04-30 21:16] WildOrangutan opened #4797 "'apply' misuse rule"
## Expected Behavior of the rule
Rule to detect misuse of `apply` scope function, when no configuration to object is being made.
Rule should suggest to using `run` or `with` instead.

Basically misusing the intention of scope functions, as defined [here](https://kotlinlang.org/docs/scope-functions.html#function-selection).

## Context

#### Example 1:
[code]
In this case, response is not being mod

[2022-04-30 21:53] BraisGabin commented on #4797
Did you check `UnnecessaryApply`?

[2022-04-30 22:15] WildOrangutan commented on #4797
I've checked. Did some unit tests, and it doesn't seem to do what I would like. I guess it could be extended tough.

[2022-04-30 23:45] rocketraman commented on #4786
I use gradle toolchains configuration in my build. Maybe that's causing a problem?

[2022-05-01 06:03] rocketraman commented on #4786
Seems like the problem might be this declaration in my Gradle build:

[code]

It also doesn't seem to matter which version is actually specified -- detekt bails in any case.

[2022-05-01 08:18] BraisGabin commented on #4797
I agree about extending it.

The problem I see is how do we detect if apply is being used for configuration or not?

Is the first one because the returned value of apply was ignored or because there is a return inside it?

How do you know if logUser does or does not configuration steps in your second example?

[2022-05-01 10:10] WildOrangutan commented on #4797
Sorry, but I can't provide good answers those questions, because I'm very new to Kotlin PSI. It's just an idea, based on what my colleges are constantly doing.

I guess it might be hard to resolve, what actual method is doing, when called inside `apply`. Maybe it would be possible to simply detect on root level of `apply`, if any setters or methods are being called. Not ideal I guess, but better t

[2022-05-01 12:33] BraisGabin commented on #4517
How can we actionate this issue? Do we create a yaml differ and patcher (or find one)? Is it worth it? Are we going to continue working with yaml?

[2022-05-01 20:32] eygraber commented on #4495
https://youtrack.jetbrains.com/issue/KTIJ-8888

[2022-05-01 21:48] chao2zhang commented on #4753
I think the rule of thumb is because `Interface can't extend abstract class`. I agree that we should at least provide a configuration to this rule.

[2022-05-01 23:25] chao2zhang commented on #4736
+1 I have the same observation as well with `DataBinding`

[2022-05-02 08:52] karandeep26 commented on #2259
can we use this approach to run type resolutions? (detektMain?)

[2022-05-02 09:45] leinardi commented on #4743
Sorry for the late reply, it has been a busy week at work. Thank you for suggesting a couple of fixes, [I went](https://github.com/leinardi/Forlago/pull/26/files) with the exclusion of the code generated package since I also that was the better solution.

[2022-05-02 13:33] cortinico commented on #4786
That should work. Could you try with just "11" or with `JvmTarget.JVM_11`?
Also @3flex do you have some context here as you introduced the `JvmTargetConverter`?

[2022-05-02 13:53] rocketraman commented on #4786
The output of `JavaVersion.VERSION_11.toString()` is already "11" but I tried it anyway, and as expected, the same error results.

[2022-05-02 14:43] rocketraman commented on #4786
Thanks for the hint @cortinico on `JvmTargetConverter`... I added a debugger to `DetektInvoker`. Assuming I'm looking at the right place, I see that my build does not pass a `--jvm-target` option at all.

Looking at the code at https://github.com/detekt/detekt/blob/main/detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/ArgumentConverters.kt#L54-L57, it looks like this code assumes that `-

[2022-05-02 14:58] cortinico commented on #4786
Thanks for looking into this @rocketraman
Yes, it's a required argument but it has a default specified, if you don't specify any:

https://github.com/detekt/detekt/blob/16bbc16da0b9438d6f4fcf7a861cac9875817be7/detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt#L189-L195

[2022-05-02 15:00] rocketraman commented on #4786
I assumed when I wrote my previous message that adding the explicit `jvmTarget` configuration for the Gradle plugin would fix the problem, but nope.

Debugging further, I think I see the problem... the `CompilerSpec` generated by the CLI invoker tooling is setting the `jvmTarget` value to "JVM_11", which is the toString value of the `JvmTarget` enum. It's this "JVM_" value that is causing the prob

[2022-05-02 15:20] rocketraman commented on #4786
The failure seems to be at this line:

[code]

in the `Lifecycle` interface.

[2022-05-02 15:33] rocketraman commented on #4786
More specifically, `EnvironmentFacade.environment` calls `createCompilerConfiguration`, which a parameter: `compilerSpec.parseJvmTarget()`.

This `JvmTarget.fromString(jvmTarget)` on the `toString` output of `JvmTarget` is invalid i.e.

[code]

[2022-05-02 15:58] rocketraman commented on #4786
I submitted a PR https://github.com/detekt/detekt/pull/4800 to hopefully fix this. I haven't tested this TBH but it does compile.

[2022-05-02 16:01] cortinico commented on #4786
I'd like @3flex to take a look here and eventually revert https://github.com/detekt/detekt/pull/4694 if needed.

[2022-05-03 04:06] 3flex commented on #4786
I've added some new tests in #4801. Strings are mapped from Gradle plugin and parsed correctly by the CLI.

I'm not sure what I'm missing here, so a full reproducer will be helpful, but I will continue investigating in the meantime.

[2022-05-03 04:21] 3flex commented on #4786
What could be the problem is if `JvmTarget.JVM_11.toString()` is called from Gradle, and an older version of Kotlin is on Gradle's classpath, it will return "JVM_11", because Gradle embeds an earlier version of Kotlin which doesn't have the new `toString()` override on `JvmTarget` that detekt CLI relies on.

It should work if you just set `jvmTarget = "11"` in the build file, or `jvmTarget = JavaV

[2022-05-03 06:35] rocketraman commented on #4786
I was on Gradle 7.3.3. I updated to 7.4.2 to check if that was the issue. Same problem with both versions. There should be no change in the version of Kotlin on the classpath -- I have no local customizations in this regard. Gradle uses whatever it uses, my build uses 1.6.10.

No this does not work. In fact, I've never had `JvmTarget.JVM_11.toString()` in any of my build files. The call to `JvmTar

[2022-05-03 07:28] 3flex commented on #4786
Please provide a reproducer and we can hopefully narrow down exactly what's going on.

[2022-05-03 08:03] 3flex commented on #4786
A build scan may also help.

[2022-05-03 09:48] WildOrangutan opened #4805 "OptionalUnit for open methods"
## Expected Behavior
OptionalUnit rule to not detect optional `open` methods.

## Observed Behavior
OptionalUnit detected open method, that is used in abstract class.

In following example, this rule reports error for `onScream()`.

[code]
PS: Dumb example, but you get the point.

## Your Environment
* Detekt: 1.20.0

[2022-05-03 13:24] rocketraman commented on #4786
The reproducer is nothing special. Its I believe the most basic possible setup: https://github.com/rocketraman/test-detekt-4786.

[code]

Here is the build scan: https://scans.gradle.com/s/3okubnbhzpsb4

[2022-05-03 14:03] rocketraman commented on #4786
If you saw an earlier email from me due to a comment on this issue, please ignore it -- I thought I had created a reproducer but it was a silly mistake on my part. So far I'm not having any luck with the reproducer.

I'll continue trying to reproduce for a bit, but I'm not sure how much longer I can spend on this. I'm happy to jump on a meeting to debug this together.

[2022-05-03 14:14] fwh-dc opened #4806 "Wrong replacement suggestion for [UnnecessaryFilter]"
## Expected Behavior

List.size does not allow predicates, maybe detect means I should use count instead?
audioDeviceList.count { it.canPlay() } > 2

## Observed Behavior
val audioDeviceList: List<AudioDevice>

audioDeviceList.filter { it.canPlay() }.size > 2
'filter { it.canPlay() }' can be replaced by 'size { it.canPlay() }' [UnnecessaryFilter]

## Your Environment

* Version of detekt used: 1.2

[2022-05-03 18:07] rocketraman commented on #4786
I finally reproduced it... here is the repro repository: https://github.com/rocketraman/test-detekt-4786.

Looks like this particular block in my gradle build is the source of the problem: https://github.com/rocketraman/test-detekt-4786/blob/master/build.gradle.kts#L13-L21.

I normally do this in my builds to ensure that my chosen version of Kotlin is used everywhere in my build.

[2022-05-03 18:12] rocketraman commented on #4786
It looks like that block is pulling in the 1.6.10 version of kotlin-compiler-embeddable whereas detekt is expecting the 1.6.20 version.

Build scan with invalid target:

https://scans.gradle.com/s/xhnopmleir2au/dependencies?dependencies=kotlin-compiler-embeddable&expandAll

Build scan with working detekt:

https://scans.gradle.com/s/ctcsi2vahsa7o/dependencies?dependencies=kotlin-compiler-embeddabl

[2022-05-03 21:13] #4806 closed

[2022-05-03 22:30] 3flex commented on #4786
That's exactly what's happening - detekt uses the "detekt" configuration to manage the Gradle plugin's dependencies, which would normally be pulling in detekt-cli 1.20.0 and kotlin-compiler-embeddable 1.6.20 (or 1.6.21, can't recall which we shipped with).

When you override all configurations you're also overriding the "detekt" configuration, overriding the expected kotlin-compiler-embeddable ver

[2022-05-03 22:33] 3flex commented on #4786
@Nitewriter I'm conscious that you might have a different root cause - or is this enough info to resolve your issue as well?

[2022-05-04 00:24] rocketraman commented on #4786
Is it correct for detekt to be tied so strongly to a particular kotlin version? And even if yes, then should detekt fail in such an esoteric way if that constraint is not met?

[2022-05-04 01:59] 3flex commented on #4786
Yes. detekt utilises internal compiler code for its analysis. There's no public API as such so we don't have much choice here. Some updates to Kotlin are breaking for detekt so maintaining compatibility with multiple Kotlin versions isn't realistic.

I think that's debateable. In your case it's a build configuration issue, and we can't account for everything that someone might do in their own buil

[2022-05-04 02:29] rocketraman commented on #4786
There is no need to account for "everything that someone might do". There should be a need to account for fundamental constraints of detekt being violated and report on that accordingly.

If this statement is true (it may be, but not really in this case -- the error condition in question was not anything fundamental with the compiler here, but rather the code relying on a specific version's behavi

[2022-05-04 02:33] rocketraman commented on #4786
BTW, other libraries that depend on specific compiler versions, like Compose, have just such logic in them. Compose will fail in the presence of the wrong Kotlin version, unless a specific setting is used to override that check.

Furthermore, IIRC Compose uses the version of Kotlin in the project and requires that to match the version expected by Compose -- it doesn't try to bring in its own versi

[2022-05-04 16:26] #4749 closed

[2022-05-05 07:37] BraisGabin commented on #4786
I'm using JDK11, detekt 1.20.0 and kotlin 1.6.10 and all works perfect so this is a bit more complex. I mean, detekt right now works on other versions of kotlin too.

[2022-05-05 07:37] rocketraman opened #4810 "InvalidPackageDeclaration: detekt missing package name when root is empty"
## Expected Behavior of the rule
Currently `InvalidPackageDeclaration` detects a missing package declaration, but only if the `root` is not empty.

With Kotlin/JS, people often follow JS module naming conventions rather than Java naming conventions. With JS conventions, there is generally no common root package, thus `root` must be empty.

But in this case, Detekt no longer sees invalid package de

[2022-05-05 07:58] 3flex commented on #4786
See https://github.com/detekt/detekt/issues/4786#issuecomment-1116722049

We have the root cause and a fix for that issue, but I'm not sure if the original reporter has a different issue.

[2022-05-05 08:23] itd-pal commented on #4786
@3flex
I'm new to detekt so would it be possible to create an share a pull request on the repodruced repo where to add this change ?

Thanks

[2022-05-05 09:20] 3flex commented on #4786
@itd-pal I think that would be better raised in a separate support request, thanks! Try https://github.com/detekt/detekt/discussions

[2022-05-05 10:58] adepalle opened #4811 "SLF4J Warning after updating to 1.20"
Hi,

I know an issue was already created on this problem during 1.20-RC2 (and was fixed) but i have this problem actually after upgrading from 1.19 to 1.20

## Expected Behavior
I saw on the old issue this warning should not be displayed

## Observed Behavior
I got this warning when lint + autoCorrect :
`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-opera

[2022-05-05 10:58] dimsuz opened #4812 "Default configuration of custom rulesets isn't merged in the resulting detekt-config.yml"
Starting with detekt `1.20.0` we've got a great way to supply a default config from a rule set using `resources/config/config.yml`. While adding this feature to my ruleset I discovered it doesn't seem to work.

By following advice from @BraisGabin I checked this with running `detektGenerateConfig` gradle task: it should append contents of `config.yml` to the resulting output.

But it doesn't do so

[2022-05-05 11:27] itd-pal commented on #4786
I opened #4813 @3flex

[2022-05-05 19:41] cortinico commented on #4811
I believe this was addressed by #4775

[2022-05-06 06:32] BraisGabin commented on #4810
We have a different rule for this use case: `MissingPackageDeclaration`.

[2022-05-06 15:22] cortinico commented on #4792
Fixed by #4799

[2022-05-06 15:22] #4792 closed

[2022-05-06 16:12] JcMinarro opened #4815 "False positive for unused imports"
Detekt is reporting Unused Import for Kdocs references.
As you can see in this [class](https://github.com/GetStream/stream-chat-android/blob/report-detekt-issue/stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/ChannelListViewStyle.kt#L27) the `ChannelViewHolder` is referenced into the Kdocs comments, but Detekt doesn't parse it properly and thinks there i

[2022-05-06 16:38] cortinico commented on #4786
Should we close this issue then?

[2022-05-06 19:21] rocketraman commented on #4810
@BraisGabin The problem with `MissingPackageDeclaration` is that it triggers on files that are legitimately at the empty package root.

I'm simply looking for a rule that forces the package to match the file location, whether that is at the root or elsewhere.

[2022-05-07 03:38] 3flex opened #4817 "Overridden Kotlin compiler version can lead to failures running detekt"
## Expected Behavior
Dependencies of detekt-cli cannot be overridden, so that specifying a specific detekt-cli version with the `detekt` configuration or by specifying `toolVersion` will always execute using a compatible Kotlin compiler version.

## Observed Behavior
It's easy to override the Kotlin dependency (see https://github.com/detekt/detekt/issues/4786#issuecomment-1116722049) & https://git

[2022-05-07 19:48] VitalyVPinchuk commented on #4615
Hello
May I work on the issue?

[2022-05-09 00:39] #4815 closed

[2022-05-09 00:54] chao2zhang commented on #4781
Closing this issue for now - Let us know if this issue persists after enabling type resolution

[2022-05-09 00:54] #4781 closed

[2022-05-09 07:23] BraisGabin commented on #4615
Sure! And thanks :)

[2022-05-09 13:54] adepalle commented on #4811
Thanks for your answer.

I need to wait for the version 1.21.0 so ?

[2022-05-09 15:18] cortinico commented on #4811
Yes. You could technically add a no-op dependency in your configuration as well, but I'm not sure that's going to work.

[2022-05-09 15:58] #4736 closed

[2022-05-10 07:08] sschuberth opened #4826 "Add a Markdown report format (for use with GitHub Job Summaries)"
## Expected Behavior

It would be nice if there was an additional report in Markdown format (maybe even replacing the plain text format) that could be used with GitHub's new [Job Summaries](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/).

## Current Behavior

There is no report in Markdown format available.

## Context

While the SARIF report also works nicely wit

[2022-05-10 07:11] sschuberth opened #4827 "Text reports are not merged in Gradle multi-projects"
## Expected Behavior

Reports (for root / parent projects) in plain text format should be merged like SARIF and XML reports.

## Observed Behavior

Plain text formats are not merged. The root / parent project report is empty even if there are issues in a sub-project.

## Steps to Reproduce

In a Gradle project, set `reports.txt.required.set(true)` and run `./gradlew detekt` in the root of a multi-

[2022-05-10 15:57] ArtsiomCh opened #4828 "PluginException: annotator: io.gitlab.arturbosch.detekt.idea.DetektAnnotator"
Getting it often (on almost ant Kotlin file) after update to 1.20.0
[code]
PS Please implement Exception handler to automate such exception reporting process...

[2022-05-10 23:02] cortinico commented on #4828
It this happening inside the Detekt IntelliJ Plugin?

[2022-05-10 23:04] cortinico commented on #4826
Sounds like a good idea, unless we know of any user currently relying on the current text format (which I'm not aware of).

[2022-05-11 07:04] ArtsiomCh commented on #4828
Yes, sorry for not mentioning that

[2022-05-11 07:38] itd-pal commented on #4786
FYI
For me it fixed the problem by updating either
detekt to `1.20.0-RC2` with kotlin `1.6.10`
or updating kotlin to `1.6.20` and detekt `1.20.0`

[2022-05-11 18:25] timothyolt opened #4830 "Gradle Plugin: Cannot find version resource when another plugin has a version.properties"
## Expected Behavior
When another Gradle plugin that has a `version.properties` resource is added to the same project as Detekt,
Detekt should still be able to find it's version.

## Observed Behavior
Instead, the Gradle configuration crashes with an exception:
[code]

## Steps to Reproduce
The easiest way to reproduce is to add both Gradle plugins to the same project.
[code]
Though this will happ

[2022-05-12 00:28] cortinico commented on #2957
Have you seen this error happening again though?

[2022-05-12 00:29] cortinico commented on #4830
Closing as this duplicates https://github.com/detekt/detekt-intellij-plugin/issues/161

[2022-05-12 00:29] cortinico commented on #4830
Sorry I accidentally closed this issue instead of another

[2022-05-12 00:30] cortinico commented on #4828
Closing as this duplicates https://github.com/detekt/detekt-intellij-plugin/issues/161

[2022-05-12 00:30] #4828 closed

[2022-05-12 10:40] BraisGabin commented on #3095
I did a small research on this. And I found a way to implement this and other similar rule:

[code]

and

[code]

As other maintainer said and now I agree with (my bad), this is out of scope for detekt, so I'm closing this issue.

But that doesn't mean that those rules shouldn't be implemented. I'm going to create that third-party rule set so anyone can use it. (I'll add a link in this issue as so

[2022-05-12 10:40] #3095 closed

[2022-05-12 11:00] #4498 closed

[2022-05-12 14:56] alyssa-glean opened #4832 "Disallow not null assertion (!!)"
## Expected Behavior of the rule
Quite simply, a rule which disallows any use of the [not null operator](https://kotlinlang.org/docs/null-safety.html#the-operator) `!!`. Whilst there *are* ways to use it safely, you can always avoid it by instead using optional chaining, the elvis operator, a `?.let{}` and so on.

The rule would of course default to off, and for my own use case I imagine turning i

[2022-05-12 17:23] BraisGabin commented on #4826
:) sure! I assigned it to you.

[2022-05-12 17:29] cortinico commented on #4832
We do have `UnnecessaryNotNullOperator` which does something similar. Though we don't have a rule which blindly flags usages of `!!`.

[2022-05-12 19:15] BraisGabin commented on #4832
I think that `UnsafeCallOnNullableType` does exactly that. Right?

[2022-05-12 20:39] schalkms commented on #4832
What would be the difference to the `UnsafeCallOnNullableType` rule?

[2022-05-12 20:42] schalkms commented on #4826
I would also vote for this suggestion.
The plain text report doesn't provide any additional value, if detekt includes a markdown based report.

[2022-05-13 00:23] BraisGabin commented on #4826
I agree aboit to remove txt but for 2.0

Remove it now could break some setups.

[2022-05-13 09:25] cortinico commented on #4826
Which one? If a user is expecting structured data from a report they would be using XML or other format no?

[2022-05-13 10:51] BraisGabin commented on #4826
No idea. It just feels like a breaking change that doesn't give us too much, but maybe I'm losing something here.

[2022-05-13 15:48] cortinico commented on #4826
I feel that we don't have a strong API around the text format, given that it's fully unstructured. Adding some markdown won't hurt IMHO. If a user was relying on the text output to feed it into another tool, they should have used a more structured format maybe?

[2022-05-16 09:23] alyssaburlton commented on #4832
Ah yes - I think `UnnecessaryNotNullOperator` and `UnsafeCallOnNullableType` in combination cover what I'm after. I haven't gotten around to exploring the rules that require type resolution yet which is why I hadn't noticed these.

What I was proposing was basically a combination of the two that wouldn't need type checking at all - just ban all `!!` without caring whether it's "unsafe" or "unneces

[2022-05-16 09:42] pavel-zlotarenchuk opened #4835 "Config baseline from build.gradle again dont works"
I have investigated bug [3985](https://github.com/detekt/detekt/issues/3985) and it should be fixed. But I run into it again in version 1.20.0

I write
[code]
In my `allprojects { }`

But baseline not used.
Used only detekt-baseline.xml from app (if exist) or not used baseline.

* Version of detekt used: 1.20.0
* Version of Gradle used (if applicable): 4.1.2
* Operating System and version: macOS 1

[2022-05-16 15:44] #4832 closed

[2022-05-16 22:58] cortinico commented on #4835
Are you invoking `detekt` or `detetkMain`?
Which project are you applying this to (Android/JVM/KMP)?

[2022-05-17 06:57] pavel-zlotarenchuk commented on #4835
detekt
Android

[2022-05-17 07:22] BraisGabin commented on #4835
If you define the baseline like this: `file("config/detekt/baseline.xml")` I don't get how you get a baseline file called `detekt-baseline.xml`, it should be named `baseline.xml`. Could you provide a reproducer?

[2022-05-17 14:54] pavel-zlotarenchuk commented on #4835
I created `detekt-baseline.xml` with help command `detektBaseline`
Renamed `detekt-baseline.xml` to `baseline.xml`
Moved from `app/` to `config/detekt/`
And run `detekt`
Have error
But
If I run `detektBaseline` again and created `detekt-baseline.xml` in `app/` and run `detekt` it works

From this I conclude
What setting a custom path for baseline doesn't work

[2022-05-17 16:32] BraisGabin commented on #4835
Ok! So you are complaining about the path. Not the beaseline feature.

I tried to reproduce your issue and it works as expected on my end. a baseline is created in `app/config/detekt/baseline.xml`. For sure, if I move it anywhere else it stops working. `baseline = file("config/detekt/baseline.xml")` is a relative path (relative to the gradle project). It's not an absolute path.

The strange thing

[2022-05-18 17:21] VitalyVPinchuk commented on #4826
Hello!
If I get it right, Markdown report should return string similar to this.
If no, please, correct me.

Structure:

---

1. **TestSmell-1**

    1. <details>
       <summary>CodeSmell-1</summary>

       - <details>
           <summary>Issue</summary>

           - id='TestSmell'
           - severity=CodeSmell
           - debt=5min
         </details>

       - <details>
           <summary>

[2022-05-18 21:45] mbayerPK commented on #3874
any updates on this issue? I see that something was discussed in https://github.com/detekt/detekt/pull/4106 which was closed and then was brought up again in https://github.com/detekt/detekt/issues/4465.

[2022-05-18 22:08] mjsztainbok opened #4838 "A rule for when multiple collection or iterable operations are chained to suggest that a sequence be used instead"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

When operations such as `map`, `filter`, etc. are chained on an `Iterable` or `Collection`, the rule would say that `asSequence()` should be called before the operations to optimize performance

[2022-05-18 23:32] cortinico commented on #3874
Please follow up on #4465 directly 👍

[2022-05-18 23:35] cortinico commented on #4826
If possible, I would refrain from using `<summary>` and `<details>` as those are not standard Markdown. Something simpler also works

[2022-05-19 09:51] TWiStErRob opened #4839 "Website: visible liquid not rendered"
## Expected Behavior
Website renders HTML.

## Observed Behavior
![image](https://user-images.githubusercontent.com/2906988/169265256-f4db0c26-922a-4f98-907c-bfa8648e0e7e.png)

## Steps to Reproduce
https://detekt.dev/docs/gettingstarted/type-resolution/#is-my-rule-using-type-resolution

## Context
https://github.com/detekt/detekt/blob/7cb5d9603bf4bf1f263dc393764178ef8d1df8cf/website/docs/gettings

[2022-05-19 10:19] AlexProdrom opened #4840 "Homebrew install specific version"
## Expected Behavior
To be able to download a previous version than the latest using homebrew. Something like brew install detekt@1.19.0

## Current Behavior
It is possible to install only the latest version through homebrew, the whole github download approach is needed now.

## Context
We have our script in the repo to download all the dependencies required from the project, unfortunately when th

[2022-05-19 10:22] BILLyTheLiTTle opened #4841 "Apply Detekt plugin in multi module and build variants project"
## Expected Behavior
To add the plugin
[code]
and run the `gradlew app:tasks` command successfully.

## Observed Behavior
[code]
And from stacktrace
[code]

## Steps to Reproduce
Using Android Studio create a new multi module project which contains build flavors.

## Context
I just wanted to `apply` detekt to my project.

## Your Environment

* Version of detekt used: **v1.20.0 has this issue but

[2022-05-19 11:33] cortinico commented on #4839
Yup I missed this one. It should be converted to a MDX component. That's up for grab if someone wants to do a easy contribution to Detekt :)

[2022-05-19 11:36] cortinico commented on #4840
Yup that's a valid request. We don't maintain the brew formula ourselves but it's something we're looking external contributors to help us with :)

[2022-05-19 11:39] cortinico commented on #4841
The reason why you're facing this issue is because you're using AGP `4.1.3`:
https://github.com/BILLyTheLiTTle/Learning_Android/blob/9dba81389ef73c65ca9237025ca730fe2e07a640/Gradle_Example/Hilt_Example/build.gradle#L11

Detekt 1.20.0 is build against AGP 7.1.3, so you must update to that version to use it:
https://detekt.dev/docs/introduction/compatibility

[2022-05-19 11:53] BILLyTheLiTTle commented on #4841
I tried into a simpler project with much less dependencies and updating AGP and Gradle version according to the compatibility table referenced in the comment above solved the issue.

[2022-05-19 11:53] #4841 closed

[2022-05-19 12:36] AlexProdrom commented on #4840
Thanks! will have a look when having time :)

[2022-05-19 19:54] BraisGabin opened #4843 "`detektGenerateConfig` fails"
## Expected Behavior
If I run `./gradlew detektGenerateConfig` the configuration file should be created and gradle should not fail.

## Observed Behavior
The file is created, but gradle fails: https://ge.detekt.dev/s/lpgeopyjrd46k/failure?expanded-stacktrace=WyIwIiwiMC03LTktMTEiXQ&focused-stack-frame=0-7-9-11-0

## Steps to Reproduce
In this project:
[code]

## Context
This is a long standing bug.

[2022-05-19 19:55] BraisGabin commented on #4843
This is a race condition, different gradle tasks try to write that file at the same time. The first one succed and the other fails. Probably we could just ignore the exception. What do you think?

[2022-05-19 20:04] BraisGabin commented on #2957
I can confirm. This is still an issue. Way to reproduce:

1. Execute `rm config/detekt/detekt.yml && ./gradlew generateConfig`
2. In the class `DefaultConfigProvider` launch an unconditional exception on the function `copy`. Something like `error("hello")`
3. Execute `rm config/detekt/detekt.yml && ./gradlew generateConfig` again. You will expect to see all the tasks fail with the message `hello`

[2022-05-19 21:25] TWiStErRob opened #4845 "Website: "Edit this page" 404"
## Expected Behavior
"Edit this page" opens GitHub source code.

## Observed Behavior
404 on https://github.com/detekt/detekt/edit/main/docs/docs/gettingstarted/cli.mdx

## Steps to Reproduce
Click "Edit this page" at the bottom of https://detekt.dev/docs/gettingstarted/cli/

## Context
I was looking for examples on how to fix #4839 by browsing the site.

## Your Environment
https://detekt.dev/doc

[2022-05-19 22:02] cortinico commented on #4843
The problem is that you're invoking multiple tasks here `detektGenerateConfig`.
Not sure how to handle this, maybe the task should just not fail if the file already exists but just print a warning to the user?

Still users will report that warnings are reported when invoking `./gradlew detektGenerateConfig` so it doesn't really solve the underlying issue

[2022-05-21 00:28] manwinder123 opened #4851 "--base-path not working"
## Expected Behavior
I am running `detekt --base-path "folderA/FolderB/"` and expect detekt to return all issues for kotlin files inside FolderB and nested folders

## Observed Behavior
It returns all issues for all folders, nest folders, and files in my root folder where I call the command

## Steps to Reproduce
`detekt --base-path "folder"`

I've tried `detekt -bp`, I've used quotes, no quotes,

[2022-05-21 09:41] #4845 closed

[2022-05-21 09:44] schalkms commented on #4791
closed by [5f491f1](https://github.com/detekt/detekt/commit/5f491f1da607931f35e8d48cc6f91c7ebda63b6e)

[2022-05-21 09:44] #4791 closed

[2022-05-21 09:45] BraisGabin commented on #4851
I think that you are looking for `input` instead of `base-path`.

Probably this issue is related with our documentation. How could we make it more clear?

[2022-05-21 11:24] BraisGabin commented on #4830
Fixed by #4830

[2022-05-21 11:24] #4830 closed

[2022-05-22 00:48] ZacSweers commented on #4731
I agree with @vladimirfx, I can't see any use case for `lateinit var` to be intelligently convertible to a `val`, its use is explicitly for cases where something _can't_ reasonably be known as a val at compile-time. If anything, `ignoreLateinitVar` should be `true` by default.

[2022-05-22 08:42] BraisGabin commented on #4731
A lot of android devs use `lateinit var` on Activities to set properties at `onCreate`. Later they can refactor its code and remove the set. This rule should find that type of issues. I imagine that, in general, this rule finds issues related with refactors and no with new code.

If a project uses a library that forces you to use lateinit without setters it's a one time configuration. But, if you

[2022-05-22 13:51] ZacSweers commented on #4731
The only time I ever see it used is with Dagger member injection. What other cases have you seen?

[2022-05-22 15:50] BraisGabin commented on #4731
The use cases that I usually see are like this:

[code]

I agree that that usage of `lateinit` isn't good but that kind of things happend. I usually have `LateinitUsage` enabled because of this.

And, for this rule, I think that it's better to add `ignoreAnnotated: ['Inject']`  than enable `ignoreLateinitVar`. We added it because there are libraries that don't give you other option but I think tha

[2022-05-22 15:52] BraisGabin commented on #4289
I think that this idea could work but for sure it's not for 1.0 nor 2.0 so closing.

[2022-05-22 15:52] #4289 closed

[2022-05-22 15:56] #4812 closed

[2022-05-22 15:57] BraisGabin commented on #4826
I think that something similar as the `html` report (without code snippets) but using *pure* markdown could be a good start.

[2022-05-22 16:02] BraisGabin commented on #4838
That sounds like good rule. Do you want to give it a try? We can help you with it. I assume that `UnnecessaryFilter` could give you a good start point.

[2022-05-22 16:07] BraisGabin commented on #4810
I was thinking about this. Why would you want to mix code with and withoud package in the same project/module? And if you do so I assume that the quantity of files without package would be really small, Am I right? If that's true probably a `@Suppress` is a good fit here. I mean, just to express "I know, all the files should have a package but in this one I don't want a package".

[2022-05-22 16:08] themkat commented on #4838
If @mjsztainbok don't want to, then I sure would love to 🙂  I already started looking a bit into it, but can step aside if @mjsztainbok would prefer looking at it himself

[2022-05-22 16:09] BraisGabin commented on #4805
I'm closing this because no answer was received to the Nico's proposal. Don't hestiate to reopen/comment if you think that we are missing something here.

[2022-05-22 16:09] #4805 closed

[2022-05-22 16:13] BraisGabin commented on #4838
I'm using a FIFO here. And you have extra points if you looked a bit into it already ;) Thanks!

[2022-05-22 16:23] BraisGabin commented on #4677
I reduced your example:

[code]

This raises an issue but it shouldn't. The strange part is that this code doesn't raise any issue:

[code]

[2022-05-22 16:36] BraisGabin commented on #4676
@eygraber could you check the detekt `SNAPSHOT` to see if you can reproduce the same issue after we merge #4723?

[2022-05-22 16:38] WildOrangutan commented on #4805
Imho, I still consider it a bug. I think this rule shouldn't trigger for this case, since `Unit` is not unnecessary in this case.

[2022-05-22 16:40] BraisGabin commented on #4678
Same as: https://github.com/detekt/detekt/issues/4676#issuecomment-1133931502

[2022-05-22 17:34] eygraber commented on #4811
I'm testing out the SNAPSHOT, and I'm seeing:

[code]

[2022-05-22 17:35] eygraber commented on #4676
The issue is resolved in `SNAPSHOT`

[2022-05-22 17:35] eygraber commented on #4678
The issue is resolved in `SNAPSHOT`

[2022-05-22 17:37] #4676 closed

[2022-05-22 17:37] #4678 closed

[2022-05-22 17:37] BraisGabin commented on #4678
Thanks to check it :)

[2022-05-22 21:11] VitalyVPinchuk commented on #4826
<details><summary>Will such a representation suffice?</summary>

# detekt
## Metrics
   - 10,000 M1
   - 2 M2
## Complexity
   - 2,222 lines of code (loc)
   - 20 source lines of code (sloc)
   - 10 logical lines of code (lloc)
   - 2 comment lines of code (cloc)
   - 10 cyclomatic complexity (mcc)
   - 10 cognitive complexity
   - 4 number of total code smells
   - 10% comment source ratio
   - 1

[2022-05-22 22:47] ZacSweers opened #4853 "Support ignoreAnnotated in ArrayPrimitive rule"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

Currently the rule always requires suppression, but there are some annotation-based scenarios where boxed type arrays must be used, such as in Junit 4's `@Parameterized.Parameters`-annotated fu

[2022-05-23 01:50] fzyzcjy opened #4854 "New rule: avoid-non-ascii-symbols"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

Hi thanks for the wonderful package! I am proposing a new rule that enforces i18n/l10n. The basic idea is, search non-ascii characters ([^\x00-\x7F] in regex) that appears in string literals, a

[2022-05-23 07:19] BraisGabin commented on #4854
Is there any documentation out there telling that something like this is a good practice? I don't see why English keys are better than any other language keys.

I undestand that you can have that agreement as a team. But I don't see the value to add it to detekt. In your case I would crate a custom rule to enforce that team agreement.

[2022-05-23 10:19] fzyzcjy commented on #4854
The idea is to never directly hardcode strings that are to be seen by the end users in code. They should be put separately in a i18n file.

p.s. related: https://github.com/dart-code-checker/dart-code-metrics/issues/819

[2022-05-23 17:39] TWiStErRob opened #4856 "Detekt task outputs are not following Gradle convention"
## Expected Behavior
Using task output property works as expected (automatic dependency on task).

## Observed Behavior

## Steps to Reproduce
/build.gradle.kts:
[code]
/module/build.gradle.kts:
[code]
Then execute `gradlew :module:detekt :detektReportMergeSarif`.

## Context
Trying to merge files, and use Gradle best practices.

### Workaround
[code]

### Possible fix
Stop creating the property m

[2022-05-23 21:49] TWiStErRob opened #4857 "Misleading --debug suggestion"
## Expected Behavior
[code]
or
[code]
or similar

## Current Behavior
[code]

## Context
Just saw a warning and wanted to get more info, after 10 minutes of digging into `gradlew --debug`, I realized I'm not getting more info unless I turn on `DetektExtension.debug`. I opened this to start a discussion and help others in the future.

[2022-05-23 22:12] chao2zhang commented on #4248
`SMARTCAST` does exist in BindingContext though. [Source code](https://cs.github.com/JetBrains/kotlin/blob/33c122d231be31d1429282219685d773efcd0c50/compiler/frontend/src/org/jetbrains/kotlin/resolve/BindingContext.java?q=BindingContext#L163)

[2022-05-23 23:12] chao2zhang commented on #4435
@BraisGabin Is the stance that we should acknowledge such degradation of `UnusedPrivateMember` with type resolution?

[2022-05-23 23:13] #4462 closed

[2022-05-24 14:00] rocketraman commented on #4810
@BraisGabin The main use case I see is a multiplatform project with a Kotlin/JS module that share a set of Detekt rules. The Kotlin/JS module may have a bunch of files at the root package, whereas the other modules won't, to avoid JavaScript code having to prefix the package name which isn't idiomatic (https://kotlinlang.org/docs/js-to-kotlin-interop.html#package-structure).

I don't have enough c

[2022-05-24 14:00] #4810 closed

[2022-05-24 17:47] cortinico commented on #4857
Good point. This warning is fired from detekt-core which is "integration agnostic". I think `--debug` was a wrong flag decision in the first place. Maybe we could link to a "debug mode" webpage?

[2022-05-24 17:56] cortinico commented on #4853
You should be able to use `ignoreAnnotated` on any rule so it should work with `ArrayPrimitive` as well: https://detekt.dev/docs/introduction/suppressors/#annotation-suppressor

[2022-05-24 17:57] cortinico commented on #4811
Thanks for the heads up. We should look into a different solution for it then

[2022-05-24 18:24] manwinder123 commented on #4851
I didn't see `input` in the usage list, I think it's clear if I had read it more closely. What would `base-path` be used for? I think having examples of each command (unless the command is super clear like `--parallel`) would be useful, in the readme.

[2022-05-24 21:29] TWiStErRob commented on #4857
Yeah, that's perfect, a separately maintainable and improvable page. We could even explain some common issues like this one, linking to specific issues, etc.

[2022-05-24 21:59] cortinico commented on #4851
It's used for relative path support. It's described here:
https://detekt.dev/docs/introduction/reporting/#relative-path

Closing as this was resolved, but please let us know if the docs are unclear and if we should update them

[2022-05-24 21:59] #4851 closed

[2022-05-24 23:12] fzyzcjy commented on #4854
A comment is not a literal string :)

[code]

is ok

[2022-05-25 02:17] ZacSweers commented on #4853
Thanks, I didn't realize that. It's not documented in detekt's schema here: https://json.schemastore.org/detekt.json (which is what Studio/IJ indexes)

<img width="406" alt="image" src="https://user-images.githubusercontent.com/1361086/170165316-9065db17-e05a-43c8-b348-27192cc6e915.png">

[2022-05-25 02:18] #4853 closed

[2022-05-25 07:01] cortinico commented on #4853
yup you're right. The problem is that this schemastore is community maintained and hasn't been updated since 2020: https://github.com/SchemaStore/schemastore/commits/master/src/schemas/json/detekt.json

We should look into doing:
- https://github.com/detekt/detekt/issues/4162

[2022-05-25 07:48] cortinico commented on #4854
Yup I see. Well you could still want to put anything inside a custom exception message.

Anyway the point of this rule should be around using String literal, and not the non-ascii chars. I understand the point behind localization, Android has a similar rule for Lint. However, I don't get why non-ascii-symbols should make the difference here.

[2022-05-25 09:39] fzyzcjy commented on #4854
Sorry I do not get the point. Since android has such a rule (and Flutter also has), it is already proven that this rule is useful.

[2022-05-25 15:30] Abhimanyu14 opened #4859 "Error: The original exception message was: FUN_KEYWORD"
Execution failed for task ':app:detekt'.

  The original exception message was: FUN_KEYWORD
  Running detekt '1.20.0' on Java '16.0.1+9-24' on OS 'Mac OS X'
  If the exception message does not help, please feel free to create an issue on our GitHub page.

## Expected Behavior
`./gradlew detekt` runs and shows the code changes required.

## Observed Behavior
Getting the above mentioned error on exe

[2022-05-25 15:33] Abhimanyu14 commented on #4859
Detekt version `1.18.1` works fine.

I tried upgrading to `1.20.0` to fix `SpreadOperator` [issue](https://github.com/detekt/detekt/issues/3145)

[2022-05-25 15:59] Abhimanyu14 commented on #4859
Update,
The issue is not related to detekt version.
Adding detekt formatting causes the issue.

`detektPlugins("io.gitlab.arturbosch.detekt:detekt-formatting:$rootProject.detektFormattingVersion")`

[2022-05-25 16:16] Abhimanyu14 opened #4860 "Spread operator is shown as an issue even when using Kotlin 1.6.21"
As per this Docs - https://detekt.dev/docs/rules/performance#spreadoperator,
If we use Kotlin above version 1.1.60, the spread operator should not be a performance issue,

## Expected Behavior
When using the spread operator in a project with Kotlin 1.6.21, it should not be reported as an issue.

## Observed Behavior
The spread operator is reported as an issue

## Your Environment

* Version of det

[2022-05-25 16:44] cortinico commented on #4860
Are you using type resolution?

[2022-05-25 16:46] cortinico commented on #4854
Android has a rule for checking **any** string literal which is not exported to a resource. What you're requesting is a rule to check only string litererals that contains non-ascii symbols

[2022-05-25 17:07] Abhimanyu14 commented on #4860
Tried with `./gradlew detektDebug` as mentioned [here](https://detekt.dev/docs/gettingstarted/type-resolution/#enabling-on-an-android-project)

Now, this is the error - SpreadOperator - [Used in this way a spread operator causes a full copy of the array to be created(…)] at <file_path>

The spread is used for varargs.

[2022-05-26 08:52] BILLyTheLiTTle opened #4862 "Baseline file not working as supposed"
I have 3 Detekt tasks:

- detektCheck: Checks for the issues
- detektFix: Autocorrect the issues wherever is possible
- detektGenerateBaseline: Generate the baseline file for the issues before using Detekt.
[code]

## Expected Behavior

With a baseline file it `detektCheck` and `detektFix` should return the same number of weighted issues. This works well with small projects.

## Observed Behavior

[2022-05-26 18:11] ZacSweers opened #4863 "MagicNumber rule should not be enforced in kotlin script files"
## Expected Behavior

The `MagicNumber` rule should not be enforced in script files because you cannot have constants in these files

## Observed Behavior

It currently will report errors in them

## Steps to Reproduce

use a magic number in a kotlin gradle script DSL

## Context

See above

## Your Environment

* Version of detekt used: 1.20.0
* Version of Gradle used (if applicable): 7.5-rc-1
*

[2022-05-26 18:13] ZacSweers commented on #4863
I know I can add this manually to excludes, I just mean that this should be disabled by default with an option to opt them in if folks want

[2022-05-26 21:15] schalkms commented on #4863
I don’t think a config option is necessary here. The check should prevent this violation for script files by default.

[2022-05-26 21:44] dzirbel opened #4866 "False positive on `UnnecessaryInnerClass` calls to `this`"
## Expected Behavior
If an `inner class` has a plan reference to `this`, `UnnecessaryInnerClass` should still raise an issue.

## Observed Behavior
`UnnecessaryInnerClass` does not raise an issue, even though the class could be made non-`inner`.

## Steps to Reproduce
[code]

## Context
I came across this issue while working on labeled expressions in #4865 but was unable to find a resolution. It s

[2022-05-26 22:25] ZacSweers commented on #4863
Are you saying it already does this or it should be updated to do this?

[2022-05-27 07:16] schalkms commented on #4863
The mentioned scenario is not implemented right now.

[2022-05-27 16:19] WebTiger89 opened #4867 "ignoreAnnotated suppressor for [TooManyFunctions] rule"
Does `ignoreAnnotated` suppressor not work for [TooManyFunctions] rule?

[2022-05-27 16:54] BraisGabin commented on #4867
It should. If it doesn't work for you, please open a new issue following the template.

[2022-05-27 16:54] #4867 closed

[2022-05-28 22:18] dzirbel opened #4873 "Mode or task to ensure configuration file is exhaustive"
## Expected Behavior
On my team I've found it useful to keep our detekt configuration file as exhaustive as possible, meaning that all rules (and all their configuration) are listed explicitly in the file. This serves a few purposes:
- it is trivial to see what rules are available just by skimming through the file rather than consulting documentation
- on detekt upgrades it is clear which rules/co

[2022-05-29 08:00] BraisGabin commented on #4873
I agree with you about the pros of a full configuration file. I do the same in all the projects I work on.

What I do to keep them up to date is this https://github.com/detekt/detekt/discussions/3558#discussioncomment-483027

I think that this is related with #4517. I think that we need to find a better way to handle our configuration in general.

[2022-05-29 14:00] BraisGabin opened #4874 "`compile-test-snippets` is confusing for new contributors"
### A bit of context:

Our unit tests contain *a lot* of code snippets. Because, in general, we don't compile that code, it's easy to write code that doesn't compile. That makes that our tests doesn't test what we want. To avoid this problem we compile all the snippets to ensure that they are valid.

Problem: This extra step consumes a lot of execution time making our tests even more slow.

Soluti

[2022-05-29 14:35] BraisGabin commented on #4862
That's not what the baseline does. It doesn't prevent an issue to be "auto-fixed". It only prevent detekt to fail when a known issue is found.

I imagine that all those issues that you talk about are realted with formatting (because that are the only rules that have the "auto-fix" feature. If that's correct I recommend you to don't use the `detekt-formatting` plugin and use `ktlint` directly. That

[2022-05-29 14:40] BraisGabin commented on #4860
This is not the first issue raisede because of this rule. I know that the first versions of Kotlin had this performance issue. But is this still an issue in new versions of Kotlin? If it is, when that performance impact happen exactly?

If there is proper documentation about this performance issue I think that we can fix it. But if there is not I would vote to remove it.

[2022-05-29 14:43] BraisGabin commented on #4859
So can we close this? Or is there something we should do here?

[2022-05-29 14:48] BraisGabin commented on #4854
And what android does is that it lints things like this: `TextView.setText("Hello world!")` but it's ok when doing something like this: `val hi = "Hello world!"`.

I don't see how to generalice a rule for any framework without having lots and lots of false positives. I insist that a detekt rule to enforce l10n is great, but I think that it can't be inside the default rule set.

[2022-05-29 14:52] BraisGabin commented on #4863
I would approve a PR adding `'**/*.kts'` to the `excludes` of `MagicNumber`. If you can't have constants we shouldn't enforce them.

[2022-05-29 19:21] cortinico commented on #4874
Follow up here: This is yet another thing than can be easily automated with Danger (see more on this here https://github.com/detekt/detekt/discussions/4696#discussioncomment-2619017).

Essentially, once the CI results are complete, this can be one of the message reports on the PR by danger. Something along the line of "hey the `compile-test-snippets` CI job failed. This is because bla bla bla. You

[2022-05-29 19:33] cortinico commented on #4863
Yup that's probably the safest approach for this 👍

[2022-05-29 19:37] cortinico commented on #4873
This would be the preferred solution from my point of view. It should be fairly straightforward to implement. I'm more concerned on what @BraisGabin raised: we should probably address the whole config management problem from a more holistic approach (i.e. maybe we need an external tool to handle upgrade/validation)

[2022-05-29 22:39] dzirbel commented on #4874
A near-ideal solution might be to have `compile-snippet-tests` be enabled by default when running a single test but not the entire test suite; that would make individual changes easier to test with minimal impact and wouldn't slowing down the entire build. I've never tried doing something quite like that, so I'm not sure if it's possible - but might be if we can access the JUnit filters at test ru

[2022-05-29 22:44] dzirbel commented on #4873
My 2c is that the current configuration management works well overall, and with the addition of exhaustive verification has been pretty much all I could ask for. I appreciate the simplicity of having it in a plain YAML file without external tools - would also be happy to try other high-level approaches, but I wouldn't want that to delay lower hanging fruit that we can more easily improve now.

[2022-05-30 09:52] BILLyTheLiTTle commented on #4862
Apart from the baseline file, when I run `detektCheck` without setting a `config.yml` file it detects 16914. When I run `detektCheck` with the generated config file from `detektGenerateConfig` it detects 4458 issues. It should detect the same amount of issues for the default config, shouldn't it?

[2022-05-30 10:12] BraisGabin commented on #4862
You are right. This is a side effect from this issue: #4812. It will be fixed in the next release.

[2022-05-30 11:08] BraisGabin commented on #4643
I'm changing my mind about enabling this rules:

- `UnusedImport`: I think that we should keep it disable for now because of #4689
- `NamedArguments`: I like this one but I think that it's controversial and it should raise a lot of issues.
- `UnnecessaryLet`: It's not ready.

[2022-05-30 11:46] Abhimanyu14 commented on #4859
Not sure if this is the right place.
But why does adding the line `detektPlugins("io.gitlab.arturbosch.detekt:detekt-formatting:$rootProject.detektFormattingVersion")` cause this issue?

If there is a better place to ask this question, please share where to ask.

[2022-05-30 12:18] BraisGabin commented on #4859
The `detektFormattingVersion` should be the same as the `detektVersion`. I think that's the issue.

To be clear, there is no need to have exactly the same but between 1.0.0 and 1.21.0 we had some breaking changes (I know, our semver is not "perfect").

[2022-05-30 16:35] Abhimanyu14 commented on #4859
I have both as `1.0.0`.
[code]

And this is in `dependencies` in the app `build.gradle`.

[code]

[2022-05-30 18:26] BraisGabin commented on #4859
Detekt compose is probably at 1.0.0 but formatting is at 1.20.0

[2022-05-31 08:12] Abhimanyu14 commented on #4859
Thank You @BraisGabin,
Updating `detektFormattingVersion = "1.20.0"` resolved the issue.

[2022-05-31 08:12] #4859 closed

[2022-05-31 12:12] BraisGabin opened #4878 "Give visibility to the third-party detekt plugins"
## Expected Behavior
As a user I want to know which detekt plugins are outthere available to use.

## Current Behavior
Good luck with your prefered search engine!

## Proposed Solution

Use github tags/topics. [This is an example](https://github.com/topics/detekt-rules).

I think that we should add a link like that in our main page and in our README and promote the usage of the that tag/topic.

Ab

[2022-05-31 13:38] gusega opened #4879 "UnusedPrivateMember rule gets triggered on a loop range"
## Observed Behavior

The following code:
[code]
triggers the following check:
Private property `i` is unused. [UnusedPrivateMember]

## Expected Behavior
As there is no way In kotlin to do a range loop without the variable, then such a code should cause the error being reported.

## Your Environment
* Detekt maven plugin version: 1.20.0
* Detekt version: 1.20.0

[2022-05-31 16:37] cortinico commented on #4878
That would be great. Ideally we could have a `.json` file inside the website used to render a page with a list of rules.

Using the `detekt-plugin` topic sounds like a good starting point till we come up with some good integration

[2022-05-31 21:18] cortinico commented on #4874
That's not really easy as, I suppose, you're running a single test inside the IDE. That's at least what I do. So you'll anyway have to instruct the user on how to configure the run config for that specific test

[2022-05-31 23:01] dzirbel commented on #4874
Yep, that's the same situation I'd like to catch; what I'd ideally like to see is a way to automatically capture the running test context and adjust the snippet compilation accordingly. It's not out of the question, for example:

[code]

I believe will be able to capture only test classes/methods run from the IDE (or from the CLI with some arcane configuration I can never remember). But of course

[2022-06-01 01:23] guycall opened #4883 "Detekt 1.20.0 fails on older Kotlin versions"
## Expected Behavior
I have a Spring Boot app, jvmTarget 11, Kotlin 1.5.32 and with Detekt 1.19.0. Running `./gradlew --debug detekt` works without problem. After upgrading to 1.20.0 I would expect it to continue to run.

## Observed Behavior
With version 1.20.0 I get the error:

[code]

I tried with various versions of Kotlin and only 1.6.20 and 1.6.21 worked:

1.5.31 -> Failed
1.5.32 -> Failed
1

[2022-06-01 02:29] manwinder123 opened #4885 "Lots of issues using CLI but no issues when using Jar"
## Expected Behavior
When I run `detekt` command in terminal it returns a bunch of issues, such as `ImplicitDefaultLocale` but when I am running `detekt` using the library `io.gitlab.arturbosch.detekt.api` I get 0 issues.

## Steps to Reproduce
Here is my `ProcessingSpec`:
[code]

I've modified the options a few times, providing a config yaml file as well, haven't seen any changes to issue output.

[2022-06-01 09:00] BraisGabin commented on #4838
Closed by #4855. Thanks!

[2022-06-01 09:00] #4838 closed

[2022-06-01 09:11] waliahimanshu opened #4887 "Caused by: java.lang.IllegalArgumentException: Error building function signature with range 414 - 211 for element: @JvmStatic @Parameterized.Parameters("
## Expected Behavior

Successfully analysis of test class with `@Parameterized.Parameters` with a large function returning a list of arrays of around 27 items

## Observed Behavior

[code]

## Steps to Reproduce

A parametrized test with a function having

[code]

## Context

## Your Environment

* Version of detekt used:
* Version of Gradle used (if applicable):
* Gradle scan link (add `--scan` o

[2022-06-01 13:21] cortinico commented on #4883
That's not the case.

We publish the list of versions we build against on this page:
https://detekt.dev/docs/introduction/compatibility

If you're diverging from those versions, things might not work properly. If you're using the Gradle Plugin, that's even more likely due to how Gradle embeds a Kotlin version in its runtime.

Moreover, this issue has been already discussed here:
https://github.com

[2022-06-01 13:21] #4883 closed

[2022-06-01 13:25] cortinico commented on #4874
That is doable I think, yet I think that modifying the env between running 1 or N tests is not the best practice. It might create frustrations during local development and generally confuse new contributors.

[2022-06-01 13:26] #4786 closed

[2022-06-01 16:55] #4866 closed

[2022-06-01 21:02] #4643 closed

[2022-06-02 12:18] #4780 closed

[2022-06-02 15:48] cortinico commented on #4860
I've briefly looked into this,

If this is the case, then this looks like a bug in the rule. Please provide a snippet of the reproducer. In general, you should not be flagged on usages of spread operator on varargs.

Any further reference would be helpful to know what's the current status. We might just deprecate the rule entirely if that's the case.

[2022-06-03 03:50] Abhimanyu14 commented on #4860
This is the code

[code]

The type signature of `transactions`
[code]

And the Detekt issue

Kindly check this public repo for more details - https://github.com/Abhimanyu14/finance-manager

[2022-06-03 08:55] cortinico commented on #4860
Thanks for the repro. Pinging @3flex as he originally wrote the rule. I'm unsure if your case is a false positive or not.

A test case for your scenario is:

[code]

if someone wants to pick this up 👍

[2022-06-03 15:51] VitalyVPinchuk commented on #4887
May I try to fix it?

[2022-06-03 21:06] cortinico commented on #4887
Yup I can assign this to you @VitalyVPinchuk 👍

[2022-06-04 07:12] dzirbel opened #4906 "HTML URLs broken for formatting rule set on website"
## Observed Behavior
At least for me, the ktlint URLs on https://detekt.dev/docs/rules/formatting/ are appearing as `<a href="https://ktlint.github.io">ktlint-website</a>`.

[2022-06-04 10:07] BraisGabin opened #4908 "Too many tests running"
## Expected Behavior
If I edit a file inside `:detekt-rules-style` only tasks inside that module should be recompiled

## Observed Behavior
https://ge.detekt.dev/s/3pohc2lk24wm4/timeline?outcome=SUCCESS

Test from other modules as `:detekt-core`, `:detekt-rules` or `:detekt-cli` are executed.

## Steps to Reproduce
- `./gradlew test`
- Modify any file inside `:detekt-rules-style`
- `./gradlew test

[2022-06-04 11:31] cortinico commented on #4906
Yup that's a bug. Fixed by #4911

[2022-06-04 11:32] BraisGabin commented on #3501
We should also add the option to add reasons in `ForbiddenSuppress` and `ForbiddenClassName`.

[2022-06-04 11:49] cortinico commented on #4908
IMHO That's correct, as a change in the `:detekt-rules-style` content is triggering a change in the test classpath of `:detekt-rules`. This also has a cascading effect on `:detekt-core` and `:detekt-cli`.

[2022-06-04 12:02] #4906 closed

[2022-06-04 12:23] BraisGabin commented on #4908
`:detekt-cli:test` is *really* slow. I'm running now the slowest ruleset because it's huge so `detekt-cli:test` is not in the critical path. But I imagine that for any other rule-set that could be the case.

A change in a rule shouldn't affect `:detekt-core`. But we are using `:detekt-rules` to have "sample" rules to test our own core... I imagine that's the price to pay to avoid lots of Fakes.

P

[2022-06-04 12:34] BraisGabin opened #4912 "Move all the `Processor`s out of the main repo."
We have a lot of `Processor`s:

- `KtFileCountProcessor`
- `PackageCountProcessor`
- `ClassCountProcessor`
- `FunctionCountProcessor`
- `PropertyCountProcessor`
- `ProjectComplexityProcessor`
- `ProjectCognitiveComplexityProcessor`
- `ProjectLLOCProcessor`
- `ProjectCLOCProcessor`
- `ProjectLOCProcessor`
- `ProjectSLOCProcessor`

And they are used to diplay in the html report and some console repo

[2022-06-04 12:51] BraisGabin commented on #4878
There are two issues with my proposal:

- Anyone can add `detekt-plugin` to it's repo. I'm not worried about this. Github knows how to order the different plugins and the stars will help a lot here.
- Github != Open Source. I mean, there are people out there using other platforms as Gitlab and I don't think that we should promote the usage of Github over any other alternative.

Event with this iss

[2022-06-04 12:55] hfhbd opened #4913 "JS - UnusedPrivateMember: unused parameter in constructor of external classes"
## Expected Behavior
No issue

## Observed Behavior
`untitled9/src/main/kotlin/Foo.kt:3:20: Private property `foo` is unused. [UnusedPrivateMember]`

## Steps to Reproduce
[code]

`./gradlew detekt`

## Context
I want to use an external class from a npm module.

## Tidbit
I added this test to `UnusedPrivateMemberSpec`, which does not trigger an issue. Maybe the issue is JS specific, and the test u

[2022-06-04 13:26] BraisGabin opened #4915 "Inline the last version of detekt in our code snippets on the web"
## Expected Behavior
The snippets on the web should be ready to copy-paste

## Observed Behavior

![Captura de pantalla 2022-06-04 a las 15 23 51](https://user-images.githubusercontent.com/721244/172001060-3127b4c1-5222-40d6-860c-c0cb3785f275.png)

They are not

## Steps to Reproduce
https://detekt.dev/docs/intro#quick-start-with-gradle

## Context
In the previous version of the web this worked. C

[2022-06-04 18:10] TWiStErRob opened #4916 "UnusedPrivateMember highlights KDoc, instead of member name."
## Steps to Reproduce
[code]

## Expected Behavior
Highlight focuses on `mockActivityManager`.

## Observed Behavior
Highlight focuses on `/**`.

## Context
Just forgot to call a function and got this:
![image](https://user-images.githubusercontent.com/2906988/172020023-2b0ba2e8-879c-4791-afa4-078a0d75247a.png)
had to open the file to see what I messed up.
I would imagine this also affects how bas

[2022-06-05 09:26] schalkms commented on #4912
I'm not in favor of scattering logic in multiple repositories.
It's true that those processors don't require much maintenance effort, though.

Furthermore, other rule packages, like for instance `detekt-rules-complexity`, depend on the `detekt-metrics` package. Thus `detekt-metrics` is required and not opt-in. Sure, one can refactor the package to only include necessary functionality. But what wou

[2022-06-05 09:35] BraisGabin commented on #4912
Reduce the number of processors and console reports dramatically from the default project. As an intermediate point we could keep them in the main repo but move them as a plugin. We could simplify the default configuration  from this:

[code]

to this:

[code]

[2022-06-05 13:11] Abhimanyu14 opened #4917 "False positive issue - MatchingDeclarationName in Jetpack Compose"
## Expected Behavior
If a have a top-level Composable which matches the name of the file, this issue should not be reported.

## Observed Behavior
If a have a top-level Composable which matches the name of the file, this issue is reported as Composables are not classes.

## Steps to Reproduce

**SettingsScreenView.kt**
[code]

## Context
Compose project give lot of false positives

## Your Environ

[2022-06-05 13:36] cortinico commented on #4913
I'm not sure what's going on here. I can clearly see that the rule has logic to handle `external` function:

https://github.com/detekt/detekt/blob/9146e4d1f65034e45edd017b8e2dc0d84062fc8f/detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt#L271-L273

The JS annotations are not relevant for the sake of this inspection.

Would you be fine adding this tes

[2022-06-05 13:38] hfhbd commented on #4913
Yes, I saw the logic too.

I simple added the test but this didn't work, the test succeeded. Don't know, what is wrong.

[2022-06-05 14:09] cortinico commented on #4913
It might be that you're not running with type resolution

[2022-06-05 14:12] hfhbd commented on #4913
Yeah, type resolution is only supported on the JVM, isn't it?

[2022-06-05 14:14] cortinico commented on #4917
The rule is triggered as you effectively have a top level class declaration:
`data class SettingsScreenViewData`

So the file should be called `SettingsScreenViewData.kt`.

If you move the data class to a separate file, then you won't be facing this report any more.

[2022-06-05 14:14] #4917 closed

[2022-06-05 14:15] cortinico commented on #4913
Yeah that's correct 🤔 Still this section on the rule should be fine with just syntax-level rule. It's still worth investigating what's going on.

[2022-06-05 15:26] TWiStErRob opened #4918 "False positive ExplicitCollectionElementAccessMethod on java.lang.reflect.Field.get"
## Expected Behavior
No `ExplicitCollectionElementAccessMethod`. There's no `operator get` on `Field`.

## Observed Behavior
[code]

## Steps to Reproduce
[code]

## Context
I'm enabling all the checks there exists in Detekt. And I noticed this false positive. I think it's a false positive because we shouldn't encourage `[]` notation on reflection classes as they're not collections. Reflection is

[2022-06-05 16:52] TWiStErRob commented on #4918
Side-track: the other way around it would make more sense. (As it is more natural indexed property access, which is chainable and more familiar to JavaScript and Groovy.)

Original code:
[code]

Detekt proposed code:
[code]

Desired code:
[code]

Which is achievable, but needs these two funs:
[code]

[2022-06-05 18:45] TWiStErRob opened #4919 "Sarif report missing endColumn/endLine"
## Steps to Reproduce

Make any rule fail which highlights specific parts of the code (e.g. class name).

## Observed Behavior
<details><summary>txt</summary>

[code]
</details>

<details><summary>html</summary>

[code]
![image](https://user-images.githubusercontent.com/2906988/172064997-62db86b7-50fe-4b9a-a79b-94e42e1f3f45.png)

</details>

<details><summary>xml</summary>

[code]

</details>

<de

[2022-06-05 19:06] TWiStErRob opened #4920 "Potential false positives on BooleanPropertyNaming with constants"
## Context
BooleanPropertyNaming considers naming of properties, while technically these `const val`s are properties, they also have a different naming convention and I have a feeling they rarely start with `IS_` prefix.

## Expected Behavior of the rule
I propose to exclude `const` from this check fully.

[code]

[2022-06-05 19:26] TWiStErRob opened #4921 "FunctionMaxLength reports long test functions"
## Current Behavior
This is flagged
[code]

## Expected Behavior
Not flagged, and I shouldn't have to configure this as this will be an issue in all projects out there. or 80/20 if there are some places where long test names are discouraged.

## Context
Following up on https://github.com/detekt/detekt/issues/2745, how about by default ignoring on Test annotations?
[code]

Note that this would be m

[2022-06-05 19:27] TWiStErRob commented on #4921
Note: alternatively maybe allow somehow to specify different length restriction for tests.

[2022-06-05 21:06] cortinico commented on #4921
I had a similar scenario for this rule in one of my project.
I think it's safe to exclude this rule for tests using the `exclude:` field as we do for other rules as well.

[2022-06-05 21:07] cortinico commented on #4920
Yup that's legit from my point of view 👍

[2022-06-05 21:47] TWiStErRob commented on #4921
Since we have a more surgical way of suppressing now, why would we go for the blanket ignore?

[2022-06-06 08:24] cortinico commented on #4921
Because is more consistent with the rest of the rules we already support.

[2022-06-06 08:56] TWiStErRob commented on #4921
https://github.com/detekt/detekt/discussions/4924

[2022-06-06 19:48] TWiStErRob commented on #4843
I don't think there would be divergence, it would always register on root, simple "rule".
If you apply to root or not it would still execute the same code: `project.rootProject.tasks.maybeRegister`.
If you do `allprojects { apply(plugin = "detekt") }` you still get it only on root project.
If you only apply it on the app module, you still get it on root project.

Are you thinking of perception per

[2022-06-06 21:55] TWiStErRob opened #4925 "Dump current configuration"
## Expected Behavior
A CLI-supported way to dump configuration that leaks into Gradle Plugin.
Similar to how [ProGuard -printconfiguration](https://www.guardsquare.com/manual/configuration/usage#printconfiguration) (scroll up a bit after opening) works.
I would expect it to also print all extra rules' configuration which are available on the classpath (e.g. ktlint formatting or custom ones in the

[2022-06-06 22:00] TWiStErRob opened #4926 "allRules = true has no effect when buildUponDefaultConfig = true"
## Expected Behavior
One of:
 * `allRules` enables all rules on top of using the default config (which seems to be the code (`AllRulesConfig`) anyway.
 * A build failure is triggered because the CLI throws an exception that conflicting flags were passed in.

## Observed Behavior
When configuring `DetektExtension`
[code]
bahaves the same as
[code]

## Steps to Reproduce
Will produce if necessary.

[2022-06-06 22:23] TWiStErRob opened #4927 "FindingsReport outputs strange character with MaxLineLength"
## Observed Behavior
[code]

## Expected Behavior
[code]
or
[code]

## Steps to Reproduce
Use `FindingsReport` or `FileBasedFindingsReport`;

it does NOT repro with `LiteFindingsReport`:
[code]

Note sure if this part is relevant, but:
[code]
[code]

## Context
Just configuring Detekt, and notice something was off.

Note: I tried to prove it was ASCII character 120, but changing to
[code]
didn't y

[2022-06-07 00:59] sjjctl opened #4929 "[CLI] Formatting plugin does not work with `--config` and `--auto-correct` flags"
## Behavior

The following command should print off this warning,
which is associated with the formatting, and also
actually apply the formatting changes. It does not.

You have to call it _without_ the `-c` flag for that.

`java -jar $DETEKT_CLI --parallel -c .detekt.yml --auto-correct --plugins $DETEKT_FMT`

[code]

## Steps to Reproduce

Have some code that needs to be formatted.

Do a `git dif

[2022-06-07 08:43] TWiStErRob opened #4930 "Allow to suppress properties same as functions"
## Context
I'm trying to configure Detekt using suppressors to allow `lateinit` for only specific names.
For example in all my tests, I use `private lateinit var sut: SystemUnderTest`, so I would like to allow `lateinit` usage on this specific name: `sut`.

## Current Behavior
I tried the following
[code]
but it didn't work.

## Expected Behavior
A way to do this.

---

Note: next step I would lik

[2022-06-07 08:49] alyssa-glean commented on #4388
Not sure what the etiquette is for closed issues, but I wanted to add some support for this. The `UnnecessaryLet` rule seems helpful and did flag some simplifications for us, but it also flagged up chaining scenarios that we would want to keep as they are. Ultimately, we've disabled it for now to avoid having to scatter annotations everywhere this happens.

Here is one of our examples, where there

[2022-06-07 11:33] cortinico commented on #4930
I feel like that this has to be a specific configuration of the rule rather than a generic suppressor 🤔

[2022-06-07 11:42] cortinico commented on #4843
A couple of problems that comes to my mind are:
* `detektGenerateConfig` needs to load the `detektPlugin`. If we register it only on the rootProject, you might effectively lose some `detektPlugin` dependency.
* It feels unaligned to register only a `detektGenerateConfig` task on the root project and not other top level tasks like `detektAll` or so.

[2022-06-07 11:49] TWiStErRob commented on #4843
🤔 Why does it need the plugin applied? Isn't it reading from the classpath of the build?

[2022-06-07 11:49] TWiStErRob commented on #4843
An alternative solution is to create a separate plugin to be applied on root. As you mentioned it seems there might be other tasks/things that could be hosted in there.

[2022-06-07 11:49] TWiStErRob commented on #4843
Yet another alternative, circling back to https://github.com/detekt/detekt/issues/4843#issuecomment-1132248171:
 1. make the task idempotent. if the file is already there, verify the contents would be the same as the one that was about to be copied, if this is true, silently pass (the end result is achieved).
 2. maybe ensure that no 2 tasks of this type can be executed in parallel using a build s

[2022-06-07 11:54] TWiStErRob commented on #4930
This is just a specific example, in general treating `fun`s and `val`s the same level is necessary as they're capable of the same things (wrt to scoping).

There are a lot of rules (in performance, potential-bugs, style) that would benefit from being able to be suppressed by project specific naming.

[2022-06-07 14:08] sjjctl commented on #4929
Yes, the name is intentional.

The config is practically the default with a few modifications, we have not prettified it. So you can do a `diff --color` with the default generated.

[detekt.txt](https://github.com/detekt/detekt/files/8853897/detekt.txt)

[2022-06-07 17:44] cortinico commented on #4929
Can you try again by including this https://github.com/detekt/detekt/blob/main/detekt-formatting/src/main/resources/config/config.yml in your final config.yml?

[2022-06-07 17:56] sjjctl commented on #4929
Yes, i just pasted them at the bottom.

Everything works now.

I'm not sure what this means in terms of the default config and your documentation. But that solved it for me.

I have some more questions about improving the formatting to be more aggressive, like IDEA. I'll try to get some notes together for a new issue.

I was also thinking the default config should, if it's okay to update it, be ei

[2022-06-07 18:07] cortinico commented on #4929
Closing as it's solved.

How have you generated the config?

We generate the config on the fly, so if it's not yamllint complient, we shoudl update the generator to produce valid output (i.e. yes tha'ts a bug).

[2022-06-07 18:07] #4929 closed

[2022-06-07 18:16] sjjctl commented on #4929
I just used `detekt-cli -gc` with 1.20.0. Afaik, it does not include formatting rules or that section out of the box.

[2022-06-07 18:39] BraisGabin commented on #4929
Out rules are just a wrapper around ktlint. If you want ktlint to be more "aggresive" you can open an issue there but I think that they are happy with their "agressiveness". I think that what you are looking for is [ktfmt](https://facebookincubator.github.io/ktfmt/).

[2022-06-07 19:09] BraisGabin commented on #4930
A property is like a function in a low-level. But we don't work at that low-level. `ignoreFunction`

I think that it's time for detekt to give the option to implement your own suppressors. I'm going to create an issue to track that.

Could you elaborate a bit more? I'm thinking about a suppressor that takes `Finding.entity.ktElement?.text` and looks for a match in a list of `String`s that you prov

[2022-06-07 19:12] BraisGabin opened #4932 "Be able to implement custom `Suppressor`s"
## Expected Behavior
Nearly all the parts of detekt are extensible by plugins. That's not the case for the suppressors. We introduced them some time ago and it's clear that they work well so there is no reason to make them extensible too.

## Context
They could help users like in this case: #4930

[2022-06-07 19:14] #4916 closed

[2022-06-07 19:19] VitalyVPinchuk commented on #4887
Sorry @waliahimanshu I can't make it fail.
No matter how many items are there I always get
`Test.kt$Test.Companion$@JvmStatic @Parameterized.Parameters( name = "{index}-Case-subscriptionSource-{0}-featureToggles-{1}-expectedHighlightFeature-{2}-expectedShowcaseFeatureList-{3}" ) fun data()`

Could you please provide full listing of your test class? Probably, the problem is somewhere else.

[2022-06-07 19:33] BraisGabin commented on #4843
The first point wouldn't help. This is a race condition, multiple tasks check that the file doesn't exist so all of them try to write it and 💥.

The second sounds nice. I mean, all those tasks share the same output, maybe there's a way on detekt to just execute one of them.

[2022-06-07 22:55] TWiStErRob commented on #4843
1 + 2 have to be together, sorry that wasn't clear. Do you know about Gradle build services?

[2022-06-08 08:24] TWiStErRob commented on #4930
Yes, I know, the reason I opened this PR is because we don't need to work on that low level, we need a way to treat properties on the same high level as functions. Their PSI is different and therefore function suppressor misses them. To draw a parallel: this lack of support feels like supporting class names in a rule, but not interfaces.

Wait, am I missing something here? Is the current function

[2022-06-08 10:57] waliahimanshu commented on #4887
I created a gist here https://gist.github.com/waliahimanshu/d918a2ca42e210da4ed2c7b130766417
I included the enums used in the function in question. You might want to simulate code for the rest of the class.

[2022-06-08 12:06] VitalyVPinchuk commented on #4887
Thanks for sharing the code.
But it still doesn't fail for me.

This is what I do:
https://github.com/VitalyVPinchuk/detekt/pull/new/parameterized-test-fix

The output is this:
[code]
Probably @cortinico @BraisGabin might want to have a look

[2022-06-08 19:44] gouri-panda commented on #4932
@BraisGabin Can i work on this?

[2022-06-08 20:01] aknauf opened #4936 "Parameterize/inject config from gradle"
## Expected Behavior
I want to apply the same `detekt.yml` config file to all subprojects in my project, but update/override the parameters to the applied rules, on a per-module basis.

## Current Behavior
Currently, there seems to be no way to express in the config file that I want each subproject to have basically the same ruleset, but with some sub-project-specific parameters - such as `rootPac

[2022-06-08 20:32] aknauf commented on #4936
Ok, so I've realised that there is indeed a simpler fix.  I can have a config file in the root directory and then override it at the submodule level with a minimal config file. e.g.

 - `a/build.gradle.kts`
[code]

 - `/config/detekt/detekt.yml`
[code]
 - `a/config/detekt/detekt.yml`
[code]

 - `b/config/detekt/detekt.yml`
[code]

This solves the issue for me, so feel free to disregard. :-)

[2022-06-08 22:29] BraisGabin commented on #4932
Sure! Let me know if you need anything.

[2022-06-09 12:16] #4936 closed

[2022-06-09 16:27] BraisGabin commented on #4388
That have sense, sorry @mkrussel77, I think that I missundertood your issue in the frist place. Should it only be allowed when it is used with a reference method or if there is a lambda too? And how do we define "a chain"? And how much should be the default value?

This is the correct way to do it. Your comment is related with this so it's good to have the context

[2022-06-09 17:11] mkrussel77 commented on #4388
Ideally a lambda should be allowed also.  I guess a chain would be calling functions on return values directly without temporary variables.  I think a chain needs at least two calls, but the count should probably be configurable.

[2022-06-09 18:22] sjjctl commented on #4929
I would be in favor of adding a note to the `-gc` flag in output text for help. Once someone generates the config, they are unlikely to figure out on their own that the config generation was (or could be) influenced by plugins.

ktfmt looks promising. Unfortunately running it with the `--kotlinlang-style` results in a mass format. Our project uses Kotlin style guide (with a few tweaks in `.idea/co

[2022-06-09 21:46] TWiStErRob opened #4940 "Contradictory configuration of ForbiddenPublicDataClass"
## Context
This is more of a confusion than a bug, but it may be a bug. I was reading the default .yml and found what's in "observed". It looks like the rule is active, but it cannot run on any file?!

## Observed Behavior
[code]

## Expected Behavior
[code]
or
[code]

[2022-06-09 21:48] TWiStErRob commented on #4940
Oh, there's another two:
[code]

Starting to think this is intentional, just non-intuitive.

[2022-06-09 21:49] TWiStErRob commented on #4940
I'm configuring one of them to be active, but it looks very strange:
[code]

[2022-06-09 22:13] TWiStErRob opened #4941 "cleanDetekt* doesn't have the same hierarchy as detekt*"
## Context
I was trying running detekt locally to clean things up, I kept re-running "cleanly" to get a full picture on every execution in the console:
[code]
On one of the executions I noticed that if I don't re-execute detektTest, i.e.
[code]
I get stale data in the merged sarif.

Implementing this request would solve this issue, and reduce? other potential surprises related to this quirk.

## C

[2022-06-10 09:51] cortinico commented on #4941
What is the `cleanDetekt*` task and where is it defined? I don't think we own it

[2022-06-10 09:57] cortinico commented on #4940
I don't recall why we had this specific config. More on this here though: #3304 #3215

[2022-06-10 10:05] cortinico commented on #4843
Yes. But still, even if they don't run in parallel, they will produce output that will override each other.
If we want to evolve the current status for the sake of correctness, we should go with the rootProject solution you suggested and find a way to collect the `detektPlugins` dependencies.

[2022-06-10 16:37] WildOrangutan opened #4942 "NestedScopeFunctions: Nesting functions with `it` variable"
## Expected Behavior of the rule

Add option, to allow nesting scope functions, that have different scope variable name. For example:

[code]

Could be configurable with separate threshold maybe.

## Context

Even tough it's a bad practice to nest scope functions, I think that providing different scope variable name is less problematic. It's harder to get confused what scope-variable is called, if

[2022-06-10 17:38] TWiStErRob commented on #4940
I tried to read into those, but it's still unclear why it is set up this way. Won't `active: false` achieve the same thing? cc @BraisGabin

or is this maybe to be compatible with `allRules=true`? i.e. even that cannot turn it on for all users, because only a select few will care?

Is there a way to output some comments maybe on these into the default yml to clarify?

[2022-06-10 17:55] TWiStErRob commented on #4941
Every x task gets a cleanX equivalent by default.
Have a look at org.gradle.language.base.internal.plugins.CleanRule
https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:task_rules

[2022-06-10 17:56] TWiStErRob commented on #4941
Hmm, reading the code of CleanRule this is infeasible as the task is not created until right before it's executed.

[2022-06-10 17:56] #4941 closed

[2022-06-10 18:03] TWiStErRob commented on #4843
Ah, I think I see your point, execution is not the only problem, Gradle would warn on overlapping outputs as well I think. It would be interesting to learn how to this properly as it seems to come up "often".

[2022-06-10 21:00] gouri-panda commented on #4920
May I try this?

[2022-06-10 21:29] BraisGabin commented on #4940
The reason behind this is that those rules are only useful for library developers. And we don't want them to be active even with `allRules`.

 Probably a library rule set will be desirable here and move them to a first party plugin so you need to opt in including that plugin.

[2022-06-10 21:38] TWiStErRob commented on #4940
Sounds like a good idea. I think I can see what's up now. Is there action to take in this issue?
Convert this a doc improvement or that "extract" task?

Here are a few things that could be done.
- [ ] documenting this "trick" with a comment in default.yml (which is read by all users, not just library authors)
- [ ] extending the docs on these 3 linking to some central "library author docs"?
- [ ]

[2022-06-11 00:40] oandrz opened #4944 "How to set classpath when run Detekt from CLI to use Type Resolution"
Hi I want to ask small question, how to set classpath when run Detekt from CLI to use Type Resolution ?

[2022-06-11 03:11] gouri-panda commented on #4860
@cortinico Can i take this?

[2022-06-11 03:19] gouri-panda commented on #4753
@BraisGabin May i take this?

[2022-06-11 07:56] BraisGabin commented on #4753
Go ahead

[2022-06-11 13:59] cortinico commented on #4940
This sounds like the best approach for me 👍

[2022-06-12 03:27] 3flex commented on #4860
The specific optimisation introduced in Kotlin 1.1.60 was to avoid an array copy specifically when using `*<array-constructor-fun>(...)`: https://youtrack.jetbrains.com/issue/KT-20462

It was quite specific in the optimisation that it introduced. It didn't avoid the array copy for every single use of the spread operator.

If there were further optimisations in the compiler since 1.1.60 I'm not awa

[2022-06-12 19:08] chao2zhang opened #4949 "Optimize test resource files while compatible with incremental build"
_Originally posted by @3flex in https://github.com/detekt/detekt/pull/4763#discussion_r895095251_

Instead of copying the test resources, we should find an implementation that
- Guarantees the readability/debuggability by showing what the test project looks like in a straightforward way (Programmatically write files is not straightforward)
- Isolated to avoid impacting incremental build checks
- O

[2022-06-13 00:33] cortinico commented on #4860
Thanks for the clarification @3flex. I'm not aware of any other optimization on the spread operator. Maybe @gouri-panda or someone else wants to investigate further?

Otherwise we can close this as "expected behavior"

[2022-06-13 03:24] gouri-panda commented on #4860
@cortinico Sure! I can investigate further :)

[2022-06-13 20:48] waliahimanshu commented on #4887
Hi @VitalyVPinchuk I tested your test class and it turns out the `comment` in the functions breaks the `buildFunctionSignature` method not the long function.

If you test run the test by removing the comment, the test passes.

[code]

[2022-06-14 04:52] cortinico commented on #4920
Sure @gouri-panda, I've assigned this to you :+1:

[2022-06-14 08:56] raul19 opened #4952 "ComposableEventParameterNaming false positive"
## Expected Behavior

I have a Composable function that receive an extension of LazyListScope lambda as content, these lambda cannot be @Composable because LazyColumn requires that it isn't.

The false positive is that detekt says that the name of the parameter should be like "onClick".

For example, I have a scaffold like:

[code]

## Observed Behavior

Detekt says that the content parameter shou

[2022-06-14 09:06] raul19 opened #4953 "Compose ReusedModifierInstance false positive"
## Expected Behavior

I have a @Composable that receives a modifier, and the first child is ProvideWindowInsets that has no modifier parameter, and I put the received modifier on the first child of ProvideWindowInsets, then Detekt says that the received modifier instance should be passed only to de first child.

Here is an example:

[code]

## Observed Behavior

Detekt says that the received modif

[2022-06-14 11:45] #4952 closed

[2022-06-14 16:24] BraisGabin commented on #4753
I'm fine with or without configuration. I suppose that in that case without is better because it keeps the api cleaner but that's your call. I think that no one here have a hard opinion about this topic.

[2022-06-14 18:06] TWiStErRob commented on #4753
Ask yourself if there's a possibility for the case you're flagging. It it possible to get code that passes/fails the rule? And are both of them valid engineering choices? (i.e. due to decisions on preferences or restricted by constraints)

[2022-06-14 19:19] eygraber opened #4955 "Lots of UnusedImports false positives in 1.21.0-RC1 with type resolution"
Updating from 1.20.0 to 1.21.0-RC1, if I run `gradle detektRelease` I get a bunch of `UnusedImports` false positives.

There's seemingly no commonality between the false positives; some of them are inline functions, some are generic functions, some are interfaces, etc...

[2022-06-14 20:13] cortinico commented on #4955
Can you provide a reproducer?

[2022-06-14 20:43] Pabloku opened #4957 "Detekt in Android project: How can I enable it for xml layout files?"
### Discussed in https://github.com/detekt/detekt/discussions/4956

<div type='discussions-op-text'>

<sup>Originally posted by **Pabloku** June 14, 2022</sup>
Hi!

I'd like to create a custom rule to check that every activity layout xml file has a property defined in its parent container. To be able to do that, first I need Detekt to be run over src/main/res/layout/*.xml files. I tried using setS

[2022-06-14 20:43] eygraber commented on #4955
I can't share with this specific project, so I'll try some of my public ones.

[2022-06-15 06:49] 3flex commented on #4957
Asked and answered in #4956

[2022-06-15 06:49] #4957 closed

[2022-06-15 07:34] #4817 closed

[2022-06-15 17:22] eygraber commented on #4955
I haven't been able to repro in other projects. I'll see if I can get a shareable subset of my main project to repro.

[2022-06-16 00:27] eygraber commented on #4677
Looks like 1.21.0-RC1 resolved this

[2022-06-16 00:28] eygraber commented on #4955
It looks like the issue was gradle build/configuration cache related. Building without them fixed the issue.

[2022-06-16 00:28] #4955 closed

[2022-06-16 02:13] #4617 closed

[2022-06-16 16:29] cortinico commented on #4677
Closing as per this 👍 We can close if this is not the case anymore

[2022-06-16 21:13] fpsulli3 opened #4962 "detekt-formatting ignores .editorconfig"
## Expected Behavior

detekt-formatting should respect the same `.editorconfig` properties that [ktlint does](https://github.com/pinterest/ktlint#editorconfig). For example, if the `.editorconfig` for a project specifies `disabled_rules=no-wildcard-imports`, then a wildcard import should not cause a detekt-formatting error.

## Observed Behavior

detekt-formatting does not respect the `.editorconf

[2022-06-16 21:53] cortinico commented on #4962
Sadly, we don't support this, and I don't think we should.

`detekt-formatting` is just a convenience wrapper around KtLint. The configuration needs to happen inside the Detekt Config file. I don't think we're going to implement a parser for `.editorconfig` at this stage.

[2022-06-16 21:54] fpsulli3 commented on #4962
That's fair, but KtLint itself parses the editorconfig. Shouldn't detekt-formatting support everything that KtLint does?

[2022-06-17 01:01] 3flex opened #4963 "Enable Gradle's STABLE_CONFIGURATION_CACHE flag"
Blocked until Gradle 7.6 is released.

## Expected Behavior
This will assist in migration to Gradle 8 where the configuration cache is expected to be stable.

## Current Behavior
Can't enable this flag yet. The flag is being added in Gradle 7.5 but there are changes required before the build scan plugin becomes properly compatible, and these changes are targeted for Gradle 7.6.

## Context
Enablin

[2022-06-17 02:25] cortinico commented on #4962
It supports all the Ktlint rules by creating wrapping rules on top of them. We support all the ktlint features. For instance, ktlint has a `installGitPreCommitHook` which we don't support.
The `.editorconfig` parsing is one of those feature.

[2022-06-17 02:56] fpsulli3 commented on #4962
Ok gotcha, makes sense.

[2022-06-17 04:06] 3flex commented on #4927
Thanks for the hint about which reporters are causing this - the two affected reports use this function which attempts to render in yellow (line 37):
https://github.com/detekt/detekt/blob/e8e1f35dfc303858651571624baa6df22ae0f8dc/detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt#L26-L45

Which terminal are you using? Does it have color support?

[2022-06-17 04:43] 3flex commented on #4860
I'm going to close this for now as there's no current action to take.

If there are any more recent compiler optimisations identified that need to be taken into account please either create a new issue, or respond to this issue and we can reopen, thanks!

[2022-06-17 04:43] #4860 closed

[2022-06-17 16:21] TWiStErRob commented on #4927
and yes it does
![image](https://user-images.githubusercontent.com/2906988/174337922-bc24139e-b07e-4e37-98d3-49fa7cd373de.png)

[2022-06-18 05:15] 3flex opened #4967 "Support markdown report in Gradle plugin"
## Expected Behavior
I can generate markdown output from the Gradle plugin (see #4858)

## Current Behavior
Support not yet added.

## Context
Built-in reports should all be easily enabled & configurable in Gradle.

[2022-06-18 13:03] 3flex commented on #4927
Thanks - colorization was a red herring, it's actually a text encoding problem. detekt assumes the terminal supports Unicode, but Windows uses windows-1252 output encoding by default, including in PowerShell. I've opened a PR to fix.

[2022-06-18 13:55] 3flex commented on #4918
This rule used to ignore the case you've described, but the behaviour was changed in https://github.com/detekt/detekt/pull/4201.

cc @Whathecode @cortinico @BraisGabin who authored & reviewed that PR.

[2022-06-18 17:53] Whathecode commented on #4918
It's a bit unclear why you consider this a bug (using an index accessor works, right?), but I may not understand the specifics.

However, I guess the rule configuration can be extended to include configurable exceptions. Whether this specific case should be a default exception can be discussed.

[2022-06-18 20:44] TWiStErRob commented on #4918
@Whathecode I think it's two things:
 * A reflective field retrieval is in no way a "collection element access" :), so it's a false positive detection for the intention of the rule.
   (Unless maybe you consider the JavaScript interpretation that object and `Map` is the same thing.)
 * java.lang.reflect.Field was not designed as a Kotlin API, it has no `operator get`, it just happens to have a `ge

[2022-06-19 00:07] #4927 closed

[2022-06-19 16:44] chao2zhang opened #4973 "Deprecate Detekt's rules around when expression because compiler fails by default"
_Originally posted by @BraisGabin in https://github.com/detekt/detekt/pull/4821#pullrequestreview-1003604675_
- DuplicateCaseInWhenExpression
- ElseCaseInsteadOfExhaustiveWhen
- MissingWhenCase
- RedundantElseInWhen

[2022-06-19 17:42] waliahimanshu commented on #3805
Hi, can you explain what you mean by the above? Can we exclude `setters` from the config file ?

[2022-06-20 05:53] dzirbel commented on #4942
Is this a case of [`NoNameShadowing`](https://detekt.dev/docs/rules/naming#nonameshadowing)? I don't follow exactly what you're looking for (is the sample code snippet something you want to encourage or discourage?) but I would think that code like

[code]

should be warned for by `NoNameShadowing`.

[2022-06-20 08:42] WildOrangutan commented on #4942
No, just an extension for a rule, that was recently added #4780

[2022-06-20 23:15] 3flex commented on #4908
Does our GE instance give us access to Predictive Test Selection?

https://gradle.com/gradle-enterprise-solutions/predictive-test-selection/

It sounds promising.

[2022-06-21 04:53] 3flex commented on #4940
Agreed. It's confusing that "allRules" doesn't in effect actually enable all rules. It technically does, but the default excludes rule means those rules won't be applied, so it's as good as not enabling them.

One alternative to splitting into a new rule set is leaving it where it is and checking if explicit API mode is enabled for the sister compilation task. Requires #4465

[2022-06-21 07:48] TWiStErRob commented on #3554
Still an issue, we just ran out of CI space because of another report :) Still didn't get to use type resolution and per-module tasks, but I think this would be very useful when we do.

[2022-06-21 12:08] AndreasSevenich1800 opened #4983 "exception on detekt - build failed > checkCaseConversion (ImplicitDefaultLocale.kt)"
## Observed Behavior
detekt failed with exception

Analyzing C:\....\Metrics.kt led to an exception.
  Location: io.gitlab.arturbosch.detekt.rules.bugs.ImplicitDefaultLocale.checkCaseConversion(ImplicitDefaultLocale.kt:83)
  The original exception message was: org/jetbrains/kotlin/resolve/calls/util/CallUtilKt
  Running detekt '1.21.0-RC1' on Java '12.0.2+10' on OS 'Windows 10'

## Steps to Reprod

[2022-06-21 14:52] VitalyVPinchuk commented on #4767
It's unreproducible on the latest main.
Seems to be fixed.

[2022-06-21 16:55] BraisGabin commented on #4767
Closing then, thanks!

[2022-06-21 16:56] #4767 closed

[2022-06-21 23:21] scottkennedy opened #4988 "False Negative NullableToStringCall"
## Expected Behavior
After enabling `NullableToStringCall`, I expect it to work.

## Observed Behavior
If I create a file that has nothing other than the "non-compliant" section from https://github.com/detekt/detekt/blob/main/detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt

[code]

I expect errors.

However, all I get is:
[code]

If I add a pa

[2022-06-22 04:40] cortinico commented on #4647
I think we should close this as this is essentially a transient issue. Will be fixed by https://github.com/detekt/detekt/issues/4465

Moreover, this capability will rely on having Type Resolution enabled.

[2022-06-22 04:42] cortinico commented on #4988
Can you provide a Gradle Scan? Are you running with Type Resolution also?

[2022-06-22 05:03] cortinico commented on #4983
Could you re-run with `--stacktrace` and post the whole stacktrace?

[2022-06-22 05:06] cortinico commented on #4633
Adding an extra property that checks also for `protected` would be an easy addition here

[2022-06-22 05:08] cortinico commented on #4634
Closing as a solution was suggested. Feel free to re-open if you wish to discuss further @jakobulbrich

[2022-06-22 05:08] #4634 closed

[2022-06-22 05:13] cortinico commented on #4940
+1 on this. Though this will work only for users on Type Resolution

[2022-06-22 05:17] cortinico commented on #3805
This has been fixed in #3880. It's available since Detekt 1.18.0 + it now requires Type Resolution

[2022-06-22 05:18] cortinico commented on #4973
In generally I agree with those deprecation. Still users on older version of Kotlin, might still benefit from them.

[2022-06-22 06:44] AndreasSevenich1800 commented on #4983
Thanks for your response. Here comes the stacktrace.

[code]

[2022-06-22 07:03] VitalyVPinchuk commented on #4492
Hi!
Can I work on this?

[2022-06-22 16:02] BraisGabin commented on #4492
Please go ahead :)

[2022-06-22 16:07] BraisGabin commented on #4940
I use explicit APi on all my android modules. I don't like that `public` as the default visibility, for that reason I force myself to decide which is the visibility for each class/function/property

[2022-06-22 16:33] BraisGabin commented on #4908
I think so

[2022-06-22 17:13] BraisGabin commented on #4919
I think that the only one that should be fixed here is sarif. We are going to remove `txt` as it is a nearly useless report and now that we have markdown support it is even more useless.

[2022-06-22 19:13] scottkennedy commented on #4988
Ah, my bad, it was not running with type resolution.  It works great now, thanks.

[2022-06-22 19:13] #4988 closed

[2022-06-22 19:41] VitalyVPinchuk commented on #4492
Should `!is` in `if` / `when` statements also be reported?
e.g.
[code]

[2022-06-22 20:35] scottkennedy commented on #4918
I'm seeing a similar issue on ByteBuffer:
[code]

I do not think it makes sense to call `byteBuffer[destinationArray]` as a standalone call, but Detekt seems to want me to.

[2022-06-22 20:57] BraisGabin commented on #4918
With the `ByteArray` example I think that it is clear that we need to do something with this rule. The question is what we should do. I see different options:

- The name of the rule talks about collections. Maybe we could have a list of types that are collections and only force those. And let users to modify that list.
- A flag to ignore all the Java classes.
- A way to exclude some clssses/inter

[2022-06-22 21:39] notaLonelyDay opened #4991 "MagicStrings (hardcoded text)"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

It works like magic numbers, but for strings
## Context

For the same reasons we have magic numbers

[2022-06-22 22:30] #4862 closed

[2022-06-22 22:34] TWiStErRob commented on #4918
I agree with 2, with the addition that in Kotlin you can only expect `operator get` to use the indexing operator shorthand.

Essentially ignore anything that's a virtual inferred (don't remember the term) operator and only enforce where explicitly designed to do.

At this point the rule should be probably renamed to OperatorGetAsIndex rather than referring to collections.

[2022-06-23 02:43] cortinico commented on #4918
+1 for this.

[2022-06-23 02:44] cortinico commented on #4991
I don't know how to feel about this. Numbers doesn't necessary carry a meaning by itself, while strings might (i.e. their content is often self-explanatory).

[2022-06-23 02:47] cortinico commented on #4908
Yes it does 👍

[2022-06-23 02:50] cortinico commented on #4983
I think this is somehow a duplicate of https://github.com/detekt/detekt/issues/4228

Essentially there is a mismatch of the Kotlin Compiler version caused by some Gradle Plugin you're importing. The best would be if you could provide a reproducer of some sort.

Is this happening on earlier versions of detekt also?

[2022-06-23 03:04] 3flex commented on #4908
I'll close this then, and open a new issue to track enabling PTS.

[2022-06-23 03:04] #4908 closed

[2022-06-23 03:07] 3flex opened #4992 "Enable Predictive Test Selection"
## Expected Behavior
Fast builds & test execution.

## Current Behavior
All tests impacted directly or indirectly by any production code changes are always executed. See #4908 which describes some of the issues around this.

## Context
This should reduce CI times and improve developer experience. For more: https://gradle.com/gradle-enterprise-solutions/predictive-test-selection/

[2022-06-23 07:19] BraisGabin commented on #4705
@gunishmatta did you get any progress?

[2022-06-23 07:34] BraisGabin commented on #4705
And I have a question which should be the correct way to indent a multiline string:

[code]
or
[code]

If we go with the first one we need a configuration for the indentation size.

[2022-06-23 08:57] AndreasSevenich1800 commented on #4983
unfortunately it was actually a Kotlin version mismatch. After upgrading kotlin to version 1.7.0 it works fine.

many thanks for the support.

[2022-06-23 08:57] #4983 closed

[2022-06-23 11:17] notaLonelyDay commented on #4991
Maybe their content is, but sometimes extracting strings to variables helps reading and maintaining code

[2022-06-23 12:36] Whathecode commented on #4918
This [was what was there before the PR that caused the current bug](https://github.com/detekt/detekt/pull/4201/files#diff-5bda121d91535d7dfd4b0bbdba6e83c1c28fa764ec7a51f3d715654fe62ac8bdL37) provided a more general implementation. It would also undo the desired more general behavior: [the cases where custom indexed access operators are provided](https://github.com/detekt/detekt/pull/4201/files#dif

[2022-06-23 13:59] Whathecode commented on #3609
Possibly obsolete since the following PR was merged: https://github.com/detekt/detekt/pull/4201/

However, there are still things mentioned here (such as renaming the rule), which seem to be [reiterated in other open issues for this rule](https://github.com/detekt/detekt/issues/4918#issuecomment-1163715942).

[2022-06-23 19:37] marschwar commented on #4991
I agree with @cortinico. Unless there is a very kind of magic string that should always be extracted to a constant, I do not see much value in such a rule. Do you have anything specific in mind?

[2022-06-23 19:54] marschwar commented on #4705
Reading the [Coding Conventions](https://kotlinlang.org/docs/coding-conventions.html#strings), I interpret it to be the regular 4 space indent to the previous expression such as:

[code]

Unfortuately the `trimMargin` example seems to follow a slightly different rule.

[2022-06-24 05:20] BraisGabin commented on #4991
+1, magic number is the rule with more configurations on the project because it's really difficult to maintain because it have lots of false positives.

I can imagine a rule related with Android and some of their apis: `Bundle`, `SharedPreferences`... But I don't think that something like this should be in the default rule sets because they are framework specific.

[2022-06-24 09:29] VitalyVPinchuk commented on #4967
I'd like to work on this

[2022-06-24 11:41] Whathecode commented on #4918
While implementing a fix for this, I landed on ignoring java classes by default, but having an _opt-in_ mechanisms for known java collections.

[2022-06-24 15:11] BraisGabin commented on #4826
This was implemented so closing :)

[2022-06-24 15:12] #4826 closed

[2022-06-24 15:14] #4492 closed

[2022-06-25 01:21] cortinico commented on #4921
I think it still has value in the sense that it forces users to don't write method names that are too long and complicated (imho is a code smell in some form).

[2022-06-25 01:42] cortinico commented on #4915
I've looked into this and is not trivial. Opened an issue upstream here: https://github.com/facebook/docusaurus/issues/7681 Let's see how we can solve this

[2022-06-25 17:17] marschwar commented on #4942
While I think your are right about providing names explicitly make nesting scope function a bit better, I do not think we should add such a configuration option. This would essentially allow users to nest scope functions 5+ levels deep when they only define a name. This would defeat the purpose of this rule entirely.

[2022-06-25 17:37] WildOrangutan commented on #4942
Well, it's kind of already possible to do this by increasing the threshold.

Hm, maybe we should instead fix threshold for scopes like "apply" to fail at 2 and have only have "let" threshold configurable, but only if scope variable has been renamed.

[2022-06-25 18:30] BraisGabin commented on #4942
I don't think we want to do that. Nesting scope functions is bad, their own documentation say that.

[2022-06-26 13:16] marschwar commented on #4873
Would it help to have a gradle task that

* detects if there are rules missing
* adds all missing rules with their default active flags
* leaves all other rules untouched

I think this should be possible. In the future it may also be used to allow rule/config property renaming.

[2022-06-26 22:15] WildOrangutan commented on #4942
Documentation just says to avoid overusing them. Imho, what is considered overuse is debatable. It doesn't say you should never nest them.

[2022-06-27 01:26] dzirbel commented on #4873
That could work; the main use case I have is as part of a CI process that checks the configuration file is exhaustive - such a task which adds missing rules could pretty easily support that flow by checking whether the config file was modified. I'd probably lean towards having separate tasks, but I don't feel strongly.

[2022-06-27 05:54] shivangtripathii opened #4999 "NamedArguments: Exclude Lambdas"
The rule or changes you're looking for might have already been suggested!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior of the rule

When I configure the rule `NamedArguments` with threshold: 1 I start getting warnings for lambda functions as well
`Named arguments are required for function invocation with many parameters.`

[2022-06-27 05:56] marschwar commented on #4942
You are totally right. I still do not know what this flag should accomplish. If you do not rename `it` in the scope, the `NoNameShadowing` rule will flag this. Therefore this rule will assume that the scope variables are properly named. If you believe that nesting scope functions is not that bad, you can increase the allowed depth or disable the rules entirely.

[2022-06-27 06:37] marschwar commented on #4999
I agree, that this does not feel right. But it may not be as easy as that. Consider a function that takes multiple lambdas as arguments. In such a case I want (most likely) all of them to named.

[code]

I think the rule should exclude a single trailing lambda from counting towards the threshold.
I vote to change the rule without an additional config parameter.

[2022-06-27 09:54] BraisGabin commented on #4999
We could have a new rule to avoid trailing lambda notation in cases that there are multiple lambdas at the end... But for this rule I agree that the trailing lambda shouldn't count towards the threshold.

[2022-06-27 10:06] BraisGabin commented on #4942
From the documentation:

So I'm closing this, the alternatives noted by @chao2zhang feel on point to me.

[2022-06-27 10:06] #4942 closed

[2022-06-27 10:14] BraisGabin commented on #4652
Closing as this was already addressed.

[2022-06-27 10:14] #4652 closed

[2022-06-27 12:52] #4887 closed

[2022-06-27 12:54] BraisGabin commented on #4991
I'm closing this as it seems that we don't want a rule like this inside the main rule set. Remember that you always can write this rule for yourself or, even better"open source it so anyone could use it too.

[2022-06-27 12:54] #4991 closed

[2022-06-27 14:20] VitalyVPinchuk commented on #4919
Hello
I'd like to work on this

[2022-06-28 09:43] #4999 closed

[2022-06-28 09:45] BraisGabin commented on #4919
Go for it

[2022-06-28 19:01] amitdash291 commented on #4920
As there is no recent activity on this, I am taking this up.

[2022-06-29 11:23] lakshmi-udaan commented on #4216
Hi @fluxxion82, I'm facing a similar issue as specified by you. Can you help me with the steps you followed to resolve it?
### My Environment
detekt-cli : v1.20.0
Multi module maven project

[2022-06-29 19:02] #4920 closed

[2022-06-29 20:58] TWiStErRob commented on #4920
Thank you @amitdash291 !

[2022-06-29 22:38] fluxxion82 commented on #4216
hey @lakshmi-udaan I can try to help but I don't recall exactly what all I did to resolve this. I guess you could start by telling me more about the situation? I guess per my previous comments, double check your config file.

[2022-06-30 08:45] NickButcher1 opened #5014 "MaxChainedCallsOnSameLine fails on import statements."
## Expected Behavior
detekt should not report any errors.

## Observed Behavior
detekt reports the following for every import statement with 6 or more dots.
MaxChainedCallsOnSameLine - [6 chained calls on a single line; more than 5 calls should be wrapped to a new l(...)] at

## Steps to Reproduce
Update from 1.21.0-RC1 to 1.21.0-RC2 and add this config
  MaxChainedCallsOnSameLine:
    active: tru

[2022-06-30 10:36] BraisGabin commented on #5014
@dzirbel could you check this?

[2022-06-30 11:25] pinguinjkeke opened #5015 "ForbiddenMethodCall with Kotlin getters as property"
## Expected Behavior
Assume we have:
Java class:
[code]
Detekt configuration:
[code]
Somewhere in Kotlin:
[code]

## Observed Behavior
Kotlin property-getter not caught by Detekt

## Your Environment

* Version of detekt used: 1.20.0
* Operating System and version: Mac OS, Linux

[2022-06-30 13:39] jlengrand commented on #4839
Hey, I've done this, can you please confirm / infirm whether this is what is expected ?

https://github.com/detekt/detekt/pull/5017

<img width="984" alt="image" src="https://user-images.githubusercontent.com/921666/176691874-e4a9df69-1a90-4084-9e4e-ae57dffdccf9.png">

[2022-06-30 13:44] jlengrand commented on #4615
Is this issue still relevant? Given the MR referenced here has been merged to main?

[2022-06-30 20:16] dzirbel commented on #5014
Thanks for the report - this is definitely an issue (along with `package` directives) which should be easy enough to fix in #5020.

[2022-06-30 21:30] #4839 closed

[2022-06-30 21:48] eygraber opened #5021 "NoSuchMethodError when running detekt 1.21.0-RC2 with type resolution and Kotlin 1.7.0"
This happens on RC1 as well. It is an Android project.

The cause is:

[code]

<details>
<summary>Full stacktrace</summary>
<pre>
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':kotlin:detektDevRelease'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.lambda$executeIfValid$1(ExecuteActionsTaskExecuter.java:142)
        at org.gradle.internal.T

[2022-07-01 06:28] 3flex commented on #5021
Can you share your project? If not, do you have a reproducer? If not, can you share a build scan? If not, can you run a Gradle dependencies report for the project that has the failing task?

We'll need more than just a stack trace, it doesn't provide enough information to help unfortunately when the error is coming from the Kotlin compiler itself as it is here.

[2022-07-01 06:29] 3flex commented on #4967
Closed by #4995

[2022-07-01 06:29] #4967 closed

[2022-07-01 08:12] 3flex opened #5022 "Update ktlint to 0.46.1"
## Expected Behavior
Dependencies are kept up to date.

## Current Behavior
We're on 0.45.2.

## Context
Latest update has breaking API changes which detekt must adapt to: https://github.com/pinterest/ktlint/releases/tag/0.46.0

[2022-07-01 08:18] BraisGabin commented on #4615
You are right! Thanks!

[2022-07-01 08:18] #4615 closed

[2022-07-01 08:44] pinguinjkeke commented on #5015
@schalkms yes, sure, it won't work with Java's method w/o type resolution.

[2022-07-01 09:19] schalkms commented on #5015
What exactly is the issue with the `ForbiddenMethodCall` rule then? A property call in Kotlin, even if a Java getter/setter method is being called, can't be detected by this rule. From Kotlin's point of view, it's still a property not a method call.
In any case, I'm not sure, why accessing a getter is considered *forbidden*.

[2022-07-01 10:02] pinguinjkeke commented on #5015
@schalkms we have a 3rd-party library with unstable method which usage we're trying to disallow.

Rule description says:
This rule allows to set a list of forbidden methods. This can be used to discourage the use of unstable, experimental or deprecated methods, **especially for methods imported from external libraries**. Detekt will then report all method invocations that are forbidden.

[2022-07-01 17:24] mjsztainbok opened #5024 "The Detekt rule documentation should include in which version a rule was added"
Your feature request may already be reported!
Please search in the [issues](https://github.com/detekt/detekt/issues) before creating a new one.

## Expected Behavior

Rules state which version a rule was added (or the documentation alters depending on which version is selected. A good example of this is the [Jest documentation](https://jestjs.io/docs/api)

## Current Behavior

There is a single li

[2022-07-01 18:31] chao2zhang opened #5025 "Add ending line and column to `Location.kt`"
External tooling, such SARIF or IDE may need ending lines and columns, in addition to the `SourceLocation`. They should be provided in `:detekt-api`.

_Originally posted by @BraisGabin in https://github.com/detekt/detekt/pull/5011#discussion_r911449557_

[2022-07-01 20:28] schalkms commented on #5015
`ForbiddenProperty` sounds like a good idea.
For me, it's counterintuitive to have the `ForbiddenMethodCall` rule to flag a property.

[2022-07-01 21:43] #4919 closed

[2022-07-01 23:07] dzirbel opened #5028 "MaxChainedCallsOnSameLine reports fully-qualified class names"
## Expected Behavior
The `MaxChainedCallsOnSameLine` should probably ignore fully-qualified class names (like this [example](https://github.com/detekt/detekt/blob/ddcf77d9d4651bd117ff622180312141f900ac23/detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt#L92) from detekt's codebase). These call chains are somewhat different in nature from its intended purpos

[2022-07-02 18:40] BraisGabin commented on #5028
I know that rules that doesn't need type solving are better than those others than need it. But I think that it's even more important to don't have false positives. Those positives undermine the confident on detekt so we should fix them, even if they make the rule more complex.

[2022-07-02 18:43] BraisGabin commented on #5015
I'm not sure about that... You are forbidding the usage of a Java method. If we create a new rule for this you should forbid that method in two different rules.

[2022-07-02 19:03] VitalyVPinchuk commented on #5025
Hello!
May I work on this?

[2022-07-02 22:28] sanyarnd opened #5030 "NestedBlockDepth and functions like 'use'"
Imagine the following code:
[code]

`NestedBlockDepth` is naturally violated here, but there's no way to rewrite this code.
The only way to bypass it is suppression (and I don't like it) or setting threshold higher (it is equivalent to disabling the check).

I think this check needs something `ComplexMethod` has, like `ignoreNestingFunctions`.

[2022-07-02 23:33] 3flex commented on #5025
Thanks @VitalyVPinchuk, of course you can!

[2022-07-03 03:36] eygraber commented on #5021
I can't do any of those things for this particular project. I can try to make a repro project but @cortinico mentioned in the Kotlin Slack that Detekt doesn't support Kotlin 1.7 yet.

[2022-07-03 06:12] 3flex commented on #5021
detekt's dependencies should be isolated compared to the dependencies the project itself uses - so as long as the code in the project you're running detekt on can compile with Kotlin 1.6.21 as well, detekt should run successfully, as long as detekt's dependencies are correct.

Is there some reason you can't run `./gradlew :<project>:dependencies`? That doesn't expose any information about the proj

[2022-07-03 23:28] eygraber commented on #5021
I believe Gradle uses the same dependency that I specify for transitive dependencies. So if I use Kotlin 1.7.0, then it will use that for any transitive dependencies that use Kotlin as well:

[code]

[2022-07-04 04:26] dzirbel commented on #5028
Yeah, I agree this should be fixed even if it requires type resolution. I took a stab at it and couldn't figure out how to extract whether a qualified call was part of a class name from the `BindingContext`. In particular, when testing with `kotlin.collections.ArrayList` I couldn't see any indication of how to differentiate that from e.g. `foo.bar.ArrayList` where in package `foo.bar` we have `fun

[2022-07-04 09:52] kvn-stgl opened #5034 "Extend ReportMergeTask for md & HTML"
## Expected Behavior

I would like to use the Markdown Report (#4858) in projects with multiple modules.

For this, I would like to extend the ReportMergeTask to work also with markdown files. Sadly, this is kind of a problem: We can not simply parse the markdown reports because it's just text.

### Idea
An idea would be to implement a new output generator like `SerializedOutput` which just serial

[2022-07-04 11:31] 3flex commented on #5034
Related to #4827

[2022-07-04 12:48] pinguinjkeke commented on #5015
@BraisGabin that's right. We can change a behavior of `ForbiddenMethodCall` for `KProperty` that has `javaGetter` inside.

[2022-07-04 20:32] schalkms commented on #5030
Why not refactor this nested code into well-named functions to make it easier to understand? What's preventing you to do this?

By the way, the config option `ComplexMethod:nestingFunctions` actually counts the formalized McCabe complexity for scope functions. This is completely unrelated to the `NestedBlcokDepth` rule.

Do you know that you could write a [custom detekt rule](https://detekt.dev/do

[2022-07-04 23:53] sanyarnd commented on #5030
The code above is equivalent to
[code]

I don't think it needs to be rewritten, it's just a lack of such syntax in Kotlin that produces the nested `use` calls.

[2022-07-05 05:06] BraisGabin commented on #5034
Also related with #4289. If the Detekt task generates a single report or serializes the Detektion list this and other tasks would be more easy. Probably SARIF could be that base report.

The idea detekt-core > SARIF? > Reports (single, merged, baselines, etc)

This would work extremely well with gradle. But this is a huge refactor.

[2022-07-05 05:19] 3flex opened #5037 "Re-enable warnings as errors for the gradle plugin module"
## Expected Behavior
We don't allow any Kotlin compiler warnings for code in this project.

## Current Behavior
There's an exception for detekt-gradle-plugin, refer #3835 for more details.

## Context

[2022-07-05 05:23] 3flex commented on #5034
Yeah that's basically what JaCoCo does, as an example.

[2022-07-05 07:06] BILLyTheLiTTle opened #5038 "continuationIndentSize in formatting"
## Expected Behavior

Option `continuationIndentSize` is missing.

## Observed Behavior

In v.1.21.0-RC2 the `continuationIndentSize` under `formatting` is missing.

## Steps to Reproduce

Generate config with v.1.21.0-RC2 and search for `continuationIndentSize`.

## Context

I would like to configure `continuationIndentSize`.

## Your Environment

* Version of detekt used: 1.21.0-RC2
* Version of

[2022-07-05 07:07] BraisGabin commented on #5038
As far as I know that configuration doesn't exist on ktlint.

[2022-07-05 08:00] #5028 closed

[2022-07-05 09:13] cortinico commented on #5030
I agree with @sanyarnd I had to write this code a couple of times (It was anyway never more than 4/5 nested blocks, so that would be a good threshold imho).

We could look into ignoring blocks where the receiver is a `Closeable` to handle those scenarios.

[2022-07-05 09:15] cortinico commented on #5015
@pinguinjkeke Have you considered just forbidding the imports of such library?

My 2 cents here: this sounds like a use case for a third-party rule. It's still generic, so could be reused by others, but it's not really common to forbid a property so I'm unsure if we want to include this as well in the 1st party rules.

[2022-07-05 09:17] cortinico commented on #5021
As I mentioned on Slack, we haven't currently bumped Kotlin to 1.7 (see #4821) so that's the root cause of your problem. Are you using another Gradle Plugin which is pulling in Kotlin 1.7?

[2022-07-05 09:54] cortinico commented on #5038
Yup that property got removed inside KtLint and we deprecated it in 1.20: #4551

[2022-07-05 09:54] #5038 closed

[2022-07-05 10:03] pinguinjkeke commented on #5015
@cortinico no. The library contains a large god-class where we need to forbid some methods only. Occasionally, these methods names are starting with `get*`.

Let me tell you more about this method. Imagine a typical ORM that has a getter like: `getRelations()` which will N+1 load everything connected to an entity:
- These calls may affect performance
- We are not in the world where `get` prefix me

[2022-07-06 07:31] BraisGabin commented on #5030
Are those so many cases? An `@Suppress` wouldn't it be enough? You can always add a new function to "reset" the indentation. For me it is a bit strange to make `NestedBlockDepth` more complex. This open the door to add even more exceptions to that rule.

[2022-07-06 13:56] VitalyVPinchuk commented on #4520
May I try to apply a simple fix for the issue?
Or is it necessary to come up with a general solution (which I don't have obviously)?

[2022-07-06 15:25] BraisGabin commented on #4520
Go ahead!

[2022-07-06 15:59] JavierSegoviaCordoba opened #5041 "Aggregated Detekt reports"
Similar to how the new Test Report Aggregation Plugin, from Gradle, works, it should be great if Detekt could do the same for Detekt reports.

Info about  [The Test Report Aggregation Plugin](https://docs.gradle.org/current/userguide/test_report_aggregation_plugin.html)

[2022-07-06 16:38] JavierSegoviaCordoba commented on #5041
A sample project about merging artifacts

https://github.com/jjohannes/gradle-demos/tree/main/aggregated-javadoc

[2022-07-06 17:01] BraisGabin opened #5042 "[CascadingCallWrapping] False negative"
## Expected Behavior

[code]

Should raise an exception because `.bar2()` doesn't follow the chain correctly. Or this should be handled by a different rule? I'm not 100% sure about this.

## Observed Behavior
The rule doesn't complain about that code

## Context
I had some similar code some of them was raising this issue and some of them not. The reason was that this code raise an issue:

[code]

[2022-07-06 17:12] BraisGabin opened #5043 "[CascadingCallWrapping] Doesn't report the point of the failure"
## Expected Behavior
<img width="896" alt="Captura de pantalla 2022-07-06 a las 19 06 43" src="https://user-images.githubusercontent.com/721244/177605576-b57b0e95-b465-4754-93d1-1c305ac45c37.png">

## Observed Behavior
<img width="892" alt="Captura de pantalla 2022-07-06 a las 19 06 56" src="https://user-images.githubusercontent.com/721244/177605606-e9dca6ea-461c-447f-b6bf-dc5e086845af.png">

Two

[2022-07-06 17:17] #4918 closed

[2022-07-06 17:33] #3609 closed

[2022-07-06 19:08] cortinico commented on #5021
Agree as well. Still this puts pressure on our release schedule as we need to necessarily align to the Kotlin release schedule then

[2022-07-07 14:51] VitalyVPinchuk commented on #4457
Hey @BraisGabin I'd like to work on this but need more profound description and some guidelines if you don't mind.

[2022-07-07 17:19] scottkennedy commented on #4955
I'm seeing this too.  Is this not considered a Detekt bug?  Should it be disabled by default?

Otherwise, how can I disable it?

[2022-07-07 20:29] #5025 closed

[2022-07-08 02:55] 3flex opened #5049 "RFC: Enable Kotlin's new approach to incremental compilation"
## Expected Behavior
Kotlin's incremental compilation can be used alongside Gradle's build cache.

## Current Behavior
We use build cache, which disables Kotlin's incremental compilation. This is a problem in Kotlin 1.6.21 and earlier.

## Context
Kotlin 1.7 has [a new approach to incremental compilation﻿](https://kotlinlang.org/docs/whatsnew17.html#a-new-approach-to-incremental-compilation). [Ini

[2022-07-08 03:09] eygraber commented on #5021
[code]

[2022-07-08 03:16] 3flex commented on #5021
I'd hoped that would be more informative, but we only have "selected by rule" as the reason.

How do you apply the 1.7.0 version in your build script? Is it only the Kotlin JVM plugin? Or do you do something like this as well:
[code]

[2022-07-08 03:31] eygraber commented on #5021
Yup, that's it :see_no_evil:

And of course I don't have a comment reminding me why I did that 3 years ago...

[2022-07-08 03:49] eygraber commented on #5021
I'm assuming that I did that because I had some dependencies in the past that pinned a version of Kotlin that was causing issues. Doesn't seem to be the case anymore, but I'm still a bit hesitant to remove it.

[2022-07-08 03:54] 3flex commented on #5021
Are you applying it as a strict rule? Can you share the code block? We apply a strict dependency version but that shouldn't be overridden by a configuration override except when applying it strictly, so I want to know why #4822 didn't stop this happening.

And to stop it overriding detekt's configuration just change the line `configurations.all` to `configurations.matching { it.name != "detekt" }.

[2022-07-08 04:13] eygraber commented on #5021
[code]

I'll update it to exclude the `detekt` configuration.

[2022-07-08 07:06] BraisGabin commented on #5049
I agree. This doesn't affect our users.

[2022-07-08 07:10] BraisGabin commented on #4955
Which kotlin version are you using? This seems like an issue on kotlin/gradle that something related with detekt.

[2022-07-08 15:41] BraisGabin commented on #4457
@VitalyVPinchuk I just updated the issue to give a bit more of context.

To be honest I don't know exactly what should be done here. I imagine the tool as a `cli`. Something like:

`detekt-generator config path/to/rules >config.yml`
`detekt-generator documentation path/to/rules >documentation.md`

Or even two cli:

`detekt-config-generator path/to/rules >config.yml`
`detekt-documentation-generator

[2022-07-08 20:18] BraisGabin opened #5053 "`@Suppress` doesn't work with `StringTemplate` rule"
## Expected Behavior
If I annotate a class with `@Suppress("StringTemplate")` the rule `StringTemplate` doesn't raise any issue in that class.

## Observed Behavior
It does: https://github.com/detekt/detekt/runs/7255299587?check_suite_focus=true#step:4:540

## Steps to Reproduce
[code]

## Context
#5051

It works if I use `@file:Suppress("StringTemplate")`

## Your Environment
* Version of detekt

[2022-07-08 20:53] doug-turo opened #5054 "Links to ktlint website in detekt documentation are broken or unhelpful."
## Expected Behavior
https://detekt.dev/docs/rules/formatting/ explains what the out-of-the-box rules do.

## Observed Behavior
Every item at https://detekt.dev/docs/rules/formatting/ contains the line, "See ktlint-website for documentation.", with a link to https://ktlint.github.io.  But the ktlint website only contains examples of 10 rules, and does not tell you what the names of those rules are

[2022-07-08 22:35] BraisGabin commented on #4705
I'm working on:

But I have an idea for other rule. Forbid this type of things:

[code]

and

[code]

It should be:
[code]

In words: if the raw string is not a single line:
- After openingn `"""` there should be a `\n`
- Before the closing `"""` the line should only contain spaces (` `).

[2022-07-08 22:42] schalkms commented on #5054
I guess this should change as described in the initial post.
The readme is more up to date than the web site.

[2022-07-09 09:49] #5054 closed

[2022-07-09 16:16] BraisGabin commented on #4705
What do you think about a `raw-string` rule-set? I think that I can implement 5 or 6 rules related with raw-stings based just on this issue.

- Pro: This will group all the rules related with this topic and a user could disable all at once.
- Pro: less rules to "detekt-style"
- Con: We add a new rule set for a single language feature.

[2022-07-09 16:21] BraisGabin commented on #5053
Closing. I just remember that this is a known wont-fix

[2022-07-09 16:21] #5053 closed

[2022-07-09 16:25] BraisGabin opened #5060 "`MaxLineLength` and raw strings"
## Expected Behavior
[code]

## Observed Behavior
It does: https://github.com/detekt/detekt/pull/5059#discussion_r917284016

## Context
#5059

## Your Environment
* Version of detekt used: main / 1.21.0-RC2
* Gradle scan link: https://ge.detekt.dev/s/2lpijultktfe2

[2022-07-10 08:46] TWiStErRob commented on #5014
Sorry @BraisGabin, found it, didn't look deep enough 😅. I think this issue can be closed as the PR is merged.

[2022-07-10 08:58] BraisGabin commented on #5014
You are right! Thanks

[2022-07-10 08:58] #5014 closed

[2022-07-11 09:39] BraisGabin opened #5063 "`ReturnCount.excludedFunctions` should be a `List<String>` instead of a `String`"
## Expected Behavior
`ReturnCount.excludedFunctions` should be a `List<String>`

## Observed Behavior
It is a `String`.

## Context
#5062

## Your Environment
* Version of detekt used: main/1.21.0-RC2

[2022-07-11 21:20] TWiStErRob opened #5066 "Ability to use a locked snapshot version"
## Context
I was following https://detekt.dev/docs/introduction/snapshots/, kind of.

I went to https://oss.sonatype.org/content/repositories/snapshots/io/gitlab/arturbosch/detekt/detekt-gradle-plugin/main-SNAPSHOT/
to pick a version: latest one was `detekt-gradle-plugin-main-20220711.191117-720.pom`

[code]

and I got:
[code]

Then I went to
https://oss.sonatype.org/content/repositories/snapshots

[2022-07-11 21:26] TWiStErRob commented on #5066
I realized that for my current use case I can use `1.21.0-RC2` + `toolVersion = "main-20220711.191117-734"` because I only need the latest versions of the rules, not the gradle plugins.

BUT, while this actually executes, it's not fixing the version either:
`./gradlew :app:dependecies --configuration=detekt`
[code]

[2022-07-11 21:44] TWiStErRob commented on #5066
Workaround for the above (nothing is impossible 😅):
[code]

Note this is what the effect of using `toolVersion = "main-20220711.191117-734"` should be.

[2022-07-11 21:45] scottkennedy commented on #4955
Kotlin 1.6.0, Gradle 7.4.2.

[2022-07-12 12:08] pinguinjkeke commented on #5015
I think we can help with PR implementaion for this change but we need to know the way how to implement it:
- Modify `ForbiddenMethodCall`
- Create `ForbiddenProperty`

[2022-07-12 13:29] BraisGabin commented on #5015
I vote for modify `ForbiddenMethodCall`.

[2022-07-13 21:17] marschwar commented on #5063
Maybe it should be valueAndReason?

[2022-07-13 21:21] marschwar commented on #4692
I agree with @BraisGabin . If `it` is of type unit I think it should not raise an issue, but in any other case it should.

[2022-07-13 23:52] cortinico commented on #5015
Thanks for the clarification. It makes sense.

Updating `ForbiddenMethodCall` sounds like the best approach then.

Yup this goes hand in hand with the getter logic.

[2022-07-13 23:58] cortinico commented on #5066
I don't think that's doable, unless you pin all the dependencies how you're doing.

We're not publishing commitlies or nightlies for Detekt. We just keep on updating the -SNAPSHOT so you can always test the latest `main`.

I'm curious to hear what's your use case also.

[2022-07-14 00:04] cortinico commented on #4457
A Gradle Task would also work imho

[2022-07-14 12:25] BraisGabin commented on #5060
Go for it

[2022-07-15 04:51] SebRut opened #5077 "UselessCallOnNotNull false positive with listOfNotNull"
## Expected Behavior
Detekt should not report `UselessCallOnNotNull` on `listOfNotNull` in the code snippet in "Steps to Reproduce"

## Observed Behavior
Detekt reports `UselessCallOnNotNull` on the `listOfNotNull` in the snippet.

## Steps to Reproduce
[code]

## Context
We use detekt in multi-module android project and apply it using a `detektAll` task. Config is built upon default.

## Your Env

[2022-07-15 12:05] pinguinjkeke commented on #5015
I also discovered that the rule is not working with method references. Created a PR

[2022-07-15 18:00] gouri-panda commented on #5063
@BraisGabin Can I try this one :)

[2022-07-15 18:52] gouri-panda commented on #5042
@BraisGabin I can investigate this issue 👍

[2022-07-15 19:35] gouri-panda commented on #5042
[code]
@BraisGabin I guess  it doesn't raise an exception when the first operator in this  case `bar()` is not inlined a new line that's why it didn't raise an exception.
[code]
In the second case `bar()` aligned with a new line that's why it raises an exception in `bar2()`. I guess it's a bug. Should we raise an exception in the first case that `bar()` and `bar2()` should wrap to new lines?

[2022-07-15 20:27] gouri-panda commented on #4921
Should I work on this issue?

[2022-07-15 20:58] gouri-panda commented on #4640
@osipxd Are you planning on resuming your work?

[2022-07-16 09:52] cortinico commented on #4921
@gouri-panda I would suggest we solve this in this way. Opinions?

[2022-07-16 10:00] gouri-panda commented on #4921
@cortinico  ok 👍

[2022-07-16 12:34] TWiStErRob commented on #4921
Good enough, @cortinico 👍

[2022-07-17 23:11] chao2zhang commented on #4921
Closing as the current configs provide a decent way to address this.

[2022-07-17 23:11] #4921 closed

[2022-07-17 23:21] chao2zhang opened #5088 "`UseAnyOrNoneInsteadOfFind` seemingly false positive for nullable collections"
## Expected Behavior
[code]

should not raise violation for `UseAnyOrNoneInsteadOfFind`

## Observed Behavior
It does.

## Steps to Reproduce
See the code snippet

## Context
The default suggestion of replacing `find` with `any` does not work as intended.
1) We could change the return type from `Boolean` to `Boolean?`
2) We could change `find` with `any`, but still need to keep `!= null`

[code]

[2022-07-18 05:25] t-kameyama commented on #5088
I believe this case isn't false positive and should be replaced with `list?.any { it == 4 } == true`.

[2022-07-18 05:42] chao2zhang commented on #5088
I think it's just the logic behind `list?.any { it == 4 } == true` is simpler for me
- `list?.find { it == 4 } != null`, where `?.` and `!= null` both handles nullability / presence
- `list?.any { it == 4 } == true`, where `?.` handles nullability and  `==true` handles boolean
My brain needs extra effort in understanding the bottom option :( It's probably just me but I do see your point

[2022-07-18 08:03] marschwar commented on #5088
From a readability standpoint I prefer `list != null && list.any { it == 4 }`

[2022-07-18 09:33] javiyt opened #5091 "Could not resolve Kotlin Compiler Embeddable after upgrade to 1.21.0"
## Expected Behavior

After upgrade Detekt should work

## Observed Behavior

Error is thrown:
[code]

## Steps to Reproduce

* Upgrade detekt from 1.20.0 to 1.21.0
* Run detekt

## Context

Dependabot opened a PR in a project we have to upgrade detekt version from 1.20.0 to 1.21.0, we are using kotlin 1.7.10

## Your Environment

* Version of detekt used: 1.21.0
* Version of Gradle used (if appli

[2022-07-18 10:06] 3flex commented on #5091
I can't confirm without your build files but this is almost certainly happening because kotlin-bom enforced platform is being applied to all configurations in the build, including the "detekt" configuration.

detekt relies on a specific version of kotlin-compiler-embeddable, and that specific  dependency version is now strictly enforced in the "detekt" Gradle configuration.

Gradle is reporting th

[2022-07-18 11:12] TWiStErRob commented on #4921
They do, it's just the question of DX-friendly defaults.

[2022-07-18 12:11] BraisGabin commented on #5088
Or `list.orEmpty().any { it == 4 }`. It could be a bit less performant but this is something that the compiler/R8 could fix.

[2022-07-18 12:31] #5015 closed

[2022-07-18 16:01] snyman opened #5093 "`UnusedUnaryOperator` false positive with `var` property setter and `if` expression"
## Expected Behavior

[code]
Should not trigger the `UnusedUnaryOperator` rule.

## Observed Behavior

The rule is triggered:
[code]

## Steps to Reproduce

See code snippet.

## Context

The snippet is fairly similar to the actual code. I am trying to set a `var` property with an `if` expression where one of the branches is just a constant negative value. I can work around it by bringing the nega

[2022-07-18 21:44] hfhbd opened #5094 "Sarif: Customize level"
## Expected Behavior
An option to set the level from warning to error

## Current Behavior
No option, all results are warning,

## Context
I use detekt with GitHub Actions. If I run `detekt` and the Gradle task failed with violations, this build action failed and is red. The uploaded sarif action results into a green successfully run, because the report only contains warnings, no errors.
I would e

[2022-07-18 21:51] #5049 closed

[2022-07-19 01:34] dzirbel opened #5097 "DetektGenerateConfigTask does not respect custom config locations in 1.21.0"
## Expected Behavior
Setting the `config` input on a custom `DetektGenerateConfigTask` should change the location where the config file is generated.

## Observed Behavior
The default configuration file is still created at the default location of `config/detekt/detekt.yml`.

## Steps to Reproduce
[code]

## Context
My team uses a custom task to create a default configuration at a custom location a

[2022-07-19 04:24] 3flex commented on #5021
Closing, as the cause was identified.

It seems the strict version dependency can be overridden by a custom resolution strategy. This might be one we have to keep educating users about.

[2022-07-19 04:25] #5021 closed

[2022-07-19 05:50] eygraber commented on #4036
The [Kotlin Multiplatform Gradle Plugin](https://github.com/JetBrains/kotlin/blob/8d79fab109f79fdb6272f73dcddbc472ac7a3af8/libraries/tools/kotlin-gradle-plugin/src/common/kotlin/org/jetbrains/kotlin/gradle/dsl/KotlinTargetContainerWithNativeShortcuts.kt#L29) has the following way of getting the common test source set:

[code]

[where `COMMON_TEST_SOURCE_SET_NAME` is defined as `"commonTest"`](http

[2022-07-19 08:00] JavierSegoviaCordoba opened #5102 "Generated markdown is not compatible with Test Summary Action"
I think one of the main purposes for that report was using it on Action, not sure if this should be reported as a bug or not tho.

![image](https://user-images.githubusercontent.com/7463564/179698556-0e7302f4-8fb0-4a99-bd47-ecf3d6d4e8c7.png)

[2022-07-19 08:55] javiyt commented on #5091
yep, I could run the detect task removing the constraint that enforced kotlin version. Thanks for pointing it out.

[2022-07-19 08:55] #5091 closed

[2022-07-19 10:47] Gama11 opened #5103 "ForbiddenImport with reason fails with a ClassCastException"
I was trying out the example config for  the new `reason` feature from https://github.com/detekt/detekt/pull/4611 (linked in the 1.21.0 release notes):

[code]

[code]

It fails with the following:

[code]

It works fine with the old style:

[code]

[2022-07-19 10:59] nuth opened #5104 "Control exit code by issue severity"
## Expected Behavior
I'd like to configure detekt to exit with a non-zero exit code if there are any findings with a severity level of `error`.

You could also make this configurable to say for instance if you have 10 errors, the build fails, or if you have 50 warnings the build fail etc.

Any issues with a severity level of `info` should never fail the build.

## Current Behavior
Currently you ca

[2022-07-19 11:57] marschwar commented on #5103
Thank you for reporting this.

[2022-07-19 12:23] BraisGabin commented on #5103
Which version of detekt are you using? If it's not `main` you can't use that yet... We need versiones documentation >_<.

[2022-07-19 13:36] EdwarDDay commented on #4753
This issue is closed, but it still happens in 1.21.0 (gradle plugin). Am I doing something wrong?
Example run: https://github.com/EdwarDDay/detekt-abstract-class-unnecessary/runs/7410220388?check_suite_focus=true
Example code:
[code]

[2022-07-19 13:52] Gama11 commented on #5103
Oh, I see... I guess I just misinterpreted the line in the release notes then, to me it sounded like this is something I can start using. :)

[2022-07-19 18:18] marschwar commented on #5103
Thank you for reading the Release Notes - a lost Art 😉 and trying it out.
The feature will be part of 1.22.x. So stay tuned.

[2022-07-19 18:18] #5103 closed

[2022-07-19 20:22] cortinico commented on #5103
Should we clarify this in the release notes somehow?

[2022-07-19 20:25] cortinico commented on #5104
I don't think this is doable out of the box as Severity is essentially unimplemented in Detekt (see https://github.com/detekt/detekt/discussions/4895#discussioncomment-2870899)

[2022-07-19 20:26] cortinico commented on #5102
Could you post the content of your report?

[2022-07-19 20:38] cortinico commented on #5094
This is another occurrence of our lack of support for Severity: https://github.com/detekt/detekt/discussions/4895#discussioncomment-2870899

@chao2zhang do you recall if Sarif has some extra support for error/warnings?

[2022-07-19 20:50] marschwar commented on #5103
We probably should have mentioned, that this only applies to rules that have been adapted to the new configuration option.

[2022-07-19 20:55] chao2zhang commented on #5094
I believe the severity is configurable at a ruleset level or at a rule level https://github.com/detekt/detekt/issues/3274

[2022-07-19 21:02] JavierSegoviaCordoba commented on #5102
I have searched on their repo and I found nothing :/

My md starts so:

[code]

[2022-07-20 02:42] hfhbd commented on #5094
Okay, but it is not possible to change the severity for all warnings: eg `warningsAsError`/`WError`?

[2022-07-20 02:45] chao2zhang commented on #5094
It's not possible through a single command line arg or a single line of config.yml at the moment. https://github.com/detekt/detekt/discussions/3942#discussioncomment-990805

[2022-07-20 08:13] t-kameyama commented on #5093
I will work on this issue.

[2022-07-20 16:09] rock3r opened #5108 "ExplicitItLambdaParameter false positives when "it" used on multi-argument lambda"
## Expected Behavior
The check should not flag arguments named `it` in multi-argument lambdas (you can't omit it)

## Observed Behavior
The argument gets flagged with the message ``This explicit usage of `it` as the lambda parameter name can be omitted.`` which is incorrect.

## Steps to Reproduce
Write a lambda with multiple params, for example:

[code]

## Context
While I understand it's weird t

[2022-07-20 16:11] #5093 closed

[2022-07-20 16:21] cortinico commented on #5108
I would argue that this is a really bad practice (we should probably have a rule about it).
But yeah this looks like a false positive and should be investigated

[2022-07-20 17:21] BraisGabin commented on #5108
Looking at [the documentation of this rule](https://detekt.dev/docs/rules/style/#explicititlambdaparameter) It seems that this is the desired behaviour:

https://github.com/detekt/detekt/blob/416efd5e5df5e2e2230d4007cc84d9c7c6bc3889/detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameter.kt#L21-L28

I think that what this rule does is to ensure that no

[2022-07-20 17:46] BraisGabin commented on #5102
What should we do here? The markdown seems fine. Should this be reported to the action itself? Maybe it's a bug on its side and if it's not they will point out what's the problem in our markdown.

[2022-07-20 17:58] JavierSegoviaCordoba commented on #5102
I can't even found the log message in their source code 🫠

So we are totally blocked and there is no other way than asking them.

[2022-07-20 18:14] BraisGabin commented on #5104
I'm wonderig if we should improve our implementation of seveity or if we should remove that severity concept completely from detekt. I don't see value to have different severities. If you have a rule you want to follow or ignore it. But we know that the warnings only add noise and nearly no one use them.

[2022-07-20 18:55] JavierSegoviaCordoba commented on #5102
https://github.com/test-summary/action/issues/10

[2022-07-20 22:09] marschwar commented on #5104
I am with Brais I guess. If you don't think a rule is worth breaking your build - disable it.

But I can see your point as well. Should we assign a severity to each rule and allow users to change it globally, per rule set and per rule?

[2022-07-21 09:22] nuth commented on #5104
Hmm, from what I can tell you can already adjust the severity for each rule https://github.com/detekt/detekt/issues/3274 I've also tested this and it seems to work?

I also see the point about generating noise, but at the same time if you use detekt together with for instance sonarqube, you have the option to discuss an issue and ignore it on a per instance basis.

With sonarqube you also have the

[2022-07-21 09:38] rock3r commented on #5108
I'm not arguing it should not somehow be flagged — I'm arguing that it should not be flagged by this rule, or at the very least it should provide correct error message, since the current one doesn't apply to this situation (you can't just omit it)

[2022-07-21 10:03] TWiStErRob commented on #4753
That is very strange since that almost exact example is in a unit test:

https://github.com/detekt/detekt/pull/4399/files#diff-28879f691cfd6348ba8a90a837260b8c317e548295c9c400b1199de7bafdc8f4R75-R85

[2022-07-21 10:23] TWiStErRob commented on #4753
I can confirm that the fix did not fix the reported problem:
https://github.com/TWiStErRob/net.twisterrob.cinema/pull/173/files

[2022-07-21 10:23] TWiStErRob commented on #4753
@BraisGabin ca  you please reopen?

[2022-07-21 19:22] marschwar commented on #5104
Thank you for pointing that out. i was not aware of it.

With regards to new code, you could use [the baseline feature](https://detekt.dev/docs/introduction/baseline).

[2022-07-21 19:36] nuth commented on #5104
Considered that already, but I really want the information reported to sonarqube... sitting in the baseline the issues will be a bit too hidden away and also it won't discriminate between hard requirements and the ones that should be applied to new code only.

I appreciate the suggestion though.

[2022-07-21 19:37] BraisGabin commented on #5104
I assume that you mean old code, right @marschwar? The baseline feature is great to introduce detekt to an already existing project.

[2022-07-21 22:48] dzirbel opened #5111 "UnreachableCode false positives when invoking an error function which cannot be resolved"
## Expected Behavior
When encountering a field or function named `error` which cannot be resolved by type resolution, the `UnreachableCode` rule shouldn't assume it is `kotlin.error()`.

## Observed Behavior
This unit test fails:
[code]

This one does not, since the function is not named `error`:
[code]

It also does not fail if `error` can be resolved (i.e. is declared in the code block itself),

[2022-07-22 14:17] anticafe opened #5113 "XML report is empty"
## Expected Behavior
When XML report is enabled, then the report should not be empty.

## Observed Behavior
But I notice for now the XML report is empty (`<?xml version="1.0" encoding="UTF-8"?><checkstyle version="4.3"></checkstyle>`).

## Steps to Reproduce
I use the sample code (https://github.com/arturbosch/kutils) which is listed in the ReadMe.
The, enable the XML report
[code]

## Context
Sin

[2022-07-22 14:31] cortinico commented on #5113
A couple of things to note here:
- You're not configuring reports correctly. The correct way is documented here: https://detekt.dev/docs/gettingstarted/gradle#reports
- The XML report is empty if there are no findings. Are you sure there are findings in your project but they're omitted in the report?

[2022-07-22 15:08] anticafe commented on #5113
Hi @cortinico
1. Yes I also try to use the new detekt configuration, but see the same result.
[code]
2. Here is the HTML report.  Although there is no finding, but there are Metrics & Complexity Report.
<img width="413" alt="image" src="https://user-images.githubusercontent.com/340836/180468501-326e9369-a31d-4407-bde0-1aa98489e093.png">

[2022-07-22 15:23] marschwar commented on #5113
There you go. There are nö findings. The [XML report](https://github.com/detekt/detekt/blob/main/detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt) does not include the complexity metrics.

[2022-07-22 15:32] anticafe commented on #5113
🥲  Got it. Thank you @marschwar .
@cortinico Should we update the documentation to clarify which info would be show in the HTML, XML.. report?

[2022-07-22 15:42] marschwar commented on #5113
The [documentation](https://detekt.dev/docs/introduction/reporting/#formats) states that it is checkstyle compatible. Do you think we need to describe what all it does NOT contain?

[2022-07-22 17:13] evg64 opened #5114 "UndocumentedPublicProperty false positive when property is documented in class header"
I have a problem with how rule UndocumentedPublicProperty works.
Say, we have the following class:
[code]

## Expected Behavior
Detekt says there are no problems with documentation (KDoc) of property `bar`.

## Observed Behavior
Deteks says, that property `bar` has no documentation.

## Steps to Reproduce
Run detekt over the class above.

## Context
KDoc supports documenting properties in class he

[2022-07-22 18:47] scottkennedy commented on #4955
Okay I have one example of this in 1.21.0.

Kotlin 1.7.10, Gradle 7.5.

I unfortunately can't post the whole file, nor am I able to get a smaller reproduction.

But it's something like:
[code]

That `UnusedImport` isn't used anywhere else in the file.

[2022-07-22 19:17] marschwar commented on #5114
To me the [documentation](https://kotlinlang.org/docs/kotlin-doc.html#property-name) seems to suggest that this is reserved for properties that are defined in the primary constructor. I have not checked if that is supported by detekt or not.

[2022-07-22 21:22] schalkms commented on #5114
This is not a bug, in my opinion. The detekt rule `UndocumentedPublicProperty` doesn't diverge from the KDoc specification. As seen in the [doc](https://kotlinlang.org/docs/kotlin-doc.html#property-name), `@property` should only be used for documenting parameters declared in the primary constructor.

Documents the property of a class which has the specified name. This tag can be used for documenti